@media screen and (min-width : 1450px){ /* pour résolution supérieur à 1450px */
	.jewel_form{
		grid-template-columns: repeat(auto-fill,220px);
		grid-gap: 40px;
		display: grid;
		margin: 10px 0 14px 7.5%;
	}
	.hero_form{
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
	}
	.relics_form_container{
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
	}
}

@media screen and (max-width : 1300px){ /* pour résolution inférieur à 1300px */
	.skin_form{
		margin-left: 4px;
	}
	.talent{
		flex-direction: column;
	}
	.talent_form{
		display: grid;
		grid-template-columns: repeat(2, 100px);
		margin-top: 10px;
		margin-left: 10px;
		height: 215px;
	}
	.jewel_form{
		grid-template-columns: repeat(auto-fill,200px);
		grid-gap: 40px;
		display: grid;
		margin: 10px 0 14px 10%;
	}
}

@media screen and (min-width : 1300px){ /* pour résolution supérieur à 1300px */
	.skin_form{
		margin-left: 10px;
	}
	.jewel_form{
		grid-template-columns: repeat(auto-fill,220px);
		grid-gap: 60px;
		display: grid;
		margin: 10px 0 14px 9%;
	}
}

@media screen and (max-width : 1070px){ /* pour résolution inférieur à 1070 */
	.hero_form{
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
	}
	.relics_form_container{
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
	}
	.jewel_form{
		grid-template-columns: repeat(auto-fill,200px);
		grid-gap: 50px;
		margin: 10px 0 14px 7%;
	}
}

@media screen and (min-width : 1070px){ /* pour résolution supérieux à 1070px */	
	.hero_form{
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
	}
	.relics_form_container{
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
	}
}

@media screen and (min-width: 780px){ /* pour résolution supérieur à 780px */
	.index-table th, .index-table #td-table-stats-index{
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	table thead{
		margin-bottom: 10px;
	}
	td:first-child{
		width: 65px;
	}
	td:nth-child(2){
		width: 65px;
	}
	td:nth-child(3){
		width: 65px;
	}
}

@media screen and (max-width: 780px){ /* pour résolution inférieur à 780px */
	.skin_image{
		width: 60%;
	}
	.skin_form input{
		width: 50px;
	}
	.altar_form input{
		width: 50px;
	}
	table thead{
		margin-bottom: 10px;
	}
	td:first-child{
		width: auto;
	}
	td:nth-child(2){
		width: auto;
	}
	td:nth-child(3){
		width: auto;
	}
}

@media screen and (min-width : 614px){/* pour résolution supérieur à 614px */
	.img-light{
		position: relative;
		background-color: transparent;
		width: 205px;
		left: 261px;
		top: -37px;
	}
	.image-div-stuff{
		max-width: 550px;
	}
	.detail-stats{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.altar{
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
}

@media screen and (max-width : 613px){/* pour résolution inférieur à 613px */
	.image-div-stuff{
		max-height: 600px;
		max-width: 550px;
	}
	.main-affiche{
		margin-top: 12px;
		margin-bottom: 12px;
	}
	.detail-stats{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.altar{
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 600px) {
	.table th,.table td {
		padding: 0.75rem;
	}
}
@media screen and (max-width: 600px) {
	.profile-card {
	  padding: 10px;
	}
	.avatar-container {
	  margin-bottom: 10px;
	}
	.avatar-container img {
	  width: 60px;
	  height: 60px;
	}
	.info-container h3 {
	  font-size: 20px;
	}
	.stat {
	  margin-bottom: 10px;
	}
  	.btn-table {
	  font-size: 14px;
	  padding: 5px 10px;
	}
	form{
		width: 100%;
	}
	.table th,.table td {
		padding: 0.6rem;
	}
}

@media screen and (max-width : 500px){/* pour résolution inférieur à 500px */
	body, .main-index{
		width: 100%;
	}
	.hero_row{
		display: none;
	}
}


@media screen and (min-width : 415px){/* pour résolution supérieur à 400px */
	.talent_form{
		display: grid;
		grid-template-columns: repeat(2, 210px);
		height: 215px;
	}
	.egg_equipped{
		margin-top: 20px;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(2, 165px);
		align-items: center;
		justify-items: center;
	}
	.index-table th, .index-table #td-table-stats-index{
		padding-left: 7px;
		padding-right: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.id_error_msg, .fa-exclamation-triangle{
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 2px 10px 2px 10px;
		min-height: 19px;
		height: 100%;
		display: flex;
		flex-direction: row;
	}
	.stats-box h3 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.stats-box p {
		font-size: 26px;
		font-weight: bold;
	}
}

@media only screen and (max-width: 480px) {
	#pagination {
		flex-wrap: nowrap;
	}
	#pagination button {
		display: none;
	}
	#pagination button:nth-child(-n+3),
	#pagination button.active,
	#pagination button:last-child {
		display: block;
	}
}
@media only screen and (max-width: 768px) {
	#pagination button {
		margin: 8px 4px;
		padding: 8px 12px;
	}
}

@media screen and (max-width : 415px){/* pour résolution inférieur à 400px */
	*{
		font-size: small;
	}
	select, input{
		width: auto;
	}
	.hero_form{
		display: grid;
		grid-template-columns: repeat(auto-fill,164px);
	}
	.relics_form_container{
		display: grid;
		grid-template-columns: repeat(auto-fill,164px);
	}
	.talent_form{
		display: grid;
		grid-template-columns: repeat(2, auto);
		height: 215px;
	}
	.egg_equipped{
		margin-top: 20px;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(auto-fill, 130px);
		align-items: center;
	}
	.index-table th, .index-table #td-table-stats-index{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.id_error_msg, .fa-exclamation-triangle{
		justify-content: center;
		align-items: center;
		padding: 2px 8px 2px 8px;
		height: 25px;
		overflow: scroll;
		display: flex;
		flex-direction: row;
		font-size: xx-small;
	}
	.stats-box h3 {
		font-size: 12px;
		margin-bottom: 8px;
	}
	.stats-box p {
		font-size: 16px;
		font-weight: 600;
	}
	.image_damage_type_stats{
		width: 40px;
		height: 40px;
	}
	.container-form{
		width: 100%;
	}
}

@media screen and (max-width : 335px){/* pour résolution inférieur à 335px */
	.hero_form{
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
	}
	.relics_form_container{
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
	}
	.egg_equipped{
		margin-top: 20px;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(auto-fill, 95px);
		align-items: center;
	}
}

@media screen and (max-width : 326px){/* pour résolution inférieur à 300px */
	.self_table_hp_row{
		display: none;
	}
	.table_hp_row{
		display: none;
	}
}


select {
	background-color: #DFE8E3;
	border-color: #9CB4B5;
	padding: 2px;
	border-radius: 5px;
}
option {
	background-color: transparent;
	color: black;
}
input{
	background-color: transparent;
	color: black;
	border: none;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
main{
	display: flex;
    flex-direction: column;
}
/*       AFFICHE.HTML          */
/*       AFFICHE.HTML          */
/*       AFFICHE.HTML          */
/*       AFFICHE.HTML          */
/*       AFFICHE.HTML          */
/*       AFFICHE.HTML          */
/*       AFFICHE.HTML          */
.main-affiche{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.contain-image-stuff{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-bottom: 80px;
}
.go_to_details{
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0px solid black;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 10px;
	background-color: rgb(231,198,171);
	z-index: 49;
}
.debug_container{
	display: flex;
	flex-direction: column;
	background-color: #DFE8E3;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}
.dev_div{
	cursor: pointer;
	border: 0px solid black;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	z-index: 49;
	padding: 4px;
}
.dev_div:hover a{
	background-color: #272222;
	color: white;
}
.image-stuff-result-container{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.image-stuff-result{
	height: 100%;
	width: 100%;
	border: solid;
	border-width: 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.detail-stats{
	width: calc(100% - 20px);
	max-width: 550px;
}
.stats-box {
	background-color: #F8D48B;
	border: solid 1px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.center_content{
	justify-content: center;
	display: flex;
	align-items: center;
}
.damage_container_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.stat-item {
	width: 30%;
	text-align: center;
}  
.stats-box h3 {
	display: flex;
	justify-content: center;
}
/*       FORMULAIRE.HTML          */
/*       FORMULAIRE.HTML          */
/*       FORMULAIRE.HTML          */
/*       FORMULAIRE.HTML          */
/*       FORMULAIRE.HTML          */
/*       FORMULAIRE.HTML          */
/*       FORMULAIRE.HTML          */
.container-form{
	align-items: center;
    display: flex;
    flex-direction: column;
}
.stuff{
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: left;
}
.refine_form, .medals_form{
	margin-left: 10px;
}
.refine_form input{
	width: 65px;
}
.form_stuff select{
	width: 85px;
}
.form_stuff input{
	max-width: 56px;
	margin-left: 6px;
}
.form_stuff{
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bold;
}
.container-hero{
	display: flex;
}
.atreus, .urasil, .phoren, .taranis, .helix, .meowgik, .shari, .ayana, .onir, .rolla, .bonnie, .sylvan, .shade, .ophelia, .ryan, .lina, .aquea, .shingen, .gugu, .iris, .blazo, .melinda, .elaine, .bobo{
	width: 120px;
	margin-left: 5px;
}
.talent{
	display: flex;
	margin-bottom: 10px;
}
.talent input{
	width: 60px;
}
.skin{
	display: flex;
	flex-direction: column;
}
.skin_image{
	border: 0px solid black;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.egg_form{
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	text-align: center;
}
.egg_form select{
	border: none;
	background-color: transparent;
	width: 55px;
}
.container_egg{
	display: flex;
	flex-direction: row;
	gap: 2px;
}
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	font-size: 78%;
	margin-right: 15px;
}
.popup .popuptext {
	visibility: hidden;
	width: 236px;
	height: 184px;
	background-color: white;
	font-weight: bold;
	font-size: medium;
	color: black;
	text-align: center;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-color: black;
	border-style: solid;
	position: absolute;
	z-index: 1;
	bottom: 50px;
	margin-left: -100px;
}
.popup .show {
	visibility: visible;
}
.popup2 {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	margin-right: 15px;
}
.popup2 .popuptext2 {
	visibility: hidden;
	width: 206px;
	height: 250px;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-color: black;
	border-style: solid;
	position: absolute;
	z-index: 1;
	bottom: 30px;
	margin-left: -128px;
}
.popup2 .show {
	visibility: visible;
}
.popup3 {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	margin-right: 15px;
}
.popup3 .popuptext3 {
	visibility: hidden;
	width: 190px;
	height: 245px;
	background-color: white;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-color: black;
	border-style: solid;
	position: absolute;
	z-index: 1;
	top: -116px;
	margin-left: -201px;
}
.popup3 .show {
	visibility: visible;
}
.monster_munch_icon{
	width: 35px;
	height: 35px;
}
.container{
	border-style: solid 0px;
	border-radius: 8px;
	border-color: black;
	padding: 10px 0px 10px 10px;
	margin:  10px 0px 10px 0px;
	background-color: #F8D48B;
}
.runes_form{
	grid-template-columns: repeat(auto-fill,285px);
	display: grid;
}
.container_rune{
	display: flex;
    flex-flow: column;
    width: -webkit-fill-available;
	border-radius: 8px;
}

.legend_rune_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2px;
}
.container_rune input{ 
	width: 50px;
}
.container_rune select{
	width: 70px;
}
.fa-percent:before, .fa-percentage:before{
	color: #1c2429;
}
.submit-input{
	margin-left: 45%;
	color: #fff;
    background-color: #007bff;
    font-weight: 400;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
	margin-bottom: 10px;
    text-align: center;
	cursor: pointer;
}
.jewel_table{
	border: solid 1px #777;
    border-radius: 12px;
    padding: 25px 10px 13px 30px;
}
.weapon_jewel_table{background-repeat: no-repeat;background-image: url(image/background/jewel_weapon_background.png);}
.armor_jewel_table{background-repeat: no-repeat;background-image: url(image/background/jewel_armor_background.png);}
.ring1_jewel_table, .ring2_jewel_table{background-repeat: no-repeat;background-image: url(image/background/jewel_ring_background.png);}
.pet1_jewel_table, .pet2_jewel_table{background-repeat: no-repeat;background-image: url(image/background/jewel_pet_background.png);}
.bracelet_jewel_table{background-repeat: no-repeat;background-image: url(image/background/jewel_bracelet_background.png);}
.locket_jewel_table{background-repeat: no-repeat;background-image: url(image/background/jewel_locket_background.png);}
.book_jewel_table{background-repeat: no-repeat;background-image: url(image/background/jewel_book_background.png);}

.dragon_form{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 240px));
	gap: 8px;
}
.dragon_choice{
	margin-bottom: 14px;
}
.dragon_form input{
	width: 40px;
	text-align: center;
}
.dragon_box{
	width: max-content;
	border-radius: 8px;
}
.dragon_box legend{
	display: flex;
	gap: 2px;
	text-align: center;
    align-items: center;
}
.dragon_content{
	display: flex;
	flex-direction: row;
	gap: 4px;
}
.ingame-name{
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
}
input:invalid {
	border: red solid 3px;
}
.error_data_missing{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: medium;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px red;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.error_form{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: medium;
	text-align: center;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
}
.fa-exclamation-triangle{
	color: white;
    background-color: #FF5555;
    border-radius: 10px 0 0 10px;
}
.id_error_msg{
	background-color: white;
    color: #FF5555;
    border-radius: 0 10px 10px 0;
}
.owner-error-child{
	padding: 10px 10px 10px 10px;
    box-shadow: inset 0px 0px 20px 3px white;
	-webkit-box-shadow: inset 0px 0px 20px 3px white;
	-moz-box-shadow: inset 0px 0px 20px 3px white;
	-o-box-shadow: inset 0px 0px 20px 3px white;
	-ms-box-shadow: inset 0px 0px 20px 3px white;
    background-color: #F8D48B;
    color: black;
	font-weight: bold;
	margin-top: 10px;
	border-style: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	width: fit-content;
}
.jewel_form input{
	width: 45px;
}
.refine_help_image{
	width: 100%;
	height: auto;
}
.medals_container{
	display: grid;
	gap: 2px;
	grid-template-columns: repeat(auto-fill,60px);
}
.relics_form_container{
	justify-content: center;
	gap: 1px;
}
.tutorial_relics{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.tutorial_relics li{
	list-style-type: none;
}
.container-relic input{
	width: 60px;
}
.container-relic {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 8px;
}
.header-relic-card img {
	max-width: 100%;
	max-height: 52px;
	max-width: 52px;
	display: flex;
	object-fit: contain;
}
.container_boost {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	justify-content: center;
	margin-top: 10px;
	padding: 0 20px;
}
.container_boost span {
	margin-bottom: 5px;
	text-align: start;
}
.public_id_hiden, #user_profile{
	position: absolute;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	width: 0;
	height: 0;
}
.weapon_skin_form {
	display: flex;
    flex-direction: column;
}
.checkbox-weapon-skin {
	position: relative;
	display: inline-flex;
	align-items: center;
}
.container-weapon-skin{
	margin-top: 10px;
}
.checkbox-weapon-skin input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	width: 0;
	height: 0;
}
.checkbox-weapon-skin label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border: 0px solid #ccc;
	border-radius: 5px;
	filter: grayscale(0.9);
}
.checkbox-weapon-skin img {
	max-width: 100%;
	max-height: 100%;
}
.checkbox-weapon-skin input[type="checkbox"]:checked + label {
	filter: grayscale(0);
	background-color: #e95858;
}
@media (max-width: 767px) {
	.checkbox-weapon-skin label {
	  width: 40px;
	  height: 40px;
	}
  }
/*       INDEX.HTML          */
/*       INDEX.HTML          */
/*       INDEX.HTML          */
/*       INDEX.HTML          */
/*       INDEX.HTML          */
/*       INDEX.HTML          */
/*       INDEX.HTML          */
.div_formulaire{
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	background-color: #3686c7;
    border-style: solid;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
    border-width: 1px;
    text-align: center;
}
.div_formulaire a{
	color: white;
    text-decoration: none;
}
.main-index{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.btn-table{
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	padding: 6px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	font-size: 0.9rem;
	color: #fff;
	background-color: #00bfff;
}
.div-table-index{
	display: flex;
	flex-direction: column;
	gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: #fff;
	border-collapse: collapse;
}
.table th,
.table td {
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}
.table tbody+tbody {
	border-top: 2px solid #dee2e6;
}
.table-responsive {
	display: block;
	width: 95%;
}
.profile-card {
	width: 80%;
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}  
.avatar-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.avatar-container img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}
.info-container {
	text-align: center;
	margin-bottom: 20px;
}
.info-container h3 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
}
.stat-container {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
}
.stat .label {
	font-weight: bold;
	color: #666;
}  
.button-container {
	display: flex;
	justify-content: space-between;
}
#pagination{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#pagination button {
	background-color: lightgray;
	border: none;
	color: black;
	cursor: pointer;
	margin: 8px;
	padding: 8px 16px;
	text-align: center;
}
#pagination button.active {
	background-color: #2eb8e6;
	color: white;
}
.help-index-msg{
	display: flex;
    justify-content: center;
    width: 60%;
}
/* DARKMODE INDEX TABLE */
.body_dark_mode .table {
    background-color: #191919;
    color: #fff;
    border-collapse: collapse;
}
.body_dark_mode .table th,
.body_dark_mode .table td {
    border-top: 1px solid #4f4f4f;
}
.body_dark_mode .table thead th {
    border-bottom: 2px solid #4f4f4f;
}
.body_dark_mode .table tbody+tbody {
    border-top: 2px solid #4f4f4f;
}
/* DARKMODE PROFILE CARD */
.body_dark_mode .profile-card {
    background-color: #2f2f2f;
    border-color: #666;
    color: #fff;
}
.body_dark_mode .profile-card .btn-table {
    color: #fff;
    background-color: #5b8796;
}
.body_dark_mode .profile-card .avatar-container img {
    border: 3px solid #666;
}
.body_dark_mode .profile-card .info-container h3 {
    color: #fff;
}
.body_dark_mode .profile-card .stat .label {
    color: #bbb;
}
.body_dark_mode .profile-card .button-container .btn-table:hover {
    background-color: #0080ff;
}
.body_dark_mode .go_to_details{
	background-color: #525a6c;
	color: white;
}
.body_dark_mode .go_to_details a{
	color: #1C1459;
}
.body_dark_mode .stats-box{
	background-color: #4b4b4b;
    color: rgb(228, 228, 228);
    border: solid 0px;
    border-bottom: 1px solid;
}
.body_dark_mode .container{
	background-color: #525a6c;
}
.body_dark_mode .container_rune,
.body_dark_mode .jewel_table,
.body_dark_mode .dragon_box{
	border: black solid 1px;
}
.body_dark_mode .jewel_table{
	filter: drop-shadow(2px 4px 6px black);
}
.body_dark_mode .jewel_table th{
	color: rgb(228, 228, 228);
}
.body_dark_mode .ingame-name{
	color: rgb(228, 228, 228);
}
.body_dark_mode .checkbox-weapon-skin input[type="checkbox"]:checked + label {
	background-color: #272222;
}
.body_dark_mode .div_formulaire{
	background: radial-gradient(ellipse at top, #8750e1, #6539b2);
}
.body_dark_mode .div_formulaire a{
	color: rgb(228, 228, 228);
}
.body_dark_mode .btn-table{
	background: #525a6c;
	color: rgb(228, 228, 228);
	border: solid 1px #000;
}
.body_dark_mode .msg-index-no-profile{
	color: white;
}
.body_dark_mode .msg-index-no-profile a{
	text-decoration: none;
	color: #c58af9;
}
.body_dark_mode #pagination button.active {
	background-color: #45385c;
}
