@font-face {
	font-family: 'Rubik';
	src: url("/static/fonts/rubik.otf");
}
*{
	font-family: 'Rubik', sans-serif;
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
@media screen and (min-width : 850px){/* pour résolution supérieur à 850px */
	.wrap-login100 {
		justify-content: space-between;
	}
}
@media screen and (max-width : 850px){/* pour résolution supérieur à 400px */
	.wrap-login100 {
		justify-content: center;
	}
}

@media screen and (min-width : 520px){/* pour résolution supérieur à 400px */
	.wrap-login100 {
		padding: 60px 130px 80px 95px;
	}
}

@media screen and (max-width : 520px){/* pour résolution inférieur à 400px */
	.wrap-login100 {
		padding: 60px 5px 80px 35px;
	}
}

@media screen and (max-width : 400px){/* pour résolution inférieur à 400px */
	.wrap-login100 {
		padding: 60px 5px 80px 10px;
	}
}

@media screen and (max-width : 350px){/* pour résolution inférieur à 400px */
	.wrap-input100 .fieldset-input {
		padding: 0 5px 30px 5px;
	}
	.form-row{
		width: 100%;
	}
}

@media screen and (min-width : 350px){/* pour résolution inférieur à 400px */
	.wrap-input100 .fieldset-input {
		padding: 0 60px 30px 30px;
	}
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
body, html {
	height: 100%;
	font-family: sans-serif;
}
/*---------------------------------------------*/
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
	color: #57b846;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}
/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
	width: 100%;
	margin: 0 auto;
}
.container-login100 {
	width: 100%;  
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}
/*------------------------------------------------------------------
[  ]*/
.login100-pic {
	width: 20vw;
	max-width: 316px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login100-pic img {
	max-width: 100%;
}
.wrap-login100 {
	width: 90vw;
	background: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-content: center;
	gap: 10px;
	max-width: 960px;
}
/*------------------------------------------------------------------
[  ]*/
.login100-form {
	width: 290px;
}
.login100-form-title {
	font-size: 24px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 54px;
}
#submit-btn:focus{
	border: 2px solid black;
}
/*---------------------------------------------*/
.wrap-input100 {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
}
.wrap-input100 .fieldset-input input {
	font-size: 15px;
	line-height: 1.5;
	background: #e6e6e6;
	width: 100%;
}
.wrap-input100 .fieldset-input input::placeholder{
	font-size: 13px;
	color: #5858585d;
}
legend{
	font-weight: bold;
	font-size: medium;
}
.wrap-input100 .fieldset-input {
	color: #666666;
	display: block;
	width: 100%;
	background: #e6e6e6;
	height: 50px;
	border-radius: 25px;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	margin-bottom: 20px;
}
.login100-form-btn {
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #57b846;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
}
.login100-form-btn:hover {
	background: #333333;
}
/*------------------------------------------------------------------
[ Error ]*/
#errorBox {
	display: none;
}
.error-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}
.container-error {
	background-color: #f44336;
	color: #fff;
	font-size: 14px;
	padding: 15px;
	text-align: center;
}
.close_span_error {
	cursor: pointer;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	right: 15px;
	top: 8px;
}
#error_msg {
	margin-top: 10px;
	font-size: medium;
	font-weight: 600;
}
/*------------------------------------------------------------------
[ Confirmation ]*/
.confirmation-box{
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 600px; 
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 15px;
	border: solid 1px black;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.container-confirmation{
	width: 100%;
}
.close_span_confirmation{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}
.container-action{
	display: flex;
	flex-direction: row;
	gap: 50%;
	padding: 8px 0 8px 0;
	width: 100%;
	justify-content: center;
}
.container-action #confirm, .container-action #cancel{
	padding: 4px;
	width: 40px;
	background-color: #e1e1e1;
	border: solid 0px;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
   	-o-border-radius: 2px;
}
.list-info-login{
	font-size: small;
	font-style: italic;
	list-style-type: none;
}


.input-login-field:invalid{
	color: red;
}
.input-login-field:valid{
	color: #666666;
}

/* MODALE */
.modals {
	position: fixed;
	top: 80vh;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.modals-contenu {
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	text-align: center;
}  
.modals-contenu h2 {
	margin-top: 0;
}  
.modals-contenu button {
	margin-top: 1rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}