@font-face {
	font-family: 'Rubik';
	src: url("/static/fonts/rubik.otf");
}
*{
	font-family: 'Rubik';
}

@media screen and (min-width : 1200px){/* pour résolution supérieur à 400px */
	.cmcath{
		margin-left: 4.3%;
	}
	.header-container{
		height: 65px;
	}
	.sidebar{
		width: 4.3%;
		height: 100%;
	}
	.sidebar-active{
		width: 16%;
	}
	.traveling{
		display: flex;
	}
	.sidebar-icon{
		height: 75px;
	}
}

@media screen and (max-width : 1200px){/* pour résolution inférieur à 1200px */
	.cmcath{
		margin-left: 8%;
	}
	.sidebar{
		width: 8%;
		height: 100%;
	}
	.sidebar-active{
		width: 18%;
	}
	.sidebar-icon{
		height: 75px;
	}
	.traveling{
		display: flex;
	}
	.header-container{
		height: 56px;
	}
}

@media screen and (max-width : 780px){/* pour résolution inférieur à 400px */
	.cmcath{
		margin-left: 12%;
	}
	.sidebar{
		width: 12%;
	}
	.sidebar-active .rightsidebarc{
		margin-right: 10px;
	}
	.sidebar-active{
		width: 23%;
	}
	.traveling{
		display: flex;
	}
	.header-container{
		height: 65px;
	}
	.shcl{
		font-size: small;
	}
}

@media screen and (max-width : 500px){/* pour résolution inférieur à 400px */
	.cmcath{
		margin-left: 0%;
	}
	.header-container{
		min-height: 45px;
		max-height: 45px;
	}
	.sidebar{
		width: 16%;
		min-width: 28px;
		height: auto;
		border-bottom-right-radius: 10px;
	}
	.sidebar .ScIconSVG-sc-1q25cff-1{
		width: 85%;
		height: 85%;
	}
	.traveling{
		display: none;
	}
	.sidebar-active .traveling{
		display: flex;
	}
	.sidebar-active{
		height: 100%;
		width: 40%;
	}
	.sidebar-active .rightsidebarc{
		margin-right: 3px;
	}
	.sidebar-icon{
		height: 45px;
	}
	.shcl{
		font-size: small;
		text-align: center;
		margin-left: 6px;
	}
}

body{
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
}


.header-container{
	display: flex;
	flex-direction: row;
	background: linear-gradient(to right, #e76349,#d50400);
}

.header-container-1, .header-container-3{
	height: 100%;
	width: 15%;
}
.header-container-2{
	height: 100%;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: ivory;
	text-transform: capitalize;
}
.globe_header_icon{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 4px;
}
.globe_header_icon i{
	font-size: large;
}
.globe_header_icon select{
	background-color: transparent;
	border: none;
	font-weight: bold;
}
.globe_header_icon i, .globe_header_icon select{
	color: ivory;
}
.body_dark_mode .globe_header_icon option{
	background-color: #551a8b;
}
.globe_header_icon option{
	background-color: #d50400;
	font-weight: bold;
}
.body_dark_mode .header-container{
	/* background: linear-gradient(to left, #d41459, #911a6c); */
	background: #551a8b;
}
.body_dark_mode .header-container h2{
	font-weight: 800;
	color: #E4E4E4
}
.sidebar{
	z-index: 50;
	display: flex;
	flex-direction: column;
	transition: width ease 0.6s;
	background-color: #263238;
	user-select: none;
}
.sidebar-position-a{
	position: absolute;
}
.sidebar-position-f{
	position: fixed;
}
.sidebar-active{
	transition: width ease 0.6s;
}
.sidebar-icon{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center	;
}
.leftsidebarc{
	height: 100%;
	width: 0%;
	transition: width ease 0.6s;
	display: flex;
    flex-direction: column;
    text-align: center;
}
.leftsidebarc .lcontent{
	opacity: 0;
	display: none;
}
.rightsidebarc{
	cursor: pointer;
	height: 100%;
	max-width: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
	transition: width ease 0.6s;
}
.sidebar-active .leftsidebarc{
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
	transition: width ease 0.6s;
}
.sidebar-active .leftsidebarc .lcontent{
	opacity: 1;
}
.sidebar-active .rightsidebarc{
	height: 100%;
	min-width: 30px;
	max-width: 30px;
}
.rightsidebarc svg{
	transform: rotate(0deg);
	transition: transform ease 0.6s;
}
.sidebar-active .rightsidebarc svg{
	transform: rotate(180deg);
	transition: transform ease 0.6s;
}
.sidebar-content{
	height: 100%;
	display: flex;
	text-align: center;
    justify-content: center;
    align-items: center;
}
.traveling{
	height: 500px;
    flex-direction: column;
    text-align: center;
}
.sidebar-active .traveling{
	align-items: center;
	height: 500px;
	overflow-y: auto;
}
.shcl{
	overflow: hidden;
	color: aliceblue;
	text-transform: uppercase;
	width: 100%;
	position: relative;
	left: -150px;
	transition: left ease 0.6s;
}
.sidebar-active .shcl{
	overflow: hidden;
	color: aliceblue;
	text-transform: uppercase;
	width: 100%;
	position: relative;
	left: 0px;
	display: flex;
	flex-direction: column;
	transition: left ease 0.6s;
}
.traveling-left, .traveling-right{
	justify-content: center;
}
.traveling-inline-div{
	cursor: pointer;
	height: 48px;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	user-select: none;
}
#darkmodeSWITCH, #svg-filter-sidebar{
	filter: invert(1) sepia(1) hue-rotate(172deg);
}
.body_dark_mode #darkmodeSWITCH, .body_dark_mode #svg-filter-sidebar{
	filter: invert(0.5) sepia(1) hue-rotate(172deg);
}
.body_dark_mode #svg-filter-home{
	filter: invert(0.5) sepia(1) hue-rotate(172deg);
}
.sidebar-open #Menu-sidebar-image:hover::after,
.sidebar-open #Item-sidebar-image:hover::after,
.sidebar-open #Upgrade-sidebar-image:hover::after,
.sidebar-open #Skill-sidebar-image:hover::after,
.sidebar-open #Maze-sidebar-image:hover::after,
.sidebar-open #Wiki-sidebar-image:hover::after,
.sidebar-open #Heroes-sidebar-image:hover::after,
.sidebar-open #Stats-sidebar-image:hover::after,
.sidebar-open #Sheet-sidebar-image:hover::after,
.sidebar-open #Damage-sidebar-image:hover::after,
.sidebar-open #Promos-sidebar-image:hover::after{
	position: fixed;
	left: 75px;
    border: black 1px solid;
    background-color: white;
    padding: 4px;
}
.sidebar-open #Menu-sidebar-image:hover::after{ content: "Menu";}
.sidebar-open #Item-sidebar-image:hover::after{ content: "Item";}
.sidebar-open #Upgrade-sidebar-image:hover::after{ content: "Upgrade";}
.sidebar-open #Skill-sidebar-image:hover::after{ content: "Skill";}
.sidebar-open #Maze-sidebar-image:hover::after{ content: "Maze";}
.sidebar-open #Wiki-sidebar-image:hover::after{ content: "Wiki";}
.sidebar-open #Heroes-sidebar-image:hover::after{ content: "Heroes";}
.sidebar-open #Stats-sidebar-image:hover::after{ content: "Stats";}
.sidebar-open #Sheet-sidebar-image:hover::after{ content: "Sheet";}
.sidebar-open #Damage-sidebar-image:hover::after{ content: "Damage";}
.sidebar-open #Promos-sidebar-image:hover::after{ content: "Promotion Code";}


.bg-traveling{
	background-color: #161c1f;
}




/* NOSCRIPT MESSAGE */
#no-script-message {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f2f2f2;
	padding: 20px;
	border: 1px solid #ccc;
	text-align: center;
	width: 50%;
	max-width: 300px;
	z-index: 999;
}


/* Message login success */
#messages{
	display: flex;
	position: fixed;
	top: 90%;
	left: 52%;
	transform: translate(-50%, -50%);
	border: 0px solid black;
	border-radius: 10px;
	z-index: 999;
	opacity: 1;
	transition: opacity 0.6s ease-out;
}
#messages #messages-tags{
	padding: 15px 30px 15px 30px;
	border: 0px solid black;
	border-radius: 10px;
	margin: 0;
	color: white;
	font-size: 1.2em;
	width: 100%;
}
.success-messages{
	color: #267612;
}
.error-messages{
	color: #d50400;
}
.close_span_message{
	position: absolute;
    top: 0px;
    left: -8px;
    width: 100%;
    cursor: pointer;
    justify-content: end;
    display: flex;
}