@font-face {
	font-family: 'Rubik';
	src: url("/static/fonts/rubik.otf");
}
*{
    margin: 0;
	font-family: 'Rubik';
}

@media screen and (min-width : 1200px){/* pour résolution supérieur à 1200px */
	.container-hcf{
		margin-left: 4.3%;
	}
	.header-container, .sidebar-icon{
		height: 65px;
	}
	.sidebar{
		width: 4.3%;
		height: 100%;
	}
	.sidebar-active{
		width: 16%;
	}
	.traveling{
		display: flex;
	}
}

@media screen and (max-width : 1200px){/* pour résolution inférieur à 1200px */
	.container-hcf{
		margin-left: 8%;
	}
	.sidebar{
		width: 8%;
		height: 100%;
	}
	.sidebar-active{
		width: 18%;
	}
	.traveling{
		display: flex;
	}
	.header-container, .sidebar-icon{
		height: 56px;
	}
}
@media screen and (max-width : 1070px){ /* pour résolution inférieur à 1070 */
	.footer-content{
		display: flex;
		flex-direction: row;
	}
	footer{
		padding: 16px 0px 12px 0px;
	}
	.footer-img-icon{
		margin-left: 12px;
		margin-right: 12px;
		width: 100px;
		text-align: center;
	}
	.footer-about{
		font-size: small;
	}
	.discord_link{
		font-size: small;
	}
	.thanks{
		margin-left: 10px;
		font-size: small;
		color: #CCCCCC;
	}
}
@media screen and (min-width : 1070px){ /* pour résolution supérieux à 1070px */
	footer{
		padding: 16px 0px 12px 0px;
	}
	.footer-about{
		padding-left: 10px;
	}
	.thanks{
		margin-left: 16px;
		font-size: small;
		color: white;
	}
	.footer-content{
		display: flex;
		gap: 40px;
		flex-direction: row;
		font-size: small;
	}
	.footer-img-icon{
		margin-left: 12px;
		margin-right: 12px;
		width: 100px;
		text-align: center;
	}
}
@media screen and (max-width : 780px){/* pour résolution inférieur à 780px */
	.container-hcf{
		margin-left: 12%;
	}
	.sidebar{
		width: 12%;
	}
	.sidebar-active .rightsidebarc{
		margin-right: 10px;
	}
	.sidebar-active{
		width: 23%;
	}
	.traveling{
		display: flex;
	}
	.header-container, .sidebar-icon{
		height: 65px;
	}
	.shcl{
		font-size: small;
	}
	.footer-content{
		display: flex;
		flex-direction: row;
	}
	footer{
		padding: 16px 0px 12px 0px;
	}
	.footer-img-icon{
		justify-content: center;
	}
	.discord_link{
		display: none;
	}
	.footer-about{
		font-size: x-small;
		margin-left: 10px;
	}
	.thanks{
		margin-left: 10px;
		font-size: x-small;
		color: #CCCCCC;
	}
}
@media screen and (min-width : 500px){/* pour résolution supérieur à 500px */
	.footer-about{
		flex-direction: row;
	}
	*{
		font-family: Arial, Helvetica, sans-serif;
	}
	h1,h2,.txt-onclick-span{
		font-family: 'Rubik';
	}
}
@media screen and (max-width : 500px){/* pour résolution inférieur à 500px */
	.cookieUsername{
		display: none;
	}
	.container-hcf{
		margin-left: 0%;
	}
	.header-container, .sidebar-icon{
		min-height: 50px;
		max-height: 50px;
	}
	.sidebar{
		width: 16%;
		min-width: 28px;
		height: auto;
		border-bottom-right-radius: 10px;
	}
	.sidebar .ScIconSVG-sc-1q25cff-1{
		width: 85%;
		height: 85%;
	}
	.traveling{
		display: none;
	}
	.sidebar-active .traveling{
		display: flex;
	}
	.sidebar-active{
		height: 100%;
		width: 40%;
	}
	.sidebar-active .rightsidebarc{
		margin-right: 3px;
	}
	.shcl{
		font-size: small;
		text-align: center;
		margin-left: 6px;
	}
}
@media screen and (max-width : 400px){/* pour résolution inférieur à 400px */
	.footer-content{
		display: flex;
		flex-direction: column;
		margin-left: 10px;
	}
	.footer-about, .thanks{
		margin-left: 0px;
	}
	.about-content *{
		font-size: small;
	}
	.footer-img-icon{
		width: 25%;
		border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	}
	.thanks{
		display: none;
	}
	.empty-page-footer{
		position: fixed;
		bottom: 0;
	}
	.empty-page-section{
		min-height: 100vh;
	}
}
@media screen and (min-width : 250px){/* pour résolution supérieur à 400px */
	.footer-about{
		flex-direction: row;
	}
}
@media screen and (max-width : 250px){/* pour résolution inférieur à 400px */
	.footer-about{
		flex-direction: column;
		gap: 10px;
	}
	.footer-about:first-child{
		align-items: center;
	}
	.thanks{
		display: none;
	}
	.footer-img-icon{
		width: 30%;
	}
}


:root{
	--lt-body-bg: transparent;
	--dt-body-bg: #292929;

	--lt-header-bg: linear-gradient(to right, #e76349,#d50400);
	--lt-sidebar-bg: #263238;
	--lt-footer-bg: #263238;
	--lt-section-main-bg: white;
	--lt-header-font-color: ivory;
	--lt-sidebar-content-font-color: aliceblue;
	--lt-sidebar-traveling-bg: #161c1f;
	--lt-footer-discord-icon-color-hover: #551A8B;
	--lt-footer-font-color-title: white;
	--lt-footer-font-color-content: #CCCCCC;
	--lt-sidebaropen-content-bg: white;
	--lt-sidebaropen-content-border: black;
	--lt-footer-dlink-color: whitesmoke;
	--lt-footer-tos-ahover-color: rgb(205, 182, 182);
	--lt-noscript-msg-bg: #f2f2f2;
	--lt-noscript-msg-border: #ccc;
	--lt-modale-content-bg: white;
	--lt-modale-content-boxshadow: rgba(0, 0, 0, 0.5);
	--lt-modale-content-btn-bg: #007bff;
	--lt-modale-content-btn-color: white;
	--lt-messages-modales-border: black;
	--lt-messages-tags-border: black;
	--lt-messages-tags-color: white;
	--lt-messages-success-color: #267612;
	--lt-messages-error-color: #c60000;


	--dt-header-bg: #292929;
	--dt-sidebar-bg: #292929;
	--dt-footer-bg: #292929;
	--dt-section-main-bg: #191919 ;
	--dt-section-main-color: #CCCCCC ;
	--dt-header-font-color: ivory;
	--dt-sidebar-content-font-color: aliceblue;
	--dt-sidebar-traveling-bg: #161c1f;
	--dt-footer-discord-icon-color-hover: #551A8B;
	--dt-footer-font-color: white;
	--dt-fashare-color: white;
	--dt-modale-content-bg: #565656;
	--dt-modale-content-btn-bg: #c60000;
	--dt-modale-content-a-color: #81a4ff;
	--dt-modale-content-color: white;
	--dt-messages-success-color: #ffffff;
	--dt-messages-error-color: black;
}


body{
	display: flex;
	flex-direction: column;
	width: 100%;
}
footer{
	background-color: var(--lt-footer-bg);
	width: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
}
footer h1, footer h2{
	color: var(--lt-footer-font-color-title);
}
footer div, footer li{
	color: var(--lt-footer-font-color-content);
}
.section-c-f{
	border: 0px solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: var(--lt-section-main-bg);
	padding-top: 20px;
}
.header-container{
	display: flex;
	flex-direction: row;
	background: var(--lt-header-bg);
}
.header-h1{
	font-size: calc(20px + 0.5vw);;
}
.header-container-1, .header-container-3{
	height: 100%;
	width: 15%;
}
.header-container-2{
	height: 100%;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--lt-header-font-color);
	text-transform: capitalize;
}
.header_msg{
	flex-direction: column;
}
.globe_header_icon{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 4px;
}
.globe_header_icon i{
	font-size: large;
}
.globe_header_icon select{
	background-color: transparent;
	border: none;
	font-weight: bold;
}
.globe_header_icon i, .globe_header_icon select{
	color: var(--lt-header-font-color);
}
.sidebar{
	z-index: 50;
	display: flex;
	flex-direction: column;
	transition: width ease 0.6s;
	background-color: var(--lt-sidebar-bg); 
	user-select: none;
}
.sidebar-position-a{
	position: absolute;
}
.sidebar-position-f{
	position: fixed;
}
.sidebar-active{
	transition: width ease 0.6s;
}
.sidebar-icon{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center	;
}
.leftsidebarc{
	height: 100%;
	width: 0%;
	transition: width ease 0.6s;
	display: flex;
    flex-direction: column;
    text-align: center;
}
.leftsidebarc .lcontent{
	opacity: 0;
	border-radius: 10px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	display: none;
}
.rightsidebarc{
	cursor: pointer;
	height: 100%;
	max-width: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
	transition: width ease 0.6s;
}
.sidebar-active .leftsidebarc{
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
	transition: width ease 0.6s;
}
.sidebar-active .leftsidebarc .lcontent{
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
}
.sidebar-active .rightsidebarc{
	height: 100%;
	min-width: 30px;
	max-width: 30px;
}
.rightsidebarc svg{
	transform: rotate(0deg);
	transition: transform ease 0.6s;
}
.sidebar-active .rightsidebarc svg{
	transform: rotate(180deg);
	transition: transform ease 0.6s;
}
.sidebar-content{
	height: 100%;
	display: flex;
	text-align: center;
    justify-content: center;
    align-items: center;
}
.traveling{
	max-height: 90vh;
	overflow: auto;
    flex-direction: column;
    text-align: center;
}
.sidebar-active .traveling{
	align-items: center;
}
.shcl{
	overflow: hidden;
	color: var(--lt-sidebar-content-font-color);
	text-transform: uppercase;
	width: 100%;
	position: relative;
	left: -150px;
	transition: left ease 0.6s;
}
.sidebar-active .shcl{
	overflow: hidden;
	color: var(--lt-sidebar-content-font-color);
	text-transform: uppercase;
	width: 100%;
	position: relative;
	left: 0px;
	display: flex;
	flex-direction: column;
	transition: left ease 0.6s;
}
.traveling-left, .traveling-right{
	justify-content: center;
}
.traveling-inline-div{
	max-height: 42px;
	min-height: 42px;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	user-select: none;
	text-decoration: none;
}
#darkmodeSWITCH, #svg-filter-sidebar{
	filter: invert(1) sepia(1) hue-rotate(172deg);
}
.sidebar-open #Menu-sidebar-image:hover::after,
.sidebar-open #Item-sidebar-image:hover::after,
.sidebar-open #Upgrade-sidebar-image:hover::after,
.sidebar-open #Skill-sidebar-image:hover::after,
.sidebar-open #Maze-sidebar-image:hover::after,
.sidebar-open #Wiki-sidebar-image:hover::after,
.sidebar-open #Heroes-sidebar-image:hover::after,
.sidebar-open #Stats-sidebar-image:hover::after,
.sidebar-open #Sheet-sidebar-image:hover::after,
.sidebar-open #Damage-sidebar-image:hover::after,
.sidebar-open #Promos-sidebar-image:hover::after,
.sidebar-open #Theorycraft-sidebar-image:hover::after{
	position: fixed;
	left: 75px;
    border: var(--lt-sidebaropen-content-border) 1px solid;
    background-color: var(--lt-sidebaropen-content-bg);
    padding: 4px;
	color: black;
    cursor: default;
    text-decoration: none;
}
.sidebar-open #Menu-sidebar-image:hover::after{ content: "Menu";}
.sidebar-open #Item-sidebar-image:hover::after{ content: "Item";}
.sidebar-open #Upgrade-sidebar-image:hover::after{ content: "Upgrade";}
.sidebar-open #Skill-sidebar-image:hover::after{ content: "Skill";}
.sidebar-open #Maze-sidebar-image:hover::after{ content: "Maze";}
.sidebar-open #Wiki-sidebar-image:hover::after{ content: "Wiki";}
.sidebar-open #Heroes-sidebar-image:hover::after{ content: "Heroes";}
.sidebar-open #Stats-sidebar-image:hover::after{ content: "Stats";}
.sidebar-open #Sheet-sidebar-image:hover::after{ content: "Sheets";}
.sidebar-open #Damage-sidebar-image:hover::after{ content: "Damage";}
.sidebar-open #Promos-sidebar-image:hover::after{ content: "Promotion Code";}
.sidebar-open #Theorycraft-sidebar-image:hover::after{ content: "Theorycraft";}

.bg-traveling{
	background-color: var(--lt-sidebar-traveling-bg);
}

.contact-me{
	text-decoration: none;
}
.contact-me a{
	text-decoration: none;
	color: var(--lt-footer-dlink-color);
}
.thanks{
	align-items: center;
	list-style: none;
	margin-left: 10px;
}
.discord_link a {
	text-decoration: none;
	color: unset;
}
.discord_link h2 {
	margin-bottom: 10px;
}
.container-link a {
	display: block;
	margin-bottom: 5px;
}
.link-icon {
	margin-right: 5px;
	font-family: FontAwesome;
}
.container-link a:hover .link-icon {
	color: var(--lt-footer-discord-icon-color-hover);
}
.footer-img-icon{
	height: min-content;
	object-fit: contain;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.footer-about{
	display: flex;
	margin-right: 10px;
}
.f_content_info a{
	text-decoration: none;
	font-weight: bold;
	color: var(--lt-footer-dlink-color);
}
.f_content_info a:hover{
	text-decoration: underline;
	color: var(--lt-footer-tos-ahover-color);
}
.center_content{
	display: flex;
	align-items: center;
	gap: 4px;
}
.li_wo_marker{
	list-style-type: none;
}
#to-top-button {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #333;
	color: #fff;
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	cursor: pointer;
	z-index: 9999;
	transition: opacity 0.3s, visibility 0.3s;
}
#to-top-button.show {
	display: flex;
    opacity: 1;
    justify-content: center;
    visibility: visible;
    text-align: center;
    align-items: center;
}
/* UPGRADE COST */
/* ALL DESC PAGE */
/* PROMO CODE PAGE */
/* WIKI PAGE */
/* CHANGELOG PAGE */
.content_container{
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 20px;
	color: black;
	min-height: 78.5vh;
}
.a_styled{
	text-decoration: none;
	color: var(--lt-wiki-content-a-color);
}
.thcrft-name{
	font-family: 'Rubik';
}
/* NOSCRIPT MESSAGE */
#no-script-message {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--lt-noscript-msg-bg);
	padding: 20px;
	border: 1px solid var(--lt-noscript-msg-border);
	text-align: center;
	width: 50%;
	max-width: 300px;
	z-index: 999;
}

/* Modale */
.modals {
	position: fixed;
	top: 80vh;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	transition: opacity 1s ease-in-out;
}
.modals-contenu {
	background-color: var(--lt-modale-content-bg);
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 10px var(--lt-modale-content-boxshadow);
	-webkit-box-shadow: 0 0 10px var(--lt-modale-content-boxshadow);
	-moz-box-shadow: 0 0 10px var(--lt-modale-content-boxshadow);
	-o-box-shadow: 0 0 10px var(--lt-modale-content-boxshadow);
	-ms-box-shadow: 0 0 10px var(--lt-modale-content-boxshadow);
	text-align: center;
}  
.modals-contenu h2 {
	margin-top: 0;
}
.modals-contenu button {
	margin-top: 1rem;
	background-color: var(--lt-modale-content-btn-bg);
	color: var(--lt-modale-content-btn-color);
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
/* Message login success */
#messages{
	display: flex;
	position: fixed;
	top: 90%;
	left: 52%;
	transform: translate(-50%, -50%);
	border: 0px solid var(--lt-messages-modales-border);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	z-index: 999;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	transition: opacity 0.6s ease-out;
}
#messages #messages-tags{
	padding: 15px 30px 15px 30px;
	border: 0px solid var(--lt-messages-tags-border);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	margin: 0;
	color: var(--lt-messages-tags-color);
	font-size: 1.2em;
	width: 100%;
}
.success-messages{
	color: var(--lt-messages-success-color);
}
.error-messages{
	color: var(--lt-messages-error-color);
}
.close_span_message{
	position: absolute;
    top: 0px;
    left: -8px;
    width: 100%;
    cursor: pointer;
    justify-content: end;
    display: flex;
}




/* DARK THEME */
.body_dark_mode{
	background-color: var(--dt-body-bg);
}
.body_dark_mode footer{
	background-color: var(--dt-footer-bg);
}
.body_dark_mode .section-c-f{
	background-color: var(--dt-section-main-bg);
}
.body_dark_mode .footer_dark_mode{
    background-color: var(--dt-footer-bg);
}
.body_dark_mode .footer_dark_mode *{
    color: var(--dt-footer-font-color);
}
.body_dark_mode .sidebar{
	background-color: var(--dt-sidebar-bg); 
}
.body_dark_mode .fa-share-alt{
	color: var(--dt-fashare-color);
}
.body_dark_mode #darkmodeSWITCH, .body_dark_mode #svg-filter-sidebar{
	filter: invert(0.5) sepia(1) hue-rotate(172deg);
}
.body_dark_mode #svg-filter-home{
	filter: invert(0.5) sepia(1) hue-rotate(172deg);
}
.body_dark_mode .header-container{
	/* background: linear-gradient(to left, #d41459, #911a6c); */
	background: var(--dt-header-bg);
}
.body_dark_mode .header-container h2{
	font-weight: 800;
	color: var(--dt-header-font-color)
}
.body_dark_mode .modals-contenu button{
	background-color: var(--dt-modale-content-btn-bg);
}
.body_dark_mode .modals-contenu{
	background-color: var(--dt-modale-content-bg);
}
.body_dark_mode .modals-contenu a{
	color: var(--dt-modale-content-a-color);
}
.body_dark_mode .content_container{
	color: var(--dt-section-main-color);
}
.body_dark_mode .success-messages{
	color: var(--dt-messages-success-color);
	letter-spacing: 1px;
}
.body_dark_mode .error-messages{
	color: var(--dt-messages-error-color);
	letter-spacing: 1px;
}
.body_dark_mode .modals .info-button{
	background-color: #363636;
}
.body_dark_mode .a_styled{
	text-decoration: none;
	color: var(--dt-wiki-content-a-color);
}