@media screen and (max-width : 1070px){ /* pour résolution inférieur à 1070 */
	.altar_cost_content{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.tierlist_img, .tierlist_img_myt{
		width: 100%;
	}
	.div-onclick-menu, .feedback-container, .select-href hr{
		width: 60%;
	}
}


@media screen and (min-width : 1071px){ /* pour résolution supérieux à 1070px */	
	.altar_cost_content{
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
	.tierlist_img, .tierlist_img_myt{
		width: 70%;
	}
	.div-onclick-menu, .feedback-container, .select-href hr{
		width: 40%;
	}
	.comming-soon{
		font-size: 30px;
	}
}

@media screen and (min-width : 787px){ /* pour résolution supérieur à 786px */
	.floating_embed{
		position: fixed;
		transform: translate(-275%,43.4%);
	}
	.toc-hero-desc{
		flex-direction: column;
	}
}

@media screen and (max-width : 786px){ /* pour résolution inférieur à 786px */
	.floating_embed{
		margin-top: 10px;
	}
	.toc-hero-desc{
		flex-direction: row;
	} 
	.toc-hero-desc a{
		flex-direction: column-reverse;
	}
}


@media screen and (min-width : 601px){ /* pour résolution supérieur à 600x */
	#all_week_div{
		display: grid;
		grid-template-columns: repeat(2,auto);
	}
	#week_1, #week_2, #week_3, #week_4, #week_5, #week_6, #week_7, #week_8, #week_9{
		padding-top: 20px;
		padding-bottom: 10px;
		border: solid 1px;
	}
	.div-onclick-menu, .feedback-container{
		font-size: x-large;
		font-weight: bold;
		padding: 10px 20px 10px 20px;
	}
}

@media screen and (max-width : 600px){ /* pour résolution inférieur à 600x */
	#all_week_div{
		display: grid;
		grid-template-columns: repeat(1,auto);
	}
	#week_1, #week_2, #week_3, #week_4, #week_5, #week_6, #week_7, #week_8, #week_9{
		padding-top: 20px;
		padding-bottom: 10px;
		border: solid 1px;
	} 
	.div-onclick-menu, .feedback-container{
		font-size: large;
		font-weight: 500;
		padding: 5px 10px 5px 10px;
	}
}

@media screen and (min-width: 541px){
	.flex-box{
		width: 70%;
	}
	.content{
		padding: 0 18px;
	}
}
@media screen and (max-width: 540px){
	.flex-box{
		width: 100%;
	}
	.content{
		padding: 0 0px;
		width: 100%;
	}
}
@media screen and (max-width : 440px){ /* pour résolution inférieur à 400px */
	.div-onclick-menu, .feedback-container, .select-href hr{
		width: 75%;
	}
	.commit_date{
		display: block;
	}
}

@media screen and (min-width : 401px){ /* pour résolution sup à 400px */
	#myInput {
		width: 50%;
		max-width: 250px;
		background-position: 10px 10px;
		font-size: 16px;
		padding: 12px 20px 12px 40px;
	}
	#myUL {
		width: 65%;
		margin-top: 45px;
	}
	#myUL li a {
		font-size: 18px;
	}
}

@media screen and (max-width : 400px){ /* pour résolution inférieur à 400px */
	*{
		font-size: small;
	}
	select, input{
		width: auto;
	}
	#myInput {
		width: 50%;
		max-width: 250px;
		background-position: 6px 6px;
		font-size: 12px;
		padding: 8px 14px 8px 28px;
	}
	#myUL {
		width: 49%;
		margin-top: 35px;
	}
	#myUL li a {
		font-size: 13px;
	}
}

@media screen and (min-width : 351px){ /* pour résolution inférieur à 400px */
	.runes-choice{
		width: 100%;
		gap: 8px;
	}
	.rchrch{
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width : 350px){ /* pour résolution inférieur à 400px */
	.select-runes select{
		max-width: 150px;
	}
	.input-runes input{
		max-width: 50px;
	}
	.runes-choice{
		width: 100%;
		gap: 4px;
	}
	.rchrch{
		width: 40px;
		height: 40px;
	}
	.table-damage-result{
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 100%;
		overflow: scroll;
	}
}

:root{
	/* MAZE */
	--lt-maze-weekLink-a-color: #0000EE;
	--lt-maze-weekLink-a-hover-color: #551A8B;
	--lt-maze-linkTop-btn-color: black;
	--lt-maze-linkTop-btn-bg: #F8D48B;
	--lt-maze-linkTop-arrow-color: black;
	--lt-maze-tutorial-bg: #6CB4EE;
	--lt-maze-tutorial-border: black;

	--dt-maze-p-h2-date-ahover-color: rgb(219, 219, 219);
	--dt-maze-weekLink-a-color: #8750e1;
	--dt-maze-linkTop-btn-color: rgb(228, 228, 228);;
	--dt-maze-linkTop-btn-bg: #8750e1;
	--dt-maze-linkTop-btn-after-color:  rgb(228, 228, 228);
	--dt-maze-tutorial-bg: #777;
	--dt-maze-weeks-color: white;
	--dt-maze-weeks-border-right: none;
	--dt-maze-weeks-border-left: none;
	/* MENU */
	--lt-menu-onclick-bg: #3686c7;
	--lt-menu-onclick-color: white;
	--lt-menu-onclick-color-hover: #57327a;
	--lt-menu-feedback-a-color: #ffffff;
	--lt-menu-feedback-title-border-top: black;

	--dt-menu-onclick-bg: linear-gradient(to left, #545454a8, #383333);
	--dt-menu-onclick-color: rgb(228, 228, 228);
	--dt-menu-feedbackTitle-color: #f5f5f5bf;
	--dt-menu-feedback-container-bg: none;
	--dt-menu-onclick-border: none;
	/* WIKI */
	--lt-wiki-coll-border: grey;
	--lt-wiki-coll-bg: antiquewhite;
	--lt-wiki-coll-hover-bg: rgb(211, 199, 182);
	--lt-wiki-coll-color: black;
	--lt-wiki-coll-after-color: white;
	--lt-wiki-content-a-color: #ff9090;

	--dt-wiki-content-color: #e7e3e0;
	--dt-wiki-content-a-color: #c58af9;
	--dt-wiki-copyicon-color: #b2b2b2;
	--dt-wiki-coll-after-color: black;
	--dt-wiki-coll-bg: linear-gradient(to left, #545454a8, #383333);
	--dt-wiki-coll-color: rgb(228, 228, 228);
	--dt-wiki-coll-hover-bg: linear-gradient(to left, #434343a8, #282525);
	--dt-wiki-coll-content-bg: transparent;
	--dt-wiki-coll-border: none;
	/* SEARCHBAR */
	--lt-searchbar-myinput-border: #ddd;
	--lt-searchbar-myul-li-a-bg: #f6f6f6;
	--lt-searchbar-myul-li-a-hover-bg: #eee;
	--lt-searchbar-myul-li-a-color: black;
	--lt-searchbar-myul-li-a-border-top: #ddd;
	--lt-searchbar-commingsoon-bg: #ffff;

	--dt-searchbar-myul-li-a-bg: lightgrey;
	--dt-searchbar-myinput-bg: lightgrey;
	--dt-searchbar-myinput-border: none;
	--dt-searchbar-myinput-placeholder-color: black;
	/* DAMAGE / RUNES */
	--lt-damagemenu-chooseprofil-color: #000000;
	--lt-damagemenu-table-outrow-bg: transparent;
	--lt-damagemenu-dmgtype-field-bg: white;
	--lt-damagemenu-dmgtype-field-border: black;
	--lt-damagemenu-generatedmg-btn-bg: #007bff;
	--lt-damagemenu-generatedmg-btn-color: #fff;
	--lt-damagemenu-generatedmg-btn-border: transparent;
	--lt-damagemenu-reset-btn-color: #fff;
	--lt-damagemenu-reset-btn-bg: #007bff;
	--lt-damagemenu-reset-btn-border: transparent;
	--lt-damagemenu-formulaire-div-bg: #6CB4EE;
	--lt-damagemenu-formulaire-a-color: white;
	--lt-damagemenu-input-invalid-border: red;
	--lt-dmgcalc-popupcontainer-bg: white;
	--lt-dmgcalc-popupcontainer-color: black;
	--lt-dmgcalc-popupcontainer-border: black;
	--lt-dmgcalc-select-input-border: black;
	--lt-dmgcalc-select-input-bg: transparent;

	--dt-damagemenu-btndmg-bg: #314149;
	--dt-damagemenu-btndmg-hover-bg: #859ebc;
	--dt-damagemenu-dmgtype-field-bg: white;
	--dt-damagemenu-dmgtype-field-border: white;
	--dt-damagemenu-chooseprofil-color: ivory;
	--dt-damagemenu-chooseprofil-bg: transparent;
	--dt-damagemenu-info-fa-circle-color: white;
	--dt-damagemenu-averagedmg-color: #fff;
	--dt-damagemenu-formulaire-div-bg: radial-gradient(ellipse at top, #8750e1, #6539b2);
	/* GSHEET PAGE */
	--lt-gsheet-gsheet-bg: rgb(212 238 255);
	--lt-gsheet-gsheet-border: black;
	--lt-gsheet-gsheetLowerC-bg: transparent;
	--lt-gsheet-gsheetThumbnail-border: black;
	--lt-gsheet-gsheetLinkSheet-color: black;

	--dt-gsheet-gsheet-bg: rgb(155, 155, 155);
	/* INTERNAL ERROR SERVER */
	--lt-ies-back-color: darkblue;
	--lt-ies-msgadmin-color: black;

	--dt-ies-back-color: #c53838;
	--dt-ies-msgadmin-color: #ddd;
	--dt-ies-csrfcontent-color: #acacac;
	--dt-searchbar-commingsoon-bg: #525252;
	--dt-searchbar-commingsoon-boxshadow: none;
	/* UPGRADE COST */
	--lt-upgradecost-selectcost-border: #777;
	--lt-upgradecost-selectcost-bg: #fff;
	--lt-upgradecost-costinput-border: #777;
	--lt-upgradecost-costinput-bg: #fff;
	--lt-upgradecost-submitinput-color: #fff;
	--lt-upgradecost-submitinput-bg: #007bff;
	--lt-upgradecost-submitinput-border: transparent;
	--lt-upgradecost-inputinvalid-border: red;
	--lt-upgradecost-rankInput-border: #777;
	--lt-upgradecost-rankInput-bg: #fff;
	--lt-upgradecost-fieldset_container-checked-label-bg: bisque;

	--dt-upgradecost-fieldset_container-checked-label-bg: #57327a;
	--dt-upgradecost-rankInput-bg: transparent;
	--dt-upgradecost-category-color: white;
	--dt-upgradecost-costtype-color: #fff;
	--dt-upgradecost-costinput-color: #fff;
	--dt-upgradecost-rankInput-border: none;
	
	/* CHANGELOG */
	--lt-changelog-li-bg: antiquewhite;	
	--dt-changelog-li-bg: #4c4242;
}


.main-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
}
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
.maze-main{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
	margin-top: 10px;
}
.maze-main #week-link{
    display: grid;
	justify-content: center;
	padding: 8px;
    grid-template-columns: repeat(3,auto);
    margin-bottom: 30px;
	height: 100px;
}
.maze-main li{
	list-style: none;
}
#week-link a{
	display: flex;
	border-style: solid;
	border-width: 1px;
	align-items: center;
    text-decoration: none;
    font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	color: var(--lt-maze-weekLink-a-color);
}
#week-link a:hover{
	color: var(--lt-maze-weekLink-a-hover-color);
}
#linktotop-btn{     /*HDBG*/
	text-decoration: none;
	color: var(--lt-maze-linkTop-btn-color);
	padding: 10px;
	background-color: var(--lt-maze-linkTop-btn-bg);
	border: solid 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
#linktotop-btn:after{
	font-family: FontAwesome;
	content: "\f062";
	color: var(--lt-maze-linkTop-arrow-color);
}
#Week_1, #Week_2, #Week_3, #Week_4, #Week_5, #Week_6, #Week_7, #Week_8, #Week_9{
	margin-top: 15px;
	margin-bottom: 8px;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: x-large;
}
.tutorial{
	margin: 20px 20% 20px 20%;
	padding: 4px;
	border: solid 0px var(--lt-maze-tutorial-border);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: var(--lt-maze-tutorial-bg); 
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
.main-menu{
	display: flex;
    flex-direction: column;
	height: 100%;
    min-height: 90vh;
}
.select-href{
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 10px;
	min-height: 78.5vh;
}
.div-onclick-menu {
	text-align: center;
	padding: 5px;
	display: inline-block;
	height: 4.2vh;
	cursor: pointer;
	background-color: var(--lt-menu-onclick-bg);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	color: var(--lt-menu-onclick-color);
	border: solid 0px;
	text-decoration: none;
}
.div-onclick-menu:hover{
	z-index: 1;
	/* color: var(--lt-menu-onclick-color-hover); */
	transform: scale(1.02);
	transition: all ease-out 0.2s;
}
.menu-onclick-img {
	display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    height: 100%;
    width: 100%;
}
.menu-onclick-img img {
	width: auto;
    height: 90%;
}
.txt-onclick-span{
	display: flex;
	overflow: auto;
	align-items: center;
}
.new-label {
	position: relative;
	bottom: 150%;
	right: -50%;
	background-color: #ff0000;
	color: #ffffff;
	padding: 4px 8px;
	font-size: 12px;
	border-radius: 50%;
}
/* Styles for the article container */

.error-csrf-content{ /* Fait aussi 500.html et 404.html */
	height: 72vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.feedback {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	display: flex;
    text-align: center;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
}
.feedback-title {
	text-align: center;
	border-top: 1px var(--lt-menu-feedback-title-border-top) solid;
	font-size: 0.82em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
}
.image-feedback-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.feedback-container {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 10px;
	border: solid 0px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	text-decoration: none;
	width: min-content;
    height: 60px;
    padding: 0;
	background: none;
}
.image-feedback {
	width: 100%;
    height: auto;
    max-width: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.feedback-container:hover{
	transform: none;
}
.feedback-container a{
	text-decoration: none;
	color: var(--lt-menu-feedback-a-color);
}
/*################  WIKI.HTML  ##################*/
/*################  WIKI.HTML  ##################*/
/*################  WIKI.HTML  ##################*/
/*################  WIKI.HTML  ##################*/
/*################  WIKI.HTML  ##################*/
/*################  WIKI.HTML  ##################*/
.flex-box{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 5px;
}
.thcrft-name{
	user-select: none;
	font-size: calc(14px + 0.390625vw);;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	gap: 5px;
}
.thcrft-name img {
	max-height: 65%;
	max-width: 65%;
	object-fit: contain;
}
.collapsible{
	width: 100%;
	height: 44px;
	border: solid 1px var(--lt-wiki-coll-border);
	background-color: var(--lt-wiki-coll-bg);
	border-radius: 5px;
	align-items: center;
	text-transform: uppercase;
	color: var(--lt-wiki-coll-color);
	font-weight: bold;
	font-size: medium;
	text-align: left;
	outline: none;
}
.button-wiki-collaps{
    display: flex;
	cursor: pointer;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1px 6px;
    flex-direction: row;
    justify-content: space-between;
}
.content {
	display: flex;
	justify-content: center;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: var(--lt-wiki-coll-after-color);
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.collapsible:hover{
	background-color: var(--lt-wiki-coll-hover-bg);
}
.copy-icon-container i{
	display: inline;
	font-size: smaller;
	margin-left: 5px;
	cursor: pointer;
}
.container-btn-flexbox{
	width: 100%;
}
.fusion_collaps_img{
	width: 100%;
	height: 100%;
	max-width: 700px;
}
.styled_a{
	text-decoration: none;
	color: var(--lt-wiki-content-a-color);
}
.qr-chart-img{
	max-height: 600px;
}
.evo_cost_img{
	width:100%;
	max-width: 750px;
}
/*#####  LIST ITEM DROPDOWN  #####*/
/*#####  LIST ITEM DROPDOWN  #####*/
/*#####  LIST ITEM DROPDOWN  #####*/
/*#####  LIST ITEM DROPDOWN  #####*/
.main-description{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
}
.search-bar{
	margin-top: 10px;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: relative;
}
#myInput {
	background-image: url(/static/image/svg/look.svg);
	background-repeat: no-repeat;
	border: 1px solid var(--lt-searchbar-myinput-border);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 16px;
	box-sizing: border-box;
}
#myUL {
	list-style-type: none;
	padding: 0;
	z-index: 999;
	position: absolute;
	overflow-y: scroll;
	max-height: 284px;
	max-width: 200px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid var(--lt-searchbar-myinput-border);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	top: 0;
}
#myUL li a {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	border-top: 1px solid var(--lt-searchbar-myul-li-a-border-top);
	cursor: pointer;
	margin-top: -1px;
	background-color: var(--lt-searchbar-myul-li-a-bg);
	text-decoration: none;
	color: var(--lt-searchbar-myul-li-a-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
.item_name{
	width: 70%;
	justify-content: end;
}
.siimg{
	width: 30%;
	justify-content: center;
}
.item_name, .siimg{
	padding-top: 3px;
	padding-bottom: 3px;
	display: flex;
}
.searchbar-ul-hero li a{
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.searchbar-ul-skill li a{
	flex-direction: column;
}
#myUL li a:hover{
	background-color: var(--lt-searchbar-myul-li-a-hover-bg);
}
.img-dropdown-icon{
	height: 20px;
	width: auto;
}
.arrow_searchbar{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    gap: 5px;
}
.before_index{
    flex-direction: row-reverse;
}
.after_index{
    flex-direction: row;
}
.before_index i{
	transform: rotate(-90deg);
}
.after_index i{
	transform: rotate(90deg);
}
.arrow_searchbar img{
	display: block;
	object-fit: contain;
	max-height: 5dvh;
}
.rarity-desc{
	display: flex;
	align-items: start;
}
.rarity-desc img{
	user-select: none;
	margin-top: 3px;
}
.span-rarity-item-desc,.span-rarity-item-desc img{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.container-rarity{
	display: flex;
    flex-direction: column;
    gap: 5px;
}

/*################  HEROES LIST  ##################*/
.content-embed-assist span object{
	user-select: none;
}
.toc-hero-desc{
	padding-left: 0;
	display: flex;
	gap: 10px;
}
.content-embed-skin{
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}
.content-embed-skin img{
	width: auto;
    height: 8vh;
}
.content-embed-skin div span{
	display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
	margin-top: 2px;
	padding: 1px;
}
#Skins hr{
	display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
	margin-inline-start: unset;
    margin-inline-end: unset;
    overflow: hidden;
    border-style: outset;
    border-width: 0.1px;
	border-color: #DCDDDE;
}

/*################  DAMAGE  ##################*/
/*################  DAMAGE  ##################*/
/*################  DAMAGE  ##################*/
/*################  DAMAGE  ##################*/
/*################  DAMAGE  ##################*/
.chooseProfilMsg{
	color: var(--lt-damagemenu-chooseprofil-color);
	padding: 10px;
}
.ingame_damage_result{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 40px;
}
.table-outrow{
	background: var(--lt-damagemenu-table-outrow-bg);
	border: none;
}
.distance-type-th, .damage-type-th, .mobs-type-td, .td-value-damage{
	border: 1px solid black;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
   	-o-border-radius: 2px;
	background-color: var(--lt-damagemenu-dmgtype-field-bg);
	padding: 5px;
	color: black;
}
.container-submit-form{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-generate-damage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--lt-damagemenu-generatedmg-btn-color);
	background-color: var(--lt-damagemenu-generatedmg-btn-bg);
	font-weight: 400;
	user-select: none;
	border: 1px solid var(--lt-damagemenu-generatedmg-btn-border);
	padding: 0.6rem 1.25rem ;
	font-size: 1rem;
	border-radius: 0.3rem;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
	width: auto;
}
.btn-reset{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--lt-damagemenu-reset-btn-color);
	background-color: var(--lt-damagemenu-reset-btn-bg);
	font-weight: 400;
	user-select: none;
	border: 1px solid var(--lt-damagemenu-reset-btn-border);
	padding: 0.4rem 1rem ;
	font-size: 0.75rem;
	border-radius: 0.3rem;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	cursor: pointer;
	width: auto;
}
.runes-choice{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
    justify-content: center;
}
.courage, .power{
	cursor: pointer;
}
.runes_input{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.select-runes, .input-runes{
	display: flex;
	flex-direction: column;
	background: var(--lt-dmgcalc-select-input-bg);
	gap: 4px;
}
.input-runes{
	margin-left: 4px;
	width: 70px;
	padding: 0;
}
.input-runes input{
	height: 30px;
	border: 1px solid var(--lt-dmgcalc-select-input-border);
	padding: 0 5%;
}
.select-runes select{
	height: 32px;
	border: 1px solid var(--lt-dmgcalc-select-input-border);
	padding: 0 5%;
}
.div_formulaire{
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	background-color: var(--lt-damagemenu-formulaire-div-bg);
    border-style: solid;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
    border-width: 1px;
    text-align: center;
}
.div_formulaire a{
	color: var(--lt-damagemenu-formulaire-a-color);
    text-decoration: none;
}
.input-runes input:invalid {
	border: var(--lt-damagemenu-input-invalid-border) solid 3px;
}
/* GSHEET PAGE */
/* GSHEET PAGE */
/* GSHEET PAGE */
/* GSHEET PAGE */
/* GSHEET PAGE */
.grid-gsheet-archive{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(140px, 375px));
	margin: 10px;
	gap: 10px;
    margin-bottom: 60px;
}
.gsheet{
	cursor: pointer;
	padding: 6px;
	background-color: var(--lt-gsheet-gsheet-bg);
	border: 0px solid var(--lt-gsheet-gsheet-border);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	height: max-content;
}
.gsheet-content{
	overflow: hidden;
}
.gsheet-upper-content{
	display: flex;
	flex-direction: row;
}
.gsheet-lower-content{
	background-color: var(--lt-gsheet-gsheetLowerC-bg);
	font-size: small;
}
.gsheet-thumbnail img{
	padding: 4px;
	width: 100px;
	height: auto;
	border: 0px solid var(--lt-gsheet-gsheetThumbnail-border);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.gsheet-title{
	text-transform: capitalize;
	width: 100%;
	font-weight: bold;
}
.linkSheetBox{
	color: var(--lt-gsheet-gsheetLinkSheet-color);
    text-decoration: none;
}

/* INTERNAL ERROR SERVER */
/* INTERNAL ERROR SERVER */
/* INTERNAL ERROR SERVER */
/* INTERNAL ERROR SERVER */
.ies-container{
	margin: 30px;
}
.error-csrf-content a{
	font-size: larger;
}
.comming-soon{
	position: absolute;
    width: 70%;
    top: 16%;
    font-size: 3.5vw;
	font-weight: 600;
	background-color: var(--lt-searchbar-commingsoon-bg);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 10px;
	border-radius: 4px;
}
/* DAMAGE CALC */
/* DAMAGE CALC */
/* DAMAGE CALC */
/* DAMAGE CALC */
.popup-dmgcalc {
	cursor: pointer;
	user-select: none;
}
.popup_container {
	visibility: hidden;
	width: auto;
	max-width: 350px;
	height: auto;
	background-color: var(--lt-dmgcalc-popupcontainer-bg);
	font-size: medium;
	color: var(--lt-dmgcalc-popupcontainer-color);
	text-align: center;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-color: var(--lt-dmgcalc-popupcontainer-border);
	border-style: solid;
	position: absolute;
	padding: 6px;
	z-index: 1;
	margin-bottom: 230px;
	margin-left: 10px;
}
.show {
	visibility: visible;
}
.averageDamage{
	display: flex;
	flex-direction: column;
	gap: 1px;
}

/* UPGRADE COST */
/* UPGRADE COST */
/* UPGRADE COST */
/* UPGRADE COST */
/* UPGRADE COST */
.select-cost select {
	appearance: none;
	margin: 0;
	width: 100%;
	font-family: inherit;
	outline: none;
	min-width: 15ch;
	max-width: 30ch;
	border: 1px solid var(--lt-upgradecost-selectcost-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: var(--lt-upgradecost-selectcost-bg);
}
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
select, select::after {
    grid-area: select;
}
label {
  font-size: 1.125rem;
  font-weight: 500;
}
.upgrade_cost_e{
	margin: 10px;
}
.input-cost{
	margin-top: 20px;
	display: flex;
    flex-direction: column;
    text-align: center;
}
.cost_input_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.cost_input{
	margin: 0;
	width: 50%;
	min-width: 50px;
	max-width: 100px;
	font-family: inherit;
	outline: none;
	border: 1px solid var(--lt-upgradecost-costinput-border);
	border-radius: 0.20em;
	padding: 0.20em 0.4em;
	font-size: 1rem;
	background-color: var(--lt-upgradecost-costinput-bg);
}
.submit_container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 12px;
}
.submit-input{
	color: var(--lt-upgradecost-submitinput-color);
    background-color: var(--lt-upgradecost-submitinput-bg);
    font-weight: 400;
    user-select: none;
    border: 1px solid var(--lt-upgradecost-submitinput-border);
    padding: 0.375rem 0.75rem;
    font-size: 0.85rem;
    border-radius: 0.25rem;
	margin-bottom: 10px;
	cursor: pointer;
}
.input-cost input:invalid, .input-cost .err{
	border: var(--lt-upgradecost-inputinvalid-border) solid 2px;
}
.field_value2{
	display: flex;
}
.rank_input {
	margin-top: 16px;
	border: 1px solid var(--lt-upgradecost-rankInput-border);
	padding: 10px;
	background-color: var(--lt-upgradecost-rankInput-bg);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(3,auto);
}
.label_fieldset{
	display: flex;
	justify-content: center;
	cursor: pointer;
	padding: 2px;
}
.fieldset_container input[type="radio"]:checked + label{
	background-color: var(--lt-upgradecost-fieldset_container-checked-label-bg);
    border: 0px solid;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
    width: auto;
}
/* CHANGELOG */
/* CHANGELOG */
/* CHANGELOG */
/* CHANGELOG */
/* CHANGELOG */
.commits_container{
	display: block;
	margin-left: 10px;
}
.commit-li{
	margin-top: 10px;
    margin-bottom: 10px;
	background-color: var(--lt-changelog-li-bg);
	padding: 1px 1px 1px 5px;
	border: 0px solid black;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	width: 80%;
}
/* API FORM */
/* API FORM */
/* API FORM */
/* API FORM */
/* API FORM */
.api_form form{
	margin-top: 100px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}


/* DARKMODE */
 	/* MENU HTML */
	.body_dark_mode .feedback-container{
		background: var(--dt-menu-feedback-container-bg);
	}
	.body_dark_mode .feedback-title{
		color: var(--dt-menu-feedbackTitle-color);
	}
	.body_dark_mode .image-feedback{
		filter: grayscale(0.6);
	}
	.body_dark_mode .div-onclick-menu{
		border: var(--dt-menu-onclick-border);
		background: var(--dt-menu-onclick-bg);
		color: var(--dt-menu-onclick-color);
	}
	/* ARTICLE NEW */
	.body_dark_mode .article-new-box {
		background-color: #252525;
	}
	.body_dark_mode .is-primary {
		background-color: #474b50;
		color: rgb(220, 221, 222);
	}
	.body_dark_mode .article-new-body {
		text-align: center;
		color: rgb(220, 221, 222);
	}
	.body_dark_mode .article-new-title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.body_dark_mode .article-new-subtitle {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.body_dark_mode .article-new-content {
		margin-bottom: 20px;
		color: rgb(220, 221, 222);
	}
	.body_dark_mode .article-new-content p {
		margin-bottom: 10px;
	}
	/* MAZE HTML */
	.body_dark_mode .maze-main p,.body_dark_mode .maze-main h2, .body_dark_mode .dateListItem, .body_dark_mode #week-link a:hover{
		color: var(--dt-maze-p-h2-date-ahover-color);
	}
	.body_dark_mode #week-link a{
		color: var(--dt-maze-weekLink-a-color);
	}
	.body_dark_mode #linktotop-btn:after{
		color: var(--dt-maze-linkTop-btn-after-color);
	}
	.body_dark_mode #linktotop-btn{
		background-color: var(--dt-maze-linkTop-btn-bg);
		color: var(--dt-maze-linkTop-btn-color);
	}
	.body_dark_mode .tutorial{
		background-color: var(--dt-maze-tutorial-bg);
	}
	.body_dark_mode .weeks{
		color: var(--dt-maze-weeks-color);
	}
	/* WIKI HTML */
	.body_dark_mode .altar_cost_content, .body_dark_mode .flex-box .egg_stats_content, .body_dark_mode .hidden_stats_content, .body_dark_mode .glyphs_explanation, .body_dark_mode .refinement_explanation, .body_dark_mode .faq{
		border-radius: 5px;
		color: var(--dt-wiki-content-color);
	}
	.body_dark_mode #week_1,.body_dark_mode #week_2,
	.body_dark_mode #week_3,.body_dark_mode #week_4,
	.body_dark_mode #week_5,.body_dark_mode #week_6,
	.body_dark_mode #week_7,.body_dark_mode #week_8,
	.body_dark_mode #week_9{
		border-right: var(--dt-maze-weeks-border-right);
		border-left: var(--dt-maze-weeks-border-left);
	}
	.body_dark_mode .copy-icon-container i{
		color: var(--dt-wiki-copyicon-color);
	}
	.body_dark_mode .collapsible:after {
		color: var(--dt-wiki-coll-after-color);
	}
	.body_dark_mode .content{
		background-color: var(--dt-wiki-coll-content-bg);
	}
	.body_dark_mode .collapsible{
		border: var(--dt-wiki-coll-border);
		background: var(--dt-wiki-coll-bg);
		color: var(--dt-wiki-coll-color);
	}
	.body_dark_mode .collapsible:hover{
		background: var(--dt-wiki-coll-hover-bg);
	}
	.body_dark_mode .styled_a{
		text-decoration: none;
		color: var(--dt-wiki-content-a-color);
	}
	/* DESCRIPTION PAGE HTML */
	.body_dark_mode #myUL li a {
		background-color: var(--dt-searchbar-myul-li-a-bg);
	}
	.body_dark_mode #myInput{
		background-color: var(--dt-searchbar-myinput-bg);
		border: var(--dt-searchbar-myinput-border);
	}
	.body_dark_mode #myInput::placeholder{
		color: var(--dt-searchbar-myinput-placeholder-color);
	}
	/* DAMAGE CALC HTML */
	.body_dark_mode .btn-generate-damage, .body_dark_mode .btn-reset{
		background: var(--dt-damagemenu-btndmg-bg);
	}
	.body_dark_mode .btn-generate-damage:hover, .body_dark_mode .btn-reset:hover{
		background: var(--dt-damagemenu-btndmg-hover-bg);
	}
	.body_dark_mode .distance-type-th, .body_dark_mode .damage-type-th, .body_dark_mode .mobs-type-td, .body_dark_mode .td-value-damage{
		border: 1px solid var(--dt-damagemenu-dmgtype-field-border);
		border-radius: 2px;
		background-color: var(--dt-damagemenu-dmgtype-field-bg);
		padding: 5px;
	}
	.body_dark_mode .chooseProfilMsg{
		background-color: var(--dt-damagemenu-chooseprofil-bg);
		color: var(--dt-damagemenu-chooseprofil-color);
		padding: 10px;
	}
	.body_dark_mode .fa-info-circle{
		color: var(--dt-damagemenu-info-fa-circle-color);
	}
	.body_dark_mode .averageDamage{
		color: var(--dt-damagemenu-averagedmg-color);
	}
	.body_dark_mode .div_formulaire{
		background: var(--dt-damagemenu-formulaire-div-bg);
	}
	/* UPGRADE COST */
	.body_dark_mode .fieldset_container input[type="radio"]:checked + label{
		background-color: var(--dt-upgradecost-fieldset_container-checked-label-bg);
	}
	.body_dark_mode .rank_input{
		background: var(--dt-upgradecost-rankInput-bg);
		border: var(--dt-upgradecost-rankInput-border);
	}
	.body_dark_mode .category-cost{
		color: var(--dt-upgradecost-category-color);
	}
	.body_dark_mode .cost_type{
		color: var(--dt-upgradecost-costtype-color);
	}
	.body_dark_mode .input-cost{
		color: var(--dt-upgradecost-costinput-color);
	}
	/* GSHEET PAGE */
	.body_dark_mode .gsheet{
		background-color: var(--dt-gsheet-gsheet-bg);
	}
	/* INTERNAL ERROR SERVER */
	.body_dark_mode .error-csrf-content h3,
	.body_dark_mode .error-csrf-content h1{
		color: var(--dt-ies-csrfcontent-color);
	}
	.body_dark_mode .comming-soon{
		background-color: var(--dt-searchbar-commingsoon-bg);
		box-shadow: 2px 5px 36px 23px var(--dt-searchbar-commingsoon-boxshadow);
		-webkit-box-shadow: 2px 5px 36px 23px var(--dt-searchbar-commingsoon-boxshadow);
		-moz-box-shadow: 2px 5px 36px 23px var(--dt-searchbar-commingsoon-boxshadow);
		-o-box-shadow: 2px 5px 36px 23px var(--dt-searchbar-commingsoon-boxshadow);
		-ms-box-shadow: 2px 5px 36px 23px var(--dt-searchbar-commingsoon-boxshadow);
	}
	.body_dark_mode .get-back-ies{
		color: var(--dt-ies-back-color);
	}
	.body_dark_mode .msg-admin-ies{
		color: var(--dt-ies-msgadmin-color);
	}
	/* CHANGELOG */
	.body_dark_mode .commit-li{
		background-color: var(--dt-changelog-li-bg);
	}