@font-face {
	font-family: 'Rubik';
	src: url("/static/fonts/rubik.otf");
}


@media screen and (max-width : 1070px){ /* pour résolution inférieur à 1070 */
	.altar_cost_content{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.sec-half-altar{
		margin-left: 0px;
	}
	.tierlist_img, .tierlist_img_myt{
		width: 85%;
	}
	.fusion_item_img{
		width: 70%;
		object-fit: contain;
	}
	.div-onclick-menu{
		width: 50%;
	}
}


@media screen and (min-width : 1420px){ /* pour résolution inf à 1070px */	
	.fusion_item_img{
		width: auto;
	}
}


@media screen and (min-width : 1070px){ /* pour résolution supérieux à 1070px */	
	.altar_cost_content{
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
	.sec-half-altar{
		margin-left: 90px;
	}
	.tierlist_img, .tierlist_img_myt{
		width: 70%;
	}
	.div-onclick-menu{
		width: 40%;
	}
}

@media screen and (min-width : 600px){ /* pour résolution supérieur à 600x */
	#all_week_div{
		display: grid;
		grid-template-columns: repeat(2,auto);
	}   
	
	#week_1, #week_2, #week_3, #week_4, #week_5, #week_6, #week_7, #week_8, #week_9{
		padding-top: 20px;
		padding-bottom: 10px;
		border: solid 1px;
	}
	.div-onclick-menu{
		font-size: x-large;
		font-family: "Rubik";
		font-weight: bold;
		padding: 10px 20px 10px 20px;
	}
}

@media screen and (max-width : 600px){ /* pour résolution inférieur à 600x */
	#all_week_div{
		display: grid;
		grid-template-columns: repeat(1,auto);
	}
	#week_1, #week_2, #week_3, #week_4, #week_5, #week_6, #week_7, #week_8, #week_9{
		padding-top: 20px;
		padding-bottom: 10px;
		border: solid 1px;
	} 
	.div-onclick-menu{
		font-size: large;
		font-family: "Rubik";
		font-weight: 500;
		padding: 5px 10px 5px 10px;
	}
}

@media screen and (min-width: 540px){
	.flex-box{
		width: 70%;
	}
	.content{
		padding: 0 18px;
	}
}
@media screen and (max-width: 540px){
	.flex-box{
		width: 100%;
	}
	.content{
		padding: 0 0px;
		width: 100%;
	}
}
@media screen and (max-width : 440px){ /* pour résolution inférieur à 400px */
	.div-onclick-menu{
		width: 75%;
	}
}

@media screen and (min-width : 400px){ /* pour résolution sup à 400px */
	#myInput {
		width: 50%;
		max-width: 250px;
		background-position: 10px 10px;
		font-size: 16px;
		padding: 12px 20px 12px 40px;
	}
	#myUL {
		width: 65%;
		margin-top: 45px;
	}
	#myUL li a {
		padding: 7px;
		font-size: 18px;
	}
}

@media screen and (max-width : 400px){ /* pour résolution inférieur à 400px */
	*{
		font-size: small;
	}
	select, input{
		width: auto;
	}
	#myInput {
		width: 50%;
		max-width: 250px;
		background-position: 6px 6px;
		font-size: 12px;
		padding: 8px 14px 8px 28px;
	}
	#myUL {
		width: 65%;
		margin-top: 32px;
	}
	#myUL li a {
		padding: 7px;
		font-size: 13px;
	}
}

@media screen and (min-width : 350px){ /* pour résolution inférieur à 400px */
	.runes-choice{
		width: 100%;
		gap: 8px;
	}
	.rchrch img{
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width : 350px){ /* pour résolution inférieur à 400px */
	.select-runes select{
		max-width: 150px;
	}
	.input-runes input{
		max-width: 50px;
	}
	.runes-choice{
		width: 100%;
		gap: 4px;
	}
	.rchrch img{
		width: 40px;
		height: 40px;
	}
	.table-damage-result{
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 100%;
		overflow: scroll;
	}
}

*{
    margin: 0;
    font-family: 'Rubik';
}
.main-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
}
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
/*################  MAZE.HTML  ##################*/
.body_maze{
	height: 100%;
}
.maze-main{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
	margin-top: 10px;
}
.maze-main #week-link{
    display: grid;
	justify-content: center;
	padding: 8px;
    grid-template-columns: repeat(3,auto);
    margin-bottom: 30px;
	height: 100px;
}
.maze-main li{
	list-style: none;
}
#week-link a{
	display: flex;
	border-style: solid;
	border-width: 1px;
	align-items: center;
    text-decoration: none;
    font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	color: #0000EE;
}
#week-link a:hover{
	color: #551A8B;
}
#linktotop-btn{     /*HDBG*/
	text-decoration: none;
	color: black;
	padding: 10px;
	background-color: #F8D48B;
	border: solid 0px;
	border-radius: 10px;
}
.body_dark_mode #linktotop-btn{
	background-color: #8750e1;
	color: rgb(228, 228, 228);
}
#linktotop-btn:after{
	font-family: FontAwesome;
	content: "\f062";
	color: black;
}
.body_dark_mode #linktotop-btn:after{
	color: rgb(228, 228, 228);
}
#Week_1, #Week_2, #Week_3, #Week_4, #Week_5, #Week_6, #Week_7, #Week_8, #Week_9{
	margin-top: 15px;
	margin-bottom: 8px;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: x-large;
}
.body_dark_mode .maze-main p,.body_dark_mode .maze-main h2, .body_dark_mode .dateListItem, .body_dark_mode #week-link a:hover{
	color: rgb(219, 219, 219);
}
.body_dark_mode #week-link a{
	color: #8750e1;
}
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
/*################  MENU.HTML  ##################*/
.main-menu{
	display: flex;
    flex-direction: column;
}
.select-href{
	user-select: none;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.div-onclick-menu{
	cursor: pointer;
	background-color: #3686c7;
	border-radius: 6px;
	text-align: center;
	color: white;
	margin-top: 10px;
	border: solid 0px;
	text-decoration: none;
}
.div-onclick-menu:hover{
	z-index: 1;
	color: #57327a;
	transform: scale(1.03);
	transition: all ease-out 0.2s;
}
.error-csrf-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
/*################  THEORYCRAFTING.HTML  ##################*/
/*################  THEORYCRAFTING.HTML  ##################*/
/*################  THEORYCRAFTING.HTML  ##################*/
/*################  THEORYCRAFTING.HTML  ##################*/
/*################  THEORYCRAFTING.HTML  ##################*/
/*################  THEORYCRAFTING.HTML  ##################*/
.main-flexbox{
	display: flex;
	flex-direction: column;
}
.flex-box{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 3px;
}
.container-flexbox{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px
}
.collapsible{
	width: 100%;
	height: 44px;
	border: solid 1px grey;
	background-color: antiquewhite;
	border-radius: 5px;
	align-items: center;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: medium;
	text-align: left;
	outline: none;
}
.body_dark_mode .collapsible{
	border: none;
	background: linear-gradient(to left, #d41459, #911a6c);
}
.body_dark_mode .collapsible:hover{
	background: linear-gradient(to left, #a70f47, #6c1350);
}
.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.body_dark_mode .content{
	background-color: transparent;
}
.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}
.body_dark_mode .collapsible:after {
	color: black;
}
.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.collapsible:hover{
	background-color: rgb(211, 199, 182);
}
.copy-icon-container i{
	display: none;
}
.active .copy-icon-container i{
	display: inline;
	margin-left: 5px;
	cursor: pointer;
}
.gems_spending_guide_child, .gold_earning_guide_child, .gear_farming_guide_child{
	display: flex;
	justify-content: center;
}
.glyphs_explanation, .refinement_explanation{
    padding: 3px;
}
.body_dark_mode .quickraid p a{
	color: ivory;
}
.body_dark_mode .altar_cost_content, .body_dark_mode .flex-box .egg_stats_content, .body_dark_mode .hidden_stats_content, .body_dark_mode .glyphs_explanation, .body_dark_mode .refinement_explanation, .body_dark_mode .faq{
	border-radius: 5px;
	color: #e7e3e0;
	background-color: #434b58;
}
.body_dark_mode .sec-half-altar{
	padding-top: 6px;
}
.body_dark_mode .weeks{
	color: white;
}
.body_dark_mode #week_1,.body_dark_mode #week_2,
.body_dark_mode #week_3,.body_dark_mode #week_4,
.body_dark_mode #week_5,.body_dark_mode #week_6,
.body_dark_mode #week_7,.body_dark_mode #week_8,
.body_dark_mode #week_9{
	border-right: none;
	border-left: none;
}
/*################  CONTENT  ##################*/
/*################  CONTENT  ##################*/
/*################  CONTENT  ##################*/
/*################  CONTENT  ##################*/
/*################  CONTENT  ##################*/
/*################  CONTENT  ##################*/
.first-half-altar{
	margin-top: 10px;
}
.xtox{
	background-color: #F8D48B;
	font-style: italic;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 3px;
    border-radius: 11px;
}
.xtoxresult{
	background-color: #6CB4EE;
	font-style: italic;
	padding: 1px;
	padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 3px;
    border-radius: 11px;
}
.body_dark_mode .xtoxresult, .body_dark_mode .xtox{
	color: black;
}
.qr-chart-img{
	max-height: 600px;
}
/*#####  LIST ITEM DROPDOWN  #####*/
.main-description{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
}
.searchbar-container{
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}
.search-bar{
	width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
#myInput {
    background-image: url("/static/image/svg/look.svg");
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	border-radius: 6px;
}
.body_dark_mode #myInput{
	background-color: lightgrey;
	border: none;
}
.body_dark_mode #myInput::placeholder{
	color: black;
}
#myUL {
	list-style-type: none;
	padding: 0;
	z-index: 999;
	position: absolute;
	overflow-y: scroll;
	max-height: 284px;
	max-width: 185px;
}
#myUL li a {
	border: 1px solid #ddd;
	cursor: pointer;
	margin-top: -1px;
	background-color: #f6f6f6;
	text-decoration: none;
	color: black; 
	display: flex;
	justify-content: center;
	gap: 6px;
	align-items: center;
}
.searchbar-ul-hero li a{
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.searchbar-ul-skill li a{
	flex-direction: column;
}
#myUL li a:hover{
	background-color: #eee;
}
.body_dark_mode #myUL li a {
	background-color: lightgrey;
}
.img-dropdown-icon{
	height: 20px;
	width: auto;
}
.comming-soon{
	position: absolute;
	width: 80%;
	top: 34%;
	font-size: xx-large;
	font-weight: 900;
	background-color: #ffff;
	box-shadow: 2px 5px 36px 23px #000000;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 10px;
	border-radius: 4px;
}
/* DARK THEME */
.body_dark_mode{
    background-color: #1c2429;
}
.body_dark_mode .div-onclick-menu{
    border: none;
    background: linear-gradient(to left, #d41459, #911a6c);
    color: rgb(228, 228, 228);
}
/*################  RUNES  ##################*/
/*################  RUNES  ##################*/
/*################  RUNES  ##################*/
/*################  RUNES  ##################*/
/*################  RUNES  ##################*/
/*################  RUNES  ##################*/
.chooseProfilMsg{
	color: #000000;
	padding: 10px;
}
.body_dark_mode .chooseProfilMsg{
	background-color: transparent;
	color: ivory;
	padding: 10px;
}
.ingame_damage_result{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 40px;
}
.header-ingame-dmg-result{
	color: wheat;
	padding: 10px;
}
.table-outrow{
	background: transparent;
	border: none;
}
.distance-type-th, .damage-type-th, .mobs-type-td, .td-value-damage{
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	padding: 5px;
}
.body_dark_mode .distance-type-th, .body_dark_mode .damage-type-th, .body_dark_mode .mobs-type-td, .body_dark_mode .td-value-damage{
	border: 1px solid white;
	border-radius: 2px;
	background-color: white;
	padding: 5px;
}
.btn-generate-damage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	background-color: #007bff;
	font-weight: 400;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.6rem 1.25rem ;
	font-size: 1rem;
	border-radius: 0.3rem;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
	width: auto;
}
.btn-reset{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	background-color: #007bff;
	font-weight: 400;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.4rem 1rem ;
	font-size: 0.75rem;
	border-radius: 0.3rem;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	cursor: pointer;
	width: auto;
}
.body_dark_mode .btn-generate-damage, .body_dark_mode .btn-reset{
	background: #314149;
}
.body_dark_mode .btn-generate-damage:hover, .body_dark_mode .btn-reset:hover{
	background: #859ebc;
}
.runes-choice{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
    justify-content: center;
}
.saviour, .recovery, .luck{
	filter: brightness(0.4);
	cursor: not-allowed;
}
.courage, .power{
	cursor: pointer;
}
.runes_input{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.select-runes, .input-runes{
	display: flex;
	flex-direction: column;
	background: transparent;
	gap: 4px;
}
.input-runes{
	margin-left: 4px;
	width: 70px;
	padding: 0;
}
.input-runes input{
	height: 30px;
	border: 1px solid black;
	padding: 0 5%;
}
.select-runes select{
	height: 32px;
	border: 1px solid black;
	padding: 0 5%;
}
.div_formulaire{
	font-family: "Rubik";
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	background-color: #6CB4EE;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    text-align: center;
}
.div_formulaire a{
	color: white;
    text-decoration: none;
}
.temp-div{
	padding: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: darkorange;
	font-size: large;
	font-weight: bold;
}
.input-runes input:invalid {
	border: red solid 3px;
}
/**/
.grid-gsheet-archive{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(140px, 375px));
	margin: 10px;
	gap: 10px;
}
.gsheet{
	cursor: pointer;
	padding: 6px;
	background-color: rgb(155, 155, 155);
	border: 0px solid black;
	border-radius: 10px;
	height: max-content;
}
.gsheet-content{
	overflow: hidden;
}
.gsheet-upper-content{
	display: flex;
	flex-direction: row;
}
.gsheet-lower-content{
	background-color: transparent;
	font-size: small;
}
.gsheet-thumbnail img{
	padding: 4px;
	width: 100px;
	height: auto;
	border: 0px solid black;
	border-radius: 10px;
}
.gsheet-title{
	text-transform: capitalize;
	width: 100%;
	font-weight: bold;
}
.get-back-ies{
	color: darkblue;
	cursor: pointer;
}
.msg-admin-ies{
	color: black;
	font-size: large;
	font-style: italic;
}
.body_dark_mode .fa-info-circle{
	color: white;
}
.body_dark_mode .averageDamage{
	color: #fff;
}


.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	font-size: 78%;
	margin-right: 15px;
}
.popup_container {
	visibility: hidden;
	width: auto;
	max-width: 450px;
	height: auto;
	background-color: white;
	font-size: medium;
	color: black;
	text-align: center;
	border-radius: 6px;
	border-color: black;
	border-style: solid;
	position: absolute;
	padding: 6px;
	z-index: 1;
	margin-bottom: 75px;
	margin-left: 100px;
}
.show {
	visibility: visible;
}
.footer-wiki{
	bottom: 0;
}
.select-cost{
	margin-top: 20px;
}
.select-cost select {
	appearance: none;
	margin: 0;
	width: 100%;
	font-family: inherit;
	outline: none;
	min-width: 15ch;
	max-width: 30ch;
	border: 1px solid #777;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
}
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
select, select::after {
    grid-area: select;
}
select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: #777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
label {
  font-size: 1.125rem;
  font-weight: 500;
}
.input-cost{
	margin-top: 20px;
}
.cost_input_container{
	display: flex;
	flex-direction: row;
}
.cost_input{
	margin: 0;
	width: 50%;
	min-width: 50px;
	max-width: 100px;
	font-family: inherit;
	outline: none;
	border: 1px solid #777;
	border-radius: 0.20em;
	padding: 0.20em 0.4em;
	font-size: 1rem;
	background-color: #fff;
}
.submit_container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2px;
}
.submit-input{
	color: #fff;
    background-color: #007bff;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.85rem;
    border-radius: 0.25rem;
	margin-bottom: 10px;
	cursor: pointer;
}
.input-cost input:invalid, .input-cost .err{
	border: red solid 2px;
}
.field_value2{
	display: flex;
}
.body_dark_mode .cost_type{
	color: #fff;
}
.body_dark_mode .input-cost{
	color: #fff;
}
.tutorial{
	margin: 20px 20% 20px 20%;
	padding: 4px;
	border: solid 0px black;
	border-radius: 10px;
	background-color: #6CB4EE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.body_dark_mode .tutorial{
	background-color: #777;
}
.body_dark_mode .content a{
	text-decoration: none;
	color: #c58af9;
}
.body_dark_mode .category-cost{
	color: white;
}
.news{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.news-title{
	display: flex;
	border-top: 1px black solid;
	font-size: 0.82em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
}
.body_dark_mode .news-title{
	color: #f5f5f5bf;
}
.news-container{
	text-decoration: none;
	width: min-content;
    height: 60px;
    padding: 0;
	margin-top: 10px;
	background: none;
	cursor: auto;
}
.news-container:hover{
	transform: none;
}
.body_dark_mode .news-container{
	background: none;
}
.image-feedback{
	height: 60px;
}
.news-container a{
	text-decoration: none;
	color: #ffffff;
	position: relative;
	bottom: 51px;
}
.news-container-content{
	justify-content: center;
    display: flex;
}
