{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.5.6a">
<link rel="stylesheet" type="text/css" href="{% static 'article.css' %}?version=1.5.6a">
<title>Archero - Wiki</title>
<meta property="og:type" content="website">
<meta name="description" content="Welcome to Archero website! We offer advanced gameplay statistics, comprehensive guides to help you progress through the game. This site is constantly evolving and includes the latest updates.">
<meta property="og:title" content="Archero - Skill Description">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/skill-list">
<meta property="og:description" content="Welcome to Archero website! We offer advanced gameplay statistics, comprehensive guides to help you progress through the game. This site is constantly evolving and includes the latest updates.">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.5.6a">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container">
	<div class="page-wrapper">
		<div class="index-sidebar" id="indexSidebar">
			<div class="dropdown">
				<button class="dropdown-toggle" type="button" id="indexDropdown" aria-haspopup="true" aria-expanded="false">
					
				</button>
				<div class="dropdown-menu" aria-labelledby="indexDropdown">
					{% for i in AdvancedStats %}
					<a class="dropdown-item" href="#{{ i.id_item }}">{{ i.content.title }}</a>
					<hr>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<article id="{{ i.id_item }}" class="article spoiler">
				<div class="content-article">
					<div>Shout-out to the Archero Beta team who have searched all these informations and also to the Archero team who let us share this !!</div>
				</div>
			</article>
			{% for i in AdvancedStats %}
			<article id="{{ i.id_item }}" class="article">
				<div class="content-article">
					<h2>{{ i.content.title }} <span class="dot"><img src="/static/image/{{ i.image_header.src }}" alt="{{ i.image_header.alt }}" style="max-width: 100%;max-height: 100%;"></span></h2>
					{% for field in i.content.description %}
					<p>{{ field }}</p>
					{% endfor %}
					<span style="font-size:0.8em">See Stats <a href='{{ i.content.href }}' target='_blank'>here</a></span>
				</div>
			</article>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	const self_inline_div_traveling = document.getElementById('AdvancedStats-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
<script>
	var indexDropdown = document.getElementById("indexDropdown");
	var dropdownMenu = document.querySelector(".dropdown-menu");

	indexDropdown.addEventListener("click", function () {
		dropdownMenu.classList.toggle("show");
	});
</script>
{% endblock %} 