{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% load custom_template_tag %}
	{% block head %}
		<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.9.4a">
		<link rel="stylesheet" type="text/css" href="{% static 'article.css' %}?version=1.9.4a">
		<title>{% blocktrans %}Archero - {{ article_title }}{% endblocktrans %}</title>
		{% if article.titre_description != None %}
		<meta property="og:title" content="{{ article.titre_description }}">
		{% else %}
		<meta property="og:title" content="{% blocktrans %}Archero - Wiki{% endblocktrans %}">
		{% endif %}
		<meta property="og:url" content="https://stats.wiki-archero.com/">
		<meta property="og:type" content="website">
		{% if article.meta_description != None %}
		<meta property="og:description" content="{{ article.meta_description }}">
		{% else %}
		<meta property="og:description" content="{% blocktrans %}Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.{% endblocktrans %}">
		{% endif %}
		<meta name="description" content="{% blocktrans %}Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.{% endblocktrans %}">
		<meta property="og:image" content="{{ request.archero_icon_link }}">
	{% endblock %}
	{% block header_content %}{{ article.title }}{% endblock %}
	{% block content %}
	<div class="article-news-container need-small article-page">
		<div class="article-new-box">
			<section class="is-primary">
				<div class="article-new-body">
					<p class="article-new-title">{{ article.title }}</p>
					<p class="article-new-subtitle">{{ article.last_change }}</p>
				</div>
			</section>
			<div class="article-new-content">
				<p>{{ article.intro | markdown | safe }}</p>
				<p>{{ article.body | markdown | safe }}</p>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block javascript %}
		<script>
			const self_inline_div_traveling = document.getElementById('Menu-sidebar-image')
			self_inline_div_traveling.classList.add('bg-traveling') 
		</script>
	{% endblock %}