{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.8.1">
<title>{% blocktrans %}Archero - Wiki{% endblocktrans %}</title>
<meta property="og:title" content="Archero Emulator Runes">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/damage-calculator">
<meta property="og:type" content="website">
<meta property="og:description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.">
<meta name="description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.8.1">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="select-href">
	<div class="chooseProfilMsg">{% blocktrans %}Choose a profile you want to test the runes on or look the damage :{% endblocktrans %}</div>
	{% if selfHasProfil == "yes" %}
	<a href="/{{ LANGUAGE_CODE }}/wiki/damage-calculator/calc/{{ selfStats.public_id }}/" class="div-onclick-menu" style="cursor: pointer;"><div class="menu-onclick-img"><span class="txt-onclick-span">{{ selfStats.ingame_name }} </span></div></a>
	{% elif selfHasProfil == "login" %}
	<div class="div_formulaire">
		<a href="/{{ LANGUAGE_CODE }}/login">{% blocktrans %}Login{% endblocktrans %}</a>
	</div>
	{% elif selfHasProfil == "no" %}
	<div class="div_formulaire">
		<a href="/{{ LANGUAGE_CODE }}/calculator/create/">{% blocktrans %}Create profile{% endblocktrans %}</a>
	</div>
	{% endif %}
	{% for profile in list_damage_profile %}
	<a href="/{{ LANGUAGE_CODE }}/wiki/damage-calculator/calc/{{ profile.public_id }}/" class="div-onclick-menu" style="cursor: pointer;"><div class="menu-onclick-img"><span class="txt-onclick-span">{{ profile.ingame_name }}</span></div></a>
	{% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script>
	const self_inline_div_traveling = document.getElementById('Damage-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 