{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.6.1">
<title>Archero - Wiki</title>
<meta property="og:title" content="Archero Emulator Runes">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/damage-calculator">
<meta property="og:type" content="website">
<meta property="og:description" content="Welcome to the Archero wiki, optimize your damage output in Archero with our powerful damage calculator tool. Easily calculate and analyze your in-game damage based on various factors, including gear, abilities, and runes. Take control of your build by experimenting with different runes swapping strategies to maximize your potential.">
<meta name="description" content="Welcome to the Archero wiki, optimize your damage output in Archero with our powerful damage calculator tool. Easily calculate and analyze your in-game damage based on various factors, including gear, abilities, and runes. Take control of your build by experimenting with different runes swapping strategies to maximize your potential.">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.6.1">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container">
	<div class="container_runes_input">
		<form method="POST" action="?">
			{% csrf_token %}
			<div class="runes-choice">
				<div id="power" class="fieldset_container" onclick="runesClicked('power')">
					<input type="radio" id="power_rune" name="runes" value="power" style="display: none;">
					<label class="label_fieldset" for="power_rune"><img class="rchrch" src="/static/image/wiki-image/rune_101.png" alt="runes power"></label>
				</div>
				<div id="courage" class="fieldset_container" onclick="runesClicked('courage')">
					<input type="radio" id="courage_rune" name="runes" value="courage" style="display: none;">
					<label class="label_fieldset" for="courage_rune"><img class="rchrch" src="/static/image/wiki-image/rune_104.png" alt="runes courage"></label>
				</div>
			</div>
			<script>
				document.cookie = " csrftoken= "+document.querySelector('[name=csrfmiddlewaretoken]').value + ";path=/";
			</script>
			<div class="runes_input">
				<div class="select-runes">
					<select id="id_firstSelect" class="runes-line" name="firstSelect">
						<option value="none">--Choose a Runes--</option>
					</select>
					<select id="id_secondSelect" class="runes-line" name="secondSelect">
						<option value="none">--Choose a Runes--</option>
					</select>
					<select id="id_thirdSelect" class="runes-line" name="thirdSelect">
						<option value="none">--Choose a Runes--</option>
					</select>
					<select id="id_fourthSelect" class="runes-line" name="fourthSelect">
						<option value="none">--Choose a Runes--</option>
					</select>
					<select id="id_fifthSelect" class="runes-line" name="fifthSelect">
						<option value="none">--Choose a Runes--</option>
					</select>
				</div>
				<div class="input-runes">
					<input type="number" step="0.01" id="id_firstInput" name="firstInput">
					<input type="number" step="0.01" id="id_secondInput" name="secondInput">
					<input type="number" step="0.01" id="id_thirdInput" name="thirdInput">
					<input type="number" step="0.01" id="id_fourthInput" name="fourthInput">
					<input type="number" step="0.01" id="id_fifthInput" name="fifthInput">
				</div>
			</div>
			<div class="container-submit-form">
				<button type="submit" class="btn-generate-damage">Generate Damage</button>
			</div>
		</form>
	</div>
	<div class="ingame_damage_result" id="ingame_damage_result">
		<table class="table-damage-result">
			<tr>
				<th colspan="1" class="table-outrow popup-dmgcalc" onclick="damagePopupFunction()"><i class="fa fa-info-circle" aria-hidden="true"></i></th>
					<span class="popup_container" id="damage_popup">
						• Generate Damage show damage with the runes input above<br>
						• Here you see a table with the damage in game<br>
					</span>
				<th colspan="2" class="distance-type-th">Melee</th>
				<th colspan="2" class="distance-type-th">Range</th>
			</tr>
			<tr>
				<th class="table-outrow"><a class="btn-reset" href="">Reset</a></th>
				<th class="damage-type-th">Normal Dmg</th>
				<th class="damage-type-th">Critical Dmg</th>
				<th class="damage-type-th">Normal Dmg</th>
				<th class="damage-type-th">Critical Dmg</th>
			</tr>
			<tr>
				<td class="mobs-type-td">Ground Mobs</td>
				<td class="td-value-damage" id="damageMeleeNormalGroundM">{{ mob_ground_melee_damage.0 }}</td>
				<td class="td-value-damage" id="damageMeleeCriticGroundM">{{ mob_ground_melee_damage.1 }}</td>
				<td class="td-value-damage" id="damageRangeNormalGroundM">{{ mob_ground_range_damage.0 }}</td>
				<td class="td-value-damage" id="damageRangeCriticGroundM">{{ mob_ground_range_damage.1 }}</td>
			</tr>
			<tr>
				<td class="mobs-type-td">Airborne Mobs</td>
				<td class="td-value-damage" id="damageMeleeNormalAirborneM">{{ mob_airborne_melee_damage.0 }}</td>
				<td class="td-value-damage" id="damageMeleeCriticAirborneM">{{ mob_airborne_melee_damage.1 }}</td>
				<td class="td-value-damage" id="damageRangeNormalAirborneM">{{ mob_airborne_range_damage.0 }}</td>
				<td class="td-value-damage" id="damageRangeCriticAirborneM">{{ mob_airborne_range_damage.1 }}</td>
			</tr>
			<tr>
				<td class="mobs-type-td">Ground Boss</td>
				<td class="td-value-damage" id="damageMeleeNormalGroundB">{{ boss_ground_melee_damage.0 }}</td>
				<td class="td-value-damage" id="damageMeleeCriticGroundB">{{ boss_ground_melee_damage.1 }}</td>
				<td class="td-value-damage" id="damageRangeNormalGroundB">{{ boss_ground_range_damage.0 }}</td>
				<td class="td-value-damage" id="damageRangeCriticGroundB">{{ boss_ground_range_damage.1 }}</td>
			</tr>
			<tr>
				<td class="mobs-type-td">Airborne Boss</td>
				<td class="td-value-damage" id="damageMeleeNormalAirborneB">{{ boss_airborne_melee_damage.0 }}</td>
				<td class="td-value-damage" id="damageMeleeCriticAirborneB">{{ boss_airborne_melee_damage.1 }}</td>
				<td class="td-value-damage" id="damageRangeNormalAirborneB">{{ boss_airborne_range_damage.0 }}</td>
				<td class="td-value-damage" id="damageRangeCriticAirborneB">{{ boss_airborne_range_damage.1 }}</td>
			</tr>
		</table><br>
		<div class="averageDamage">
			This is average damage with:
			<li><b id="critdmg">{{ crit_dmg }}</b>% of Critical Damage</li>
			<li><b id="critrate">{{ crit_rate }}</b>% chance of Critical Hit</li>
			Your average Damage is : <b id="averageDamage">{{ averageDamage }}</b>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	var damage_popup = document.getElementById('damage_popup')
	function damagePopupFunction(){
		damage_popup.classList.toggle('show')
	}
	window.addEventListener('click', ({target}) => {
		if(!target.closest('.popup-dmgcalc') && damage_popup.classList.contains('show')) damagePopupFunction()
	})
</script>
<script>
	var powerRunesLines = [["none", "None"],['attack_flat','Attack'],['attack_var','Attack%'],["flat_dmg_airborne", "Damage to Airborne Units"],["var_dmg_airborne", "Damage to Airborne Units %"],["flat_dmg_ground", "Damage to Ground Units"],["var_dmg_ground", "Damage to Ground Units %"],["flat_dmg_melee", "Damage to Melee Units"],["var_dmg_melee", "Damage to Melee Units %"],["flat_dmg_ranged", "Damage to Ranged Units"],["var_dmg_ranged", "Damage to Ranged Units %"],["flat_dmg_boss", "Damage to Bosses Units"],["var_dmg_boss", "Damage to Bosses Units %"],["flat_dmg_mob", "Damage to Mobs Units"],["var_dmg_mob", "Damage to Mobs Units %"],["var_dmg_hero", "Damage to Heroes %"],["var_all_dmg", "All Damage %"],["var_elemental_dmg", "Elemental Damage %"],["var_atk_speed", "Attack Speed %"],["var_crit_rate", "Critic Chance %"],["var_crit_dmg", "Critic Damage %"]]
	var courageRunesLines = [["none", "None"],['attack_flat','Attack'],['attack_var','Attack%'],['courage_hero_attack_flat','Hero base ATK'],['courage_hero_attack_var','Hero base ATK %'],['other','other ...']]
	function runesClicked(runesType) {
		var allSelect = document.getElementsByClassName('runes-line');
		var inputRuneContainer = document.getElementsByClassName('runes_input');
		var runesLine = Object.values(allSelect);
		var firstSelect = document.getElementById('id_firstSelect');
		var secondSelect = document.getElementById('id_secondSelect');
		var thirdSelect = document.getElementById('id_thirdSelect');
		var fourthSelect = document.getElementById('id_fourthSelect');
		var fifthSelect = document.getElementById('id_fifthSelect');
		var firstInput = document.getElementById('id_firstInput');
		var secondInput = document.getElementById('id_secondInput');
		var thirdInput = document.getElementById('id_thirdInput');
		var fourthInput = document.getElementById('id_fourthInput');
		var fifthInput = document.getElementById('id_fifthInput');
		firstInput.value = '';
		secondInput.value = '';
		thirdInput.value = '';
		fourthInput.value = '';
		fifthInput.value = '';
		if(runesType === "power"){
			inputRuneContainer[0].id = 'power'
			runesLine.forEach(select => {
				while (select.hasChildNodes()) {
					select.removeChild(select.firstChild);
				}
				if(select.childElementCount-1 === powerRunesLines.length ){
					return
				}else{
					powerRunesLines.forEach(e => {
						var newOption = document.createElement('option');
						newOption.innerHTML = e[1]
						newOption.setAttribute("value",e[0])
						select.appendChild(newOption)
					});
				}
			});
			firstSelect.value = "{{ vars_dict.power_first_select }}";
			firstInput.value = "{{ vars_dict.power_first_input }}";
			secondSelect.value = "{{ vars_dict.power_second_select }}";
			secondInput.value = "{{ vars_dict.power_second_input }}";
			thirdSelect.value = "{{ vars_dict.power_third_select }}"
			thirdInput.value = "{{ vars_dict.power_third_input }}";
			fourthSelect.value = "{{ vars_dict.power_fourth_select }}"
			fourthInput.value = "{{ vars_dict.power_fourth_input }}";
			fifthSelect.value = "{{ vars_dict.power_fifth_select }}"
			fifthInput.value = "{{ vars_dict.power_fifth_input }}";
		} else if(runesType === "courage"){
			inputRuneContainer[0].id = 'courage'
			runesLine.forEach(select => {
				while (select.hasChildNodes()) {
					select.removeChild(select.firstChild);
				}
				if(select.childElementCount-1 === powerRunesLines.length){
					return
				}else{
					courageRunesLines.forEach(e => {
						var newOption = document.createElement('option');
						newOption.innerHTML = e[1]
						newOption.setAttribute("value",e[0])
						select.appendChild(newOption)
					});
				}
			});
			firstSelect.value = "{{ vars_dict.courage_first_select }}";
			firstInput.value = "{{ vars_dict.courage_first_input }}";
			secondSelect.value = "{{ vars_dict.courage_second_select }}";
			secondInput.value = "{{ vars_dict.courage_second_input }}";
			thirdSelect.value = "{{ vars_dict.courage_third_select }}";
			thirdInput.value = "{{ vars_dict.courage_third_input }}";
			fourthSelect.value = "{{ vars_dict.courage_fourth_select }}";
			fourthInput.value = "{{ vars_dict.courage_fourth_input }}";
			fifthSelect.value = "{{ vars_dict.courage_fifth_select }}";
			fifthInput.value = "{{ vars_dict.courage_fifth_input }}";
		}
	}
	if("{{ method }}" === "POST"){
		runesClicked('{{ runes }}')
		if('{{ runes }}' == "power"){
			document.getElementsByClassName('label_fieldset')[0].click()
		}else if('{{ runes }}' == "courage"){
			document.getElementsByClassName('label_fieldset')[1].click()
		}
	}
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Damage-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 