{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.7.2">
<title>{% blocktrans %}Archero - Google Sheets Community{% endblocktrans %}</title>
<meta property="og:title" content="Archero - Google Sheet Archives">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/google-sheet/">
<meta property="og:type" content="website">
<meta property="og:description" content="Discover a curated collection of Archero Google Sheets created by the passionate Archero community. Explore a variety of useful spreadsheets, including tier lists, damage calculators, and more. Access valuable tools and insights to enhance your gameplay and stay ahead in Archero with the help of our comprehensive Google Sheets resource.">
<meta name="description" content="Discover a curated collection of Archero Google Sheets created by the passionate Archero community. Explore a variety of useful spreadsheets, including tier lists, damage calculators, and more. Access valuable tools and insights to enhance your gameplay and stay ahead in Archero with the help of our comprehensive Google Sheets resource.">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.7.2">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="grid-gsheet-archive" id="grid-gsheet-archive">
	{% for key, sheet in GsheetData.items %}
		<a class="linkSheetBox" href="{{ sheet.url }}" target="_blank">
			<div class="gsheet">
				<div class="gsheet-upper-content">
					<div class="gsheet-title">
						{{ key }}
					</div>
					<div class="gsheet-thumbnail">
						<img alt="{{ key }}'s thumbnail" src="{{ sheet.thumbnail }}">
					</div>
				</div>
				<div class="gsheet-lower-content">
					<div class="gsheet-content">
						{{ sheet.description }}
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script>
	const self_inline_div_traveling = document.getElementById('Sheet-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 