<!doctype html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}?version=1.18.2 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.18.2 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}?version=1.18.2 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.18.2 %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Wiki</title>
	<script src="https://kit.fontawesome.com/0b193e89de.js" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
</head>
{% if darkmode == "yes" %}
<body class="body_dark_mode">
{% elif darkmode == "no" %}
<body>
{% endif %}
<noscript>
	<div id="no-script-message">
		<p>Please enable JavaScript to use this website.</p>
	</div>
</noscript>
    <div class="sidebar sidebar-open sidebar-position-f" id="sidebar">
        <div class="sidebar-icon" id="sidebar-icon">
            <div class="leftsidebarc" id="lscimg"> <div class="lcontent">SIDEBAR</div></div>
            <div class="rightsidebarc" id="rscimg">
                <svg id="svg-filter-sidebar" width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScIconSVG-sc-1q25cff-1 dSicFr"><g><path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path></g></svg>
            </div>
        </div>
        <div class="traveling" id="traveling">
            <!-- SIDEBAR CONTENT INJECTED BY JAVASCRIPT -->
        </div>
    </div>
	<div class="main-container">
		<div class="container cmcath">
			<header class="header-container">
				<div class="header-container-1"></div>
				<div class="header-container-2 header_msg"><h2>{{ header_msg }}</h2></div>
				<div class="header-container-3 globe_header_icon">
					<!-- <label for="lang"><i class="fa-solid fa-globe"></i></label>
					<select name="lang" id="lang">
						{% for language in lang %}
						<option value="{{language}}">{{language}}</option>
						{% endfor %}
					</select> -->
				</div>
			</header>
			<main class="main-description">
				<div class="search-bar" id="search-bar">
					<script>
						function filterList() {
                            var input = document.getElementById("myInput");
                            var filter = input.value.toUpperCase();
                            var ul = document.getElementById("myUL");
                            var li = ul.getElementsByTagName("li");

                            for (var i = 0; i < li.length; i++) {
                                var a = li[i].getElementsByTagName("a")[0];
                                var txtValue = a.textContent || a.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    li[i].style.display = "";
                                } else {
                                    li[i].style.display = "none";
                                }
                            }
                        }
					</script>
					<input type="text" id="myInput" onkeyup="filterList()" placeholder="Search for items..">
					<ul id="myUL" class="searchbar-ul-hero" style="display: none;">
						<li value="Atreus"><a id="toggle-display-list" href="heroes?Search=Atreus">Atreus <img src="/static/image/hero_icon/icon_atreus.png" width="26px"></a></li>
						<li value="Urasil"><a id="toggle-display-list" href="heroes?Search=Urasil">Urasil <img src="/static/image/hero_icon/icon_urasil.png" width="26px"></a></li>
						<li value="Phoren"><a id="toggle-display-list" href="heroes?Search=Phoren">Phoren <img src="/static/image/hero_icon/icon_phoren.png" width="26px"></a></li>
						<li value="Taranis"><a id="toggle-display-list" href="heroes?Search=Taranis">Taranis <img src="/static/image/hero_icon/icon_taranis.png" width="26px"></a></li>
						<li value="Helix"><a id="toggle-display-list" href="heroes?Search=Helix">Helix <img src="/static/image/hero_icon/icon_helix.png" width="26px"></a></li>
						<li value="Meowgik"><a id="toggle-display-list" href="heroes?Search=Meowgik">Meowgik <img src="/static/image/hero_icon/icon_meowgik.png" width="26px"></a></li>
						<li value="Shari"><a id="toggle-display-list" href="heroes?Search=Shari">Shari <img src="/static/image/hero_icon/icon_shari.png" width="26px"></a></li>
						<li value="Ayana"><a id="toggle-display-list" href="heroes?Search=Ayana">Ayana <img src="/static/image/hero_icon/icon_ayana.png" width="26px"></a></li>
						<li value="Onir"><a id="toggle-display-list" href="heroes?Search=Onir">Onir <img src="/static/image/hero_icon/icon_onir.png" width="26px"></a></li>
						<li value="Rolla"><a id="toggle-display-list" href="heroes?Search=Rolla">Rolla <img src="/static/image/hero_icon/icon_rolla.png" width="26px"></a></li>
						<li value="Bonnie"><a id="toggle-display-list" href="heroes?Search=Bonnie">Bonnie <img src="/static/image/hero_icon/icon_bonnie.png" width="26px"></a></li>
						<li value="Sylvan"><a id="toggle-display-list" href="heroes?Search=Sylvan">Sylvan <img src="/static/image/hero_icon/icon_sylvan.png" width="26px"></a></li>
						<li value="Shade"><a id="toggle-display-list" href="heroes?Search=Shade">Shade <img src="/static/image/hero_icon/icon_shade.png" width="26px"></a></li>
						<li value="Ophelia"><a id="toggle-display-list" href="heroes?Search=Ophelia">Ophelia <img src="/static/image/hero_icon/icon_ophelia.png" width="26px"></a></li>
						<li value="Ryan"><a id="toggle-display-list" href="heroes?Search=Ryan">Ryan <img src="/static/image/hero_icon/icon_ryan.png" width="26px"></a></li>
						<li value="Lina"><a id="toggle-display-list" href="heroes?Search=Lina">Lina <img src="/static/image/hero_icon/icon_lina.png" width="26px"></a></li>
						<li value="Aquea"><a id="toggle-display-list" href="heroes?Search=Aquea">Aquea <img src="/static/image/hero_icon/icon_aquea.png" width="26px"></a></li>
						<li value="Shingen"><a id="toggle-display-list" href="heroes?Search=Shingen">Shingen <img src="/static/image/hero_icon/icon_shingen.png" width="26px"></a></li>
						<li value="Gugu"><a id="toggle-display-list" href="heroes?Search=Gugu">Gugu <img src="/static/image/hero_icon/icon_gugu.png" width="26px"></a></li>
						<li value="Iris"><a id="toggle-display-list" href="heroes?Search=Iris">Iris <img src="/static/image/hero_icon/icon_iris.png" width="26px"></a></li>
						<li value="Blazo"><a id="toggle-display-list" href="heroes?Search=Blazo">Blazo <img src="/static/image/hero_icon/icon_blazo.png" width="26px"></a></li>
						<li value="Melinda"><a id="toggle-display-list" href="heroes?Search=Melinda">Melinda <img src="/static/image/hero_icon/icon_melinda.png" width="26px"></a></li>
						<li value="Elaine"><a id="toggle-display-list" href="heroes?Search=Elaine">Elaine <img src="/static/image/hero_icon/icon_elaine.png" width="26px"></a></li>
						<li value="Bobo"><a id="toggle-display-list" href="heroes?Search=Bobo">Bobo <img src="/static/image/hero_icon/icon_bobo.png" width="26px"></a></li>
					</ul>
				</div>
				<div class="embed-container">
					<div class="kn3fae-0 ezpxFx">
						<div class="sgp62q-0 iuJdTu">
							<a title="TigerShark's Bot">
								<img src="/static/image/wiki-image/sylvanpfp3.png" alt="User avatar" class="sgp62q-1 dLWNvE">
								<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
								<span class="sgp62q-3 cTBPsI">BOT</span>
								<span class="sc-1idsap7-0 dyOqmJ" id="date"></span>
							</a>
						</div>
						<div class="kn3fae-2 eKjosW">
							<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
								<div class="sc-3qrykn-0 bdFBtt">
									<span class="sc-3qrykn-1 bsDYtY">
										<div class="sc-27l7o2-0 heOpKb" id="name_hero">Atreus</div>
									</span>
									<div class="sc-3qrykn-3 hXMbfy">
										<div class="sc-27l7o2-0 heOpKb" id="hero_description">A rookie archer on his way to become an archer hero</div>
									</div>
									<div class="sc-3qrykn-4 hQKgZF">
										<div class="rgqgux-0 dQAxvm">
											<div class="rgqgux-1 dHYyKL">
												<div class="sc-27l7o2-0 heOpKb" style="color: white;">
													<strong>Stats</strong>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<div id="base_atk"> •  Base Attack: 150 [+8]</div>
													<div id="base_hp"> •  Base Hp: 600 [+25]</div><br>
												</div>
											</div>
											<div class="rgqgux-1 dHYyKL">
												<div class="sc-27l7o2-0 heOpKb" style="color: white;">
													<strong>Attributes</strong>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<div id="lvl_stats">
														 • Lvl 20: Max HP + 100 [All Heroes]<br>
														 • Lvl 40: Damage to Ranged Units + 15%<br>
														 • Lvl 60: Max HP + 4% [All Heroes]<br>
														 • Lvl 80: Attack Speed + 5%<br>
														 • Lvl 120: Projectile Resistance + 7% [All Heroes]
													</div><br>
												</div>
											</div>
											<div class="rgqgux-1 dHYyKL">
												<div class="sc-27l7o2-0 heOpKb" style="color: white;">
													<strong>Price</strong>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<div id="price">
														Free
													</div>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<div id="skill_details">
														
													</div>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<div id="skill">
														Skill: Atreus does not have a unique ability
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="sc-3qrykn-6 fTOqMH">
										<img src="/static/image/hero_icon/icon_atreus.png" alt="Thumbnail" class="sc-3qrykn-7 fUliQq" id="hero_image">
									</div>
								</div>
							</div>
						</div>
						<div class="kn3fae-2 eKjosW">
							<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
								<div class="sc-3qrykn-0 bdFBtt">
									<div class="sc-3qrykn-4 hQKgZF">
										<div class="rgqgux-0 dQAxvm">
											<div class="rgqgux-2 jFcAhO">
												<div class="content-embed-star sc-27l7o2-0 heOpKb">
													<b>1 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_1">
														Patrol Gold Earnings + 4%
													</div><br>
													<b>2 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_2">
														Attack + 30 [All Heroes]
													</div><br>
													<b>3 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_3">
														Skill - Growth: Acquire a new skill - Growth
													</div><br>
													<b>4 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_4">
														Trait - Stubborn: When HP is lower than 20%, HP is restored for a while
													</div><br>
													<b>5 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_5">
														Spirit - Upgrade: During Spirit's crit attack, Atreus's attack speed is increased for a while
													</div><br>
													<b>6 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_6">
														Growth - Insight: Upgrade speed and Heart droprate increased
													</div><br>
													<b>7 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_7">
														Max HP + 800 [All Heroes]
													</div><br>
													<b>8 <object type="image/png" data="\static\image\svg\star.svg" width="14" height="14"></object></b><br>
													<div id="star_8">
														Max HP + 5% [All Heroes]
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer-margin">
            <div class="footer-content">
                <div class="footer-about">
                    <img class="footer-img-icon" src="/static/image/archero_icon.png" alt="image game icon">
                    <div class="about-content">
                        <h2>Archero :</h2>
                        <div>Archero Update will be added with a certains delay</div>
                        <div class="contact-me">
                            <div>If you encounter any bugs / anomaly please contact me on discord</div>
                            <div><b><a class="me-discord-link" href="https://discord.com/users/382930544385851392" target="_blank"><i class="fa-brands fa-discord"></i> LuhCaran#9802</a></b></div>
                        </div>
                    </div>
                </div>
                <div class="discord_link">
                    <div class="container_dlink">
                        <h2>Community Link:</h2> 
                        <a href="https://discord.gg/d7w6FxhHjj" target="_blank"><li> LeMutique's Server</li></a>
                        <a href="https://discord.gg/eAqZquTF6X" target="_blank"><li> TigerShark's Server</li></a>
                    </div>
                    <div class="container_rlink">
                        <a href="https://www.reddit.com/r/Archero/" target="_blank"><li> r/Archero</li></a>
                    </div>
                    <div class="container_flink">
                        <a href="https://www.facebook.com/archerogame/" target="_blank"><li> FB Archero</li></a>
                    </div>
                </div>
                <div class="thanks">
                    <h2>Shout-out :</h2>
                <div class="shout-out">SonHaon, Deth, TigerShark14</div>
                <div class="shout-out">Ktaplouf, Pew, Lorenz, RedsMeName</div>
                <div class="shout-out">Everyone who helped me getting data</div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script>
	const traveling = document.getElementById("traveling")

    for(const item of sidebar){
        const parentContainer = document.createElement("div")
        const leftSidebar = document.createElement("div")
        const childLeftSidebar = document.createElement("div")
        const rightSidebar = document.createElement("div")
        const childRightSidebar = document.createElement("a")
        const image = document.createElement("img")

        traveling.appendChild(parentContainer)
        parentContainer.appendChild(leftSidebar)
        parentContainer.appendChild(rightSidebar)
        leftSidebar.appendChild(childLeftSidebar)
        rightSidebar.appendChild(childRightSidebar)
        childRightSidebar.appendChild(image)

        parentContainer.className = item['container']['class']
        parentContainer.id = item['container']['_name'] + "-sidebar-image"
        parentContainer.addEventListener('click', function windowHref(){
            window.location.href = item['container']['onclick']
        })
        leftSidebar.className = item['container']['childs_container']['leftsidebar']['self_class']
        childLeftSidebar.className = item['container']['childs_container']['leftsidebar']['child_class']
        childLeftSidebar.innerHTML = item['container']['childs_container']['leftsidebar']['child_content']
        rightSidebar.className = item['container']['childs_container']['rightsidebar']['self_class']
        childRightSidebar.className = item['container']['childs_container']['rightsidebar']['child_class']
        image.id = item['container']['childs_container']['rightsidebar']['child_content']['image_id']
        image.src = item['container']['childs_container']['rightsidebar']['child_content']['image_src']
        image.width = item['container']['childs_container']['rightsidebar']['child_content']['image_width']
        image.height = item['container']['childs_container']['rightsidebar']['child_content']['image_height']
    }

    const themeParentContainer = document.createElement("div")
    const themeLeftSidebar = document.createElement("div")
    const themeChildLeftSidebar = document.createElement("div")
    const themeRightSidebar = document.createElement("div")
    const themeImg = document.createElement("img")

    traveling.appendChild(themeParentContainer)
    themeParentContainer.appendChild(themeLeftSidebar)
    themeParentContainer.appendChild(themeRightSidebar)
    themeLeftSidebar.appendChild(themeChildLeftSidebar)
    themeRightSidebar.appendChild(themeImg)

    themeParentContainer.className = "traveling-inline-div"
    themeParentContainer.id = "switch_dark_mode"
    themeLeftSidebar.className = "leftsidebarc traveling-left"
    themeChildLeftSidebar.className = "shcl"
    themeChildLeftSidebar.innerHTML = "Theme"
    themeRightSidebar.className = "rightsidebarc traveling-right"
    themeImg.id = "darkmodeSWITCH" 
    themeImg.width = "21"
    themeImg.height = "21"

    var darkmode = "{{ darkmode }}"
    if(darkmode == "yes"){
        themeImg.src = "\\static\\image\\img-sidebar\\moon.png"
    }else if(darkmode == "no"){
        themeImg.src = "\\static\\image\\img-sidebar\\sun.png"
    }

    var switchModeBtn = document.getElementById('switch_dark_mode');
    switchModeBtn.addEventListener('click', function toggleClassDarkMode(){
        var date = new Date()
        var darkmodeSWITCH = document.getElementById('darkmodeSWITCH')
        date.setTime(date.getTime() + (365*24*60*60*1000));
        var body = document.body;
        body.classList.toggle("body_dark_mode");
        if(body.className == "body_dark_mode"){
            document.cookie = "modeDisplay=True; expires=" + date.toUTCString() + "; path=/";
            darkmodeSWITCH.src = "\\static\\image\\img-sidebar\\moon.png"
        }else{
            document.cookie = 'modeDisplay=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            darkmodeSWITCH.src = "\\static\\image\\img-sidebar\\sun.png"
        }
    })

	var sidebarBtn = document.getElementById('sidebar-icon');
	sidebarBtn.addEventListener('click', function toggleSideBarClass(){
		var sidebar = document.getElementById("sidebar")
		sidebar.classList.toggle('sidebar-active')
        sidebar.classList.toggle('sidebar-open')
	})

	var mainDescription = document.getElementsByClassName('main-description')
	var search_bar = document.getElementById('search-bar');
	var ul_li = document.getElementById('myUL');
	var item_li_a = document.querySelectorAll("#toggle-display-list");
	var body = document.body;
	var myInput = document.getElementById('myInput')

	var n =  new Date();
	var y = n.getFullYear();
	var m = n.getMonth() + 1;
	var d = n.getDate();
	document.getElementById("date").innerHTML = d + "/" + m + "/" + y;

	search_bar.addEventListener('click', function(){
		var myInput = document.getElementById('myInput')
		if(ul_li.style.display == "none"){
			ul_li.style.display = "block"
			myInput.value = ""
		}else if(ul_li.style.display !== "none"){
			ul_li.style.display = "none"
		}
	})
</script>
<script>
	var heros = {
        "Atreus":{
            "description":"A rookie archer on his way to become an archer hero",
            "base_atk":"150 [+8]",
            "base_hp":"600 [+25]",
            "attributes":" • Lvl 20: Max HP + 100 [All Heroes]<br>• Lvl 40: Damage to Ranged Units + 15%<br>• Lvl 60: Max HP + 4% [All Heroes]<br>• Lvl 80: Attack Speed + 5%<br>• Lvl 120: Projectile Resistance + 7% [All Heroes]",
            "price":"Free",
            "skill":"Skill: Atreus does not have a unique ability",
            "skill_details":"<br>",
            "star_1":"Patrol Gold Earnings + 4%",
            "star_2":"Attack + 30 [All Heroes]",
            "star_3":"Skill - Growth: Acquire a new skill - Growth",
            "star_4":"Trait - Stubborn: When HP is lower than 20%, HP is restored for a while",
            "star_5":"Spirit - Upgrade: During Spirit's crit attack, Atreus's attack speed is increased for a while",
            "star_6":"Growth - Insight: Upgrade speed and Heart droprate increased",
            "star_7":"Max HP + 800 [All Heroes]",
            "star_8":"Max HP + 5% [All Heroes]"
        },
        "Urasil":{
            "description":"Proficient in the study of Medicine, an invisible killer allowing him to be skilled in Poison.",
            "base_atk":"120 [+9]",
            "base_hp":"550 [+30]",
            "attributes":" • Lvl 20: Attack + 40 [All Heroes]<br> • Lvl 40: Damage to Melee Units + 15%<br> • Lvl 60: Crit Damage + 15% [All Heroes]<br> • Lvl 80: Max HP + 6%<br> • Lvl 120: Damage to Melee Units + 9% [All Heroes]",
            "price":"Free (Unlocked after clearing stage 1 of chapter 2)",
            "skill":"Skill: Your attacks cause an enhanced Poison effect",
            "skill_details":"<br><b>Skill Details:</b><br>40% of base damage per second<br><br>",
            "star_1":"Patrol Ring Scroll Earnings + 4%",
            "star_2":"Max HP + 120 [All heroes]",
            "star_3":"Poison - Feeble: Enemy movement speed reduced 10% when poisoned",
            "star_4":"Trait - Low-key: Toxic damaged + 35% after killing enemy for a while",
            "star_5":"Spirit - Upgrade: Whenever an enemy dies of poison, Spirit's attack is increased by a little",
            "star_6":"Poison - Lethal: Toxic attack, chance to deal 3x more damage",
            "star_7":"Crit Chance + 2% [All heroes]",
            "star_8":"Healing Effect of Red Heart + 7% [All Heroes]"
        },
        "Phoren":{
            "description":"Born from Fire, and Fire answers to no one but him.",
            "base_atk":"130 [+9]",
            "base_hp":"500 [+35]",
            "attributes":" • Lvl 20: Critical Chance + 2% [All Heroes]<br> • Lvl 40: Projectile Resistance: + 15%<br> • Lvl 60: Critical Chance + 2% [All Heroes]<br> • Lvl 80: Critical Chance + 5%<br> • Lvl 120: Damage to Ranged Units + 9% [All Heroes]",
            "price":"50,000 <object type='image/png' data='\\static\\image\\svg\\gold.svg' width='16' height='16'></object>",
            "skill":"Skill: Your attacks cause an enhanced Flame effect",
            "skill_details":"<br>",
            "star_1":"Patrol Sapphires Earnings + 4%",
            "star_2":"Damage to Airborne Units + 75 [All heroes]",
            "star_3":"Red Flame - Super Fire: Fire damage is increased",
            "star_4":"Trait - Passion: When entering a room, a random enemy will be ignited",
            "star_5":"Spirit - Upgrade: Extra damage is dealt when Spirit attacks burning enemy",
            "star_6":"Red Flame - Flame Star: Enemies that are burning will cause reduced damage to hero",
            "star_7":"Attack + 200 [All heroes]",
            "star_8":"Ground Units damage reduced + 6% [All Heroes]"
        },
        "Taranis":{
            "description":"Born of the Thunder, and naturally able to control and wield Thunder.",
            "base_atk":"130 [+10]",
            "base_hp":"550 [+40]",
            "attributes":" • Lvl 20: Crit Chance + 2% [All Heroes]<br> • Lvl 40: Damage to Airborne Units + 20%<br> • Lvl 60: Attack + 4% [All Heroes]<br> • Lvl 80: Crit Damage + 50%<br> • Lvl 120: Damage to Airborne Units + 9% [All Heroes]",
            "price":"1000 <object type='image/png' data='\\static\\image\\svg\\gem.svg' width='16' height='16'></object> or 30 Taranis Shards",
            "skill":"Skill: Your attacks cause an enhanced Lightning effect",
            "skill_details":"<br>",
            "star_1":"Patrol XP Earnings + 4%",
            "star_2":"Max HP + 150 [All heroes]",
            "star_3":"Thunderstorm - Distance: Lightning range increased",
            "star_4":"Trait - Rapid: Hitting the enemy continuously will gradually increase movement speed",
            "star_5":"Spirit - Upgrade: Attacks have a Lightning Element in the first 15s after entering a room",
            "star_6":"Thunderstorm - Damage: Lightning damage increased by 20%",
            "star_7":"Damage to Airborne Units + 300 [All heroes]",
            "star_8":"Airborne Units Damage Resistance + 7% [All Heroes]"
        },
        "Helix":{
            "description":"A tribe warrior, a hunter; even the strong admire his power!",
            "base_atk":"125 [+10]",
            "base_hp":"620 [+43]",
            "attributes":" • Lvl 20: Crit Damage + 20% [All Heroes]<br> • Lvl 40: Healing Effect of Red Heart + 20%<br> • Lvl 60: Max HP + 5% [All Heroes]<br> • Lvl 80: Crit Chance + 5%<br> • Lvl 120: Healing Effect + 10% [All Heroes]",
            "price":"1500 <object type='image/png' data='\\static\\image\\svg\\gem.svg' width='16' height='16'></object> or 30 Helix Shards",
            "skill":"Skill: Your attacks deal more damage at low HP.",
            "skill_details":"<br><b>Skill Details:</b><br>Fury Command: +1.2% attack for every 1% of player HP lost.<br><br>",
            "star_1":"Patrol Gold Earnings + 4%",
            "star_2":"Attack + 40 [All heroes]",
            "star_3":"Rage - Fury: When losing HP, attack is increased",
            "star_4":"Trait - Irritant: After losing HP, damage is increased on next attack",
            "star_5":"Spirit - Upgrade: Spirit has faster attack speed",
            "star_6":"Rage - Nimble: When HP is lower than 25%, attack speed is increased slightly",
            "star_7":"Damage to Ranged Units + 300 [All heroes]",
            "star_8":"Ranged Units Damage Resistance + 8% [All Heroes]"
        },
        "Meowgik":{
            "description":"The spirit of the cat combined with magic; not to be underestimated.",
            "base_atk":"135 [+11]",
            "base_hp":"550 [+40]",
            "attributes":" • Lvl 20: Attack + 50 [All Heroes]<br> • Lvl 40: Dodge + 5%<br> • Lvl 60: Attack + 4% [All Heroes]<br> • Lvl 80: Healing Effect of Red Heart + 30%<br> • Lvl 120: Dodge + 3% [All Heroes]",
            "price":"1800 <object type='image/png' data='\\static\\image\\svg\\gem.svg' width='16' height='16'></object> or 30 Meowgik Shards",
            "skill":"Skill: A chance to summon an auto-attacking kitty when attacking enemies",
            "skill_details":"<br>",
            "star_1":"Patrol Spirit Scroll Earnings + 4%",
            "star_2":"Healing Effect of Red Heart + 10% [All heroes]",
            "star_3":"Meow - Giant: Meowing increases, attack and attack range increased",
            "star_4":"Trait - Lazy: Crit rate increased after standing still",
            "star_5":"Spirit - Upgrade: Spirit's crit damage increased",
            "star_6":"Meow - Tracking: Meowspirit becomes better at tracking and has its Attack increased",
            "star_7":"Max HP +1000 [All heroes]",
            "star_8":"Dodge + 7% [All Heroes]"
        },
        "Shari":{
            "description":"Born of the magical woodlands, she is in touch with nature.",
            "base_atk":"135 [+10]",
            "base_hp":"550 [+35]",
            "attributes":" • Lvl 20: Damage to Melee Units + 150<br> • Lvl 40: Max HP + 300 [All Heroes]<br> • Lvl 60: Crit Chance + 5%<br> • Lvl 80: Damage to Melee Units + 5% [All Heroes]<br> • Lvl 120: Max HP + 8% [All Heroes]",
            "price":"30 Shari Shards",
            "skill":"Skill:  Summons a thorned vine to attack enemies.",
            "skill_details":"<br>",
            "star_1":"Patrol Gold Earnings + 4%",
            "star_2":"Max HP + 120 [All heroes]",
            "star_3":"Entangle - Vine: Vine has increased attack",
            "star_4":"Trait - Active: When moving, dodge rate slightly increased",
            "star_5":"Spirit - Upgrade: When Spirit is near Vine, attack speed is increased",
            "star_6":"Entangle - Auto Track: Vines will follow and attack enemies",
            "star_7":"Damage to Melee Units + 300 [All heroes]",
            "star_8":"Melee Units Damage Resistance + 7% [All Heroes]"
        },
        "Ayana":{
            "description":"Hailing from a magical city, a witch with powerful magic!",
            "base_atk":"160 [+11]",
            "base_hp":"550 [+42]",
            "attributes":" • Lvl 20: Damage to Airborne Units + 80 [All Heroes]<br> • Lvl 40: Damage to Ranged Units + 15%<br> • Lvl 60: Attack + 4% [All Heroes]<br> • Lvl 80: Dodge + 10%<br> • Lvl 120: Damage to Ranged Units + 9% [All Heroes]",
            "price":"2500 <object type='image/png' data='\\static\\image\\svg\\gem.svg' width='16' height='16'></object> or 30 Ayana Shards",
            "skill":"Skill: Attacks can charm the enemy, with a chance to summon a portal",
            "skill_details":"<br><b>Skill Details:</b><br>Charm: Charmed enemies will receive additional damage with reduced movement speed and loss of health.<br><br><b>Additional Skill Notes:</b><br> • Applies a 'Charm' when targetting an enemy every 10 seconds, or applies it instantly when attacking an enemy.<br> • Deals 48% of non-modifiable base damage (includes rune ATK% boosts) for 2 ticks.<br> • The damage ticked increases by 0.4% of your base damage each time you level up, maximum of 49.6%.<br> • Creates a portal that lasts 5 seconds at a time until used.<br><br>",
            "star_1":"Patrol Locket Scroll Earnings + 4%",
            "star_2":"Crit Damage + 15% [All heroes]",
            "star_3":"Witchcraft - Dodger: After leaving the portal, dodge rate increased by 75% for a while",
            "star_4":"Trait - Elegance: After using the portal, enemies around the portal will be Charmed",
            "star_5":"Spirit - Upgrade: Damage towards furthest enemies is increased",
            "star_6":"Witchcraft - Charm: Strengthen Charmed effect",
            "star_7":"Attack + 250 [All heroes]",
            "star_8":"Damage to Bosses + 7% [All Heroes]"
        },
        "Onir":{
            "description":"The son of Light, possessing all the powers from the Light like his shiny hair.",
            "base_atk":"140 [+11]",
            "base_hp":"650 [+45]",
            "attributes":" • Lvl 20: Max HP + 200 [All Heroes]<br> • Lvl 40: Damage to Ground Units + 20%<br> • Lvl 60: Healing Effect of Red Heart + 20% [All Heroes]<br> • Lvl 80: Attack + 6%<br> • Lvl 120: Damage to Ground Units + 6% [All Heroes]",
            "price":"$9.99 USD or 30 Onir Shards",
            "skill":"Skill: Your attacks cause an enhanced Holy effect",
            "skill_details":"<br>",
            "star_1":"Patrol Weapon Scroll Earnings + 4%",
            "star_2":"Max HP + 200 [All heroes]",
            "star_3":"Aurora - Shine: Light repeatedly attacks enemies, with increased damage",
            "star_4":"Trait - Justice: When only one enemy remains, own crit rate is increased by 10%",
            "star_5":"Spirit - Upgrade: Attack speed and projectile speed increased",
            "star_6":"Aurora - Re-Shine: When enemy dies, another powerful light is released",
            "star_7":"Projectile Resistance + 10% [All heroes]",
            "star_8":"Damage to Mobs + 7% [All Heroes]"
        },
        "Rolla":{
            "description":"The goddess of Ice, wielder of the power of ice and snow with virtuous heart.",
            "base_atk":"170 [+12]",
            "base_hp":"500 [+40]",
            "attributes":" • Lvl 20: Attack + 60 [All Heroes]<br> • Lvl 40: Collision Damage Resistence + 20%<br> • Lvl 60: Attack + 5% [All Heroes]<br> • Lvl 80: Dodge + 10%<br> • Lvl 120: Collision Damage Resistance + 7% [All Heroes]",
            "price":"$16.99 USD or 30 Rolla Shards",
            "skill":"Skill: Your attacks freeze enemies for a longer time",
            "skill_details":"<br><br><br>",
            "star_1":"Patrol XP Earnings + 5%",
            "star_2":"Damage to Melee Units + 75 [All heroes]",
            "star_3":"Frost - Sub-Zero: Frozen damage increased, frozen time increased",
            "star_4":"Trait - Ice Snow: Upgrade quicker during battle, Spellbook mana increased",
            "star_5":"Spirit - Upgrade: Attack is reduced for a while for the enemy the Spirit attacks",
            "star_6":"Frost - Ice Spike: Frozen enemies will have their first received damage increased",
            "star_7":"Crit Damage + 20% [All heroes]",
            "star_8":"Max HP + 7% [All Heroes]"
        },
        "Bonnie":{
            "description":"Heroic and kind woman of the sea! She robs the rich and helps the poor.",
            "base_atk":"150 [+11]",
            "base_hp":"600 [+45]",
            "attributes":" • Lvl 20: Crit Damage + 20% [All Heroes]<br> • Lvl 40: Attack Speed + 5%<br> • Lvl 60: Max HP + 5% [All Heroes]<br> • Lvl 80: Attack + 5%<br> • Lvl 120: Attack + 6% [All Heroes]",
            "price":"$9.99 USD or 30 Bonnie Shards",
            "skill":"Chance to summon Clone when attacking",
            "skill_details":"<br>",
            "star_1":"Patrol Gold Earnings + 5%",
            "star_2":"Attack + 50 [All heroes]",
            "star_3":"Clone - Emergency: Chance to summon 2 clones",
            "star_4":"Trait - Fearless: When there are too many enemies, own attack speed increased",
            "star_5":"Spirit - Upgrade: The more coins on the floor, the quicker the attack speed",
            "star_6":"Clone - Crowd: Clone max limit increased",
            "star_7":"Max HP + 1200 [All heroes]",
            "star_8":"Summoned Creature Damage + 15% [All Heroes]"
        },
        "Sylvan":{
            "description":"An elf prince, master of the elements and loves nature.",
            "base_atk":"160 [+12]",
            "base_hp":"600 [+45]",
            "attributes":" • Lvl 20: Max HP + 200 [All Heroes]<br> • Lvl 40: Damage to Ranged Units + 20%<br> • Lvl 60: Attack + 5% [All Heroes]<br> • Lvl 80: Max HP + 6%<br> • Lvl 120: Damage to Ranged Units + 9% [All Heroes]",
            "price":"$18.99 USD or 30 Sylvan Shards",
            "skill":"Skill: When attacking, there's a chance to trigger a random powerful elemental attack.",
            "skill_details":"<br><b>Skill Details:</b><br>Every time an enemy is attacked, a random effect from fire, toxic, bolt or ice is used.<br><br>",
            "star_1":"Patrol Locket Scroll Earnings + 4%",
            "star_2":"Damage to Ranged Units + 75 [All heroes]",
            "star_3":"Elemental - Damage: Elemental damage increased",
            "star_4":"Trait - Pride: When HP is higher than 75%, get extra attack speed",
            "star_5":"Spirit - Upgrade: Enemy gets a second Elemental attack",
            "star_6":"Elemental - Critical Strike: Elemental damage has a chance to deal crit attack",
            "star_7":"Damage to Ground Units + 400 [All heroes]",
            "star_8":"Elemental Damage + 25% [All Heroes]"
        },
        "Shade":{
            "description":"Killer of shadows, queen of the night, she can switch between her real and shadow self in battle.",
            "base_atk":"170 [+13]",
            "base_hp":"550 [+40]",
            "attributes":" • Lvl 20: Damage to Ground Units + 100 [All Heroes]<br> • Lvl 40: Crit Chance + 5%<br> • Lvl 60: Max HP + 5% [All Heroes]<br> • Lvl 80: Attack Speed + 5%<br> • Lvl 120: Crit Damage + 10% [All Heroes]",
            "price":"$18.99 USD or 30 Shade Shards",
            "skill":"Skill: You can enjoy different effects with real and shadow forms, which switch automatically during battle.",
            "skill_details":"<br><b>Skill Details:</b><br><b><em>Real Self</em></b>: Attacks have strong dark powers, and deal continued damage.<br><b><em>Shadow Self:</em></b> Increased attack, attack speed and dodge rate.<br><br><b>Additional Skill Notes:</b><br> • Switches between her 2 forms every 4 seconds.<br> • Normal form: 135% Damage on hit, 30% damage for 2 ticks, and 135% Dark Touch Explosion.<br> • Shadow form: 75% Attack, 15% Attack Speed, ~15% Dodge Chance.<br><br>",
            "star_1":"Patrol Sapphire Earnings + 5%",
            "star_2":"Crit Chance + 2% [All heroes]",
            "star_3":"Twin Shadows - Cold Blood: Chance for Dark stats increased",
            "star_4":"Trait - Calm: HP max limit is increased with each kill",
            "star_5":"Spirit - Upgrade: When switching forms, Spirit gets a new combat power",
            "star_6":"Twin Shadows - Cruel: Increases crit attack when in Dark form",
            "star_7":"Attack + 300 [All heroes]",
            "star_8":"Attack + 8% [All Heroes]"
        },
        "Ophelia":{
            "description":"Huntress walking between darkness and light, adept at hunting evil monsters.",
            "base_atk":"160 [+12]",
            "base_hp":"650 [+42]",
            "attributes":" • Lvl 20: Attack + 70 [All Heroes]<br> • Lvl 40: Damage to Melee Units + 20%<br> • Lvl 60: Attack + 120 [All Heroes]<br> • Lvl 80: Max HP + 7%<br> • Lvl 120: Damage to Melee Units + 9% [All Heroes]",
            "price":"$9.99 USD or 30 Ophelia Shards",
            "skill":"Skill (Demon Soul): Chance to suck and absorb the enemy's soul, increasing own strength.",
            "skill_details":"<br><b>Skill Details:</b><br>Souls are absorbed into different colors in the formation.<br><br><b>Green</b>: Increase attack speed and projectile speed.<br><b>Yellow</b>: Chance to recover HP during crit attacks.<br><b>Blue</b>: Attacked enemy will explode.<br><b>Red</b>: Increase attack and add knockback effect.<br><br>",
            "star_1":"Patrol Armor Scroll Earnings + 4%",
            "star_2":"Damage to Ground Units + 75 [All heroes]",
            "star_3":"Demon Soul - Amplify: Soul absorption effect increases",
            "star_4":"Trait - Tranquil: Each kill increases HP limit",
            "star_5":"Spirit - Upgrade: Spirit will provide own attack stats to Hero",
            "star_6":"Demon Soul - Distort: Get a new strengthening effect",
            "star_7":"Attack Speed + 3% [All heroes]",
            "star_8":"MP Cast Speed + 25% [All Heroes]"
        },
        "Ryan":{
            "description":"A traveling red panda that loves to sing, dance, and meet new people",
            "base_atk":"150 [+11]",
            "base_hp":"700 [+45]",
            "attributes":" • Lvl 20: Damage to Ranged Units + 100 [All heroes]<br> • Lvl 40: Max HP + 5%<br> • Lvl 60: Damage to Airborne Units [All heroes]<br> • Lvl 80: Healing Effect of Red Heart + 30%<br> • Lvl 120: Max HP + 8% [All Heroes]",
            "price":"50 Ryan Shards",
            "skill":"Skill: Revive upon death, with Invincibility for 1s. Invincibility increases with the amount of monsters killed.",
            "skill_details":"<br><b>Skill Details:</b><br> • Defeating enemies increase invincibilty time after revive. The time limit for invincibility is 6 seconds.<br> • Defeating bosses gives 10 times the amount extra invincibility time compared to normal monsters.<br><br>",
            "star_1":"Patrol Ring Scroll Earnings + 4%",
            "star_2":"Damage to Ranged Units + 75 [All heroes]",
            "star_3":"Luck - Counterattack: When invincible, attack and crit rate increased greatly",
            "star_4":"Trait - Leisure: Enemy projectiles will slow down near Ryan",
            "star_5":"Spirit - Power: Get a Front Arrow + 1",
            "star_6":"Luck - Haven: After revival, doge rate, movement speed and crit attack increased during this game",
            "star_7":"Damage to Airborne Units + 400 [All heroes]",
            "star_8":"Coin Drops + 10% [All Heroes]"
        },
        "Lina":{
            "description":"A mysterious dancer who loves to travel and dance gracefully for strangers she meets.",
            "base_atk":"180 [+13]",
            "base_hp":"650 [+45]",
            "attributes":" • Lvl 20: Attack + 100 [All Heroes]<br> • Lvl 40: Dodge + 5%<br> • Lvl 60: Max HP + 5% [All Heroes]<br> • Lvl 80: Attack Speed + 5%<br> • Lvl 120: Damage to Melee Units + 9% [All Heroes]",
            "price":"50 Lina Shards",
            "skill":"Skill: Hitting an enemy deals extra damage and summons a phantom dancer who attacks enemies and causes a negative effect.",
            "skill_details":"<br><b>Skill Details:</b><br>Enemies around the Phantom Dancer will slow down and reduce HP.<br><br>",
            "star_1":"Patrol Sapphire Earnings + 5%",
            "star_2":"Attack + 60 [All heroes]",
            "star_3":"Dream Dance - Enlarge: Range increased 50%",
            "star_4":"Trait - Tender: Red hearts droprate + 20%, HP Recovery + 20%",
            "star_5":"Spirit - Strengthen: Attack increased 25%",
            "star_6":"Dream Dance - Freeze: Enemies in the range will be frozen after 5s",
            "star_7":"Max HP + 1500 [All heroes]",
            "star_8":"Max MP + 15% [All Heroes]"
        },
        "Aquea":{
            "description":"Princess of the seas, loved by all underwater.",
            "base_atk":"180 [+14]",
            "base_hp":"800 [+50]",
            "attributes":" • Lvl 20: Max HP + 250 [All Heroes]<br> • Lvl 40: Healing Effect of Red Heart + 30%<br> • Lvl 60: Attack + 5% [All Heroes]<br> • Lvl 80: Max HP + 10%<br> • Lvl 120: Healing Effect of Red Heart + 12% [All Heroes]",
            "price":"50 Aquea Shards or $24.99 USD",
            "skill":"Skill: Attack carries a strong freezing effect which slows down enemies. When HP is lower than 35%, combat mode is entered.",
            "skill_details":"<br><b>Skill Details:</b><br><b><em>Combat Form:</em></b> Body size reduced 15%, crit rate increased 10%, dodge rate increased 15%, freezing damage increased.<br><br>",
            "star_1":"Patrol Bracelet Scroll Earnings + 5%",
            "star_2":"Attack + 70 [All heroes]",
            "star_3":"Duel Form - Freeze: Freezing effect is greatly increased",
            "star_4":"Trait - Optimism: When HP is lower than 10%, 20% HP is recovered",
            "star_5":"Spirit - Upgrade: Attack speed increased 20%",
            "star_6":"Duel Form - Bloodthirst: Get a bloodthirst effect in combat form",
            "star_7":"Max HP + 1800 [All heroes]",
            "star_8":"Movement Speed + 4% [All Heroes]"
        },
        "Shingen":{
            "description":"The only heir of an ancient clan, owning their curse and gifts. (Owns their family heirloom: Demon Blade - Rain)",
            "base_atk":"200[+14]",
            "base_hp":"700 [+45]",
            "attributes":" • Lvl 20: Damage to Melee Units + 120 [All Heroes]<br> • Lvl 40: Attack speed + 5%<br> • Lvl 60: Max HP + 6% [All Heroes]<br> • Lvl 80: Damage to Melee Units +20%<br> • Lvl 120: Damage to Ground Units + 6% [All Heroes]",
            "price":"25.99€ or 50 Shingen Shards",
            "skill":"Skill: Lower the HP, higher the attack speed. Has high Crit damage.",
            "skill_details":"<br><b>Skill Details:</b><br>Lower the HP, higher the attack speed. Has high Crit Damage.<br><br><b>Hidden Skill Details:</b><br>Able to cast Slash when equipped with an Epic or above Demon Blade<br><br>",
            "star_1":"Patrol Gold Earnings + 5%",
            "star_2":"Damage to Melee Units + 80 [All heroes]",
            "star_3":"Charge - Strengthen: Melee damage +12%, long range damage +7%, Crit damage +20%",
            "star_4":"Trait - Persevere: Hitting the same target consecutively increases damage dealt",
            "star_5":"Spirit - Upgrade: Attack increased 15%, Crit damage increased 25%",
            "star_6":"Charge - Souleater: The more enemies killed, the higher the attack (Max limit 10%)",
            "star_7":"Max HP +1800 [All Heroes]",
            "star_8":"Weapon Melee Damage + 11% [All Heroes]"
        },
        "Gugu":{
            "description":"A brave warrior owl, with a gleam of wisdom in its eyes.",
            "base_atk":"160 (+ 14)",
            "base_hp":"600 (+45)",
            "attributes":" • Lvl 20: Damage to Airborne Units + 100 [All Heroes]<br> • Lvl 40: Dodge + 5%<br> • Lvl 60: Damage to Ranged Units + 5% [All Heroes]<br> • Lvl 80: Attack Speed + 5%<br> • Lvl 120: Max HP + 8% [All Heroes]",
            "price":"50 Gugu Shards",
            "skill":"Small chance to summon an owl guardian on hitting enemies. Owl guardians can resist damage and strengthen their hero.",
            "skill_details":"<br><b>Skill Details:</b><br>Small chance to summon an owl guardian on hitting enemies. Owl guardians can resist damage and strengthen their hero.<br><br><FONT color='red'>Red Owl</FONT>: Increased attack, can be stacked.(Increases Attack by 0.1%. Attack is doubled [0.2%] when there are two red owls)<br><FONT color='yellow'>Yellow Owl</FONT>: Killing enemies can restore HP, can be stacked.(Gain 0.7% of Base HP on enemy kills. The amount of Healing is doubled [1.4%] when there are two yellow owls)<br><FONT color='blue'>Blue Owl</FONT>: Increased attack speed, can be stacked. (No data)<br><FONT color='green'>Green Owl</FONT>: Increased attack crit rate, can be stacked. (No data)<br><br>",
            "star_1":"Patrol Sapphire Earnings + 10%",
            "star_2":"Damage to Airborne Units + 60 [All Heroes]",
            "star_3":"Guardian Spirit - Hope: When own HP is low, chance for summon is higher",
            "star_4":"Trait - Intelligence: Level-up Speed is increased 15% during battle",
            "star_5":"Spirit - Upgrade: Noisy Owl's projectiles can penetrate walls",
            "star_6":"Guardian Spirit - Strength: Owl Guardian's stats increased",
            "star_7":"Damage to Ranged Units + 400 [All Heroes]",
            "star_8":"Spin Speed + 15% [All Heroes]"
        },
        "Iris":{
            "description":"A powerful archer and the guardian of the forest.",
            "base_atk":"160 [+15]",
            "base_hp":"950 [+43]",
            "attributes":" • Lvl 20: Max HP + 250 [All Heroes]<br> • Lvl 40: Attack + 200<br> • Lvl 60: Attack + 5% [All Heroes]<br> • Lvl 80: Dodge + 10%<br> • Lvl 120: Damage to Airborne Units + 10% [All Heroes]",
            "price":"50 Iris Shards",
            "skill":"High Movement Speed and Dodge. Each ranged attack has a chance to shoot an extra projectile. (Front Arrow)",
            "skill_details":"<br>",
            "star_1":"Patrol Gold Earnings + 15%",
            "star_2":"Attack + 70 [All Heroes]",
            "star_3":"Sharpshooter - Power Attack: Increase damage of extra projectiles and knockback effect.",
            "star_4":"Trait - Lively: Each successful dodge will increase Attack Speed temporarily.",
            "star_5":"Spirit - Upgrade: Enemies hit by Spirits will have reduced Movement Speed.",
            "star_6":"Sharpshooter - Charged Attack: Moving increases Crit Chance temporarily.",
            "star_7":"Damage to Airborne Units + 400 [All Heroes]",
            "star_8":"Weapon Ranged Damage + 10% [All Heroes]"
        },
        "Blazo":{
            "description":"A furious avenger, and an inquisitor against evil.",
            "base_atk":"200 [+15]",
            "base_hp":"900 [+44]",
            "attributes":" • Lvl 20: Damage to Melee Units + 130 [All Heroes]<br> • Lvl 40: Attack + 250<br> • Lvl 60: Max HP + 6% [All Heroes]<br> • Lvl 80: Damage to Ground Units + 20%<br> • Lvl 120: Max HP + 8% [All Heroes]",
            "price":"28.99€ or 50 Blazo Shards",
            "skill":"Skill: Attacks have a chance to be judged; repeated hits inflicts justice.",
            "skill_details":"<br><b>Skill Details:</b><br>Greatly increases its own attack, and reduces the enemy's movement speed and attack. Enemies lose more HP when injured.<br><br>",
            "star_1":"Patrol Gold Earnings + 25%",
            "star_2":"Damage to Ground Units +80 [All Heroes]",
            "star_3":"Judge - Ghast: Increases Crit Chance for killing enemies when justice",
            "star_4":"Trait - Revenge: Chance to deal Revenge damage when receiving damage",
            "star_5":"Spirit - Enhance: Doubles spirit's attack when hero's HP is reduced",
            "star_6":"Judge - Execution: Performs Judgement more quickly with greater effect",
            "star_7":"Max HP + 1800 [All Heroes]",
            "star_8":"Free Magic Cast Rate + 12% [All Heroes]"
        },
        "Melinda":{
            "description":"A beautiful and brave noble who has embarked on a journey to become a renowned ranger.",
            "base_atk":"200 [+16]",
            "base_hp":"1000 [+50]",
            "attributes":" • Lvl 20: Damage to Ranged Units + 150 [All Heroes]<br> • Lvl 40: Attack Speed + 5%<br> • Lvl 60: Damage to Melee Units + 5% [All Heroes]<br> • Lvl 80: Crit Chance + 5%<br> • Lvl 120: Damage to Ranged Units + 8% [All Heroes]",
            "price":"29.99€ or 50 Shards",
            "skill":"Chance to fire a projectile barrage with each attack. The lower the HP, the stronger the barrage.",
            "skill_details":"<br>",
            "star_1":"Patrol XP Earnings + 25%",
            "star_2":"Damage to Ranged Units + 100 [All Heroes]",
            "star_3":"Ranger's Heart - Inspire: Chance to increase attack when projectile barrage is hitting enemies; can stack",
            "star_4":"Trait - Righteous: Surrounding enemies; more and closer will increase hero's attack",
            "star_5":"Spirit - Upgrade: Spirit gains multi-attacks",
            "star_6":"Ranger's Heart - Composure: Increased leveling speed at a higher level cap",
            "star_7":"Attack + 400 [All Heroes]",
            "star_8":"Attack + 9% [All Heroes]"
        },
        "Elaine":{
            "description":"An adorable butterfly maiden blessed by elven gods since her birth",
            "base_atk":"215 (+ 16)",
            "base_hp":"900 (+ 46)",
            "attributes":" • Lvl 20: Damage to Airborne Units + 120 [All Heroes]<br> • Lvl 40: Max HP + 5%<br> • Lvl 60: Max HP + 7% [All Heroes]<br> • Lvl 80: Crit Chance + 7%<br> • Lvl 120: Damage to Ground Units + 9% [All Heroes]",
            "price":"50 Elaine Shards",
            "skill":"Gain invincibility shield at intervals that also increases Attack Speed. When shield fades, attack is greatly increased.",
            "skill_details":"<br>",
            "star_1":"Patrol Weapon Scroll Earnings + 5%",
            "star_2":"Max HP + 350 [All Heroes]",
            "star_3":"Invincible Elaine - Counter: Shots blocked by invincibility shield are converted into attack when shield fades.",
            "star_4":"Trait - Outgoing: Great at making friends, reducing hostility of surrounding enemies (reduces attack)",
            "star_5":"Spirit - Upgrade: Attack increases for every room cleared. Flying Spirits gain + 20%",
            "star_6":"Invincible Elaine - Enhanced Shield: Shield's duration increased. Also increases Crit Rate and summoned creature attack.",
            "star_7":"Max HP + 2000 [All Heroes]",
            "star_8":"Max HP + 9% [All Heroes]"
        },
        "Bobo":{
            "description":"A brainy bear from a faraway city",
            "base_atk":"160 (+12)",
            "base_hp":"700 (+ 47)",
            "attributes":" • Lvl 20: Damage to mobs + 150 [All Heroes]<br> • Lvl 40: Attack + 5%<br> • Lvl 60: Damage to Ranged Units + 5% [All Heroes]<br> • Lvl 80: MP Strength + 20%<br> • Lvl 120: Attack + 6% [All Heroes]",
            "price":"4000 <object type='image/png' data='\\static\\image\\svg\\gem.svg' width='16' height='16'></object>",
            "skill":"Increases leveling speed. Attack increases with level in a chamber",
            "skill_details":"<br>",
            "star_1":"Patrol XP Earnings + 4%",
            "star_2":"Max HP + 240 [All Heroes]",
            "star_3":"Wisdom's Might - Upgrade: Gain higher Attack and leveling speed",
            "star_4":"Trait - Learner: Loot Hearts to increase slight Attack Speed (Max 10%)",
            "star_5":"Spirit - Upgrade: Inherits 10% of Hero's Attack",
            "star_6":"Wisdom's Might - Insight: Inflicts weakness on enemies. Hitting the same enemy repeatedly deals more damage",
            "star_7":"Max HP + 1800 [All Heroes]",
            "star_8":"Battle XP Gain + 5% [All Heroes]"
        }
    }
	const heros_json = heros

	var name_hero = document.getElementById('name_hero');
	var hero_description = document.getElementById('hero_description');
	var hero_image = document.getElementById('hero_image');
	var base_atk = document.getElementById('base_atk');
	var base_hp = document.getElementById('base_hp');
	var attributes = document.getElementById('lvl_stats');
	var price = document.getElementById('price');
	var skill = document.getElementById('skill');
	var skill_details = document.getElementById('skill_details');
	var star_1 = document.getElementById('star_1');
	var star_2 = document.getElementById('star_2');
	var star_3 = document.getElementById('star_3');
	var star_4 = document.getElementById('star_4');
	var star_5 = document.getElementById('star_5');
	var star_6 = document.getElementById('star_6');
	var star_7 = document.getElementById('star_7');
	var star_8 = document.getElementById('star_8');

    function setValues(hero) {
        myInput.value = hero;
        name_hero.innerHTML = hero;
        hero_description.innerHTML = heros_json[hero]['description'];
        hero_image.src = `\\static\\image\\hero_icon\\icon_${hero.toLowerCase()}.png`;
        base_atk.innerHTML = `• Base Attack: ${heros_json[hero]['base_atk']}`;
        base_hp.innerHTML = `• Base Hp: ${heros_json[hero]['base_hp']}`;
        attributes.innerHTML = heros_json[hero]['attributes'];
        price.innerHTML = heros_json[hero]['price'];
        skill.innerHTML = heros_json[hero]['skill'];
        skill_details.innerHTML = heros_json[hero]['skill_details'];
        star_1.innerHTML = heros_json[hero]['star_1'];
        star_2.innerHTML = heros_json[hero]['star_2'];
        star_3.innerHTML = heros_json[hero]['star_3'];
        star_4.innerHTML = heros_json[hero]['star_4'];
        star_5.innerHTML = heros_json[hero]['star_5'];
        star_6.innerHTML = heros_json[hero]['star_6'];
        star_7.innerHTML = heros_json[hero]['star_7'];
        star_8.innerHTML = heros_json[hero]['star_8'];
    }

	item_li_a.forEach(function(e) {
        e.addEventListener("click", function() {
            var hero = e.textContent;
            setValues(hero);
        });
    });
	
	try {
        var url = window.location.href;
        var postSearch = url.split("?");
        var postSearchParam = postSearch[1].split("=")[1];
        var hero = postSearchParam.replace(/_/g, " ");
        if (postSearch[1]){setValues(hero);}
    } catch (error) {
        console.log(error);
    }
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Heroes-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
</html>