{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.6.4b">
<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.6.4b">
<meta property="og:type" content="website">
<meta name="description" content="Discover the extensive collection of heroes in Archero, each with unique star boosts, base skills, and descriptions. Explore our comprehensive list to uncover the full potential of each character. Make strategic choices and harness the power of your heroes to overcome challenges and triumph in Archero.">
{% if hero == "yes" %}
<title>Archero - Wiki - {{ name_hero }}</title>
<meta property="og:title" content="{{ name_hero }}">
<meta property="og:url" content="{{ url_cpy }}">
<meta property="og:description" content="{{ hero_data.hero_description|safe }} {{ hero_data.skill|safe }} {{ hero_data.skill_details|safe }}">
<meta property="og:image" content="{% static hero_image %}?version=1.6.4b">
{% else %}
<title>Archero - Wiki</title>
<meta property="og:title" content="Archero - Heroes Description">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/heroes">
<meta property="og:description" content="Discover the extensive collection of heroes in Archero, each with unique star boosts, base skills, and descriptions. Explore our comprehensive list to uncover the full potential of each character. Make strategic choices and harness the power of your heroes to overcome challenges and triumph in Archero.">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.6.4b">
{% endif %}
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container">
	<div class="search-bar" id="search-bar">
		<script>
			function filterList() {
				var input = document.getElementById("myInput");
				var filter = input.value.toUpperCase();
				var ul = document.getElementById("myUL");
				var li = ul.getElementsByTagName("li");

				for (var i = 0; i < li.length; i++) {
					var a = li[i].getElementsByTagName("a")[0];
					var txtValue = a.textContent || a.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						li[i].style.display = "";
					} else {
						li[i].style.display = "none";
					}
				}
			}
		</script>
		<a class="before_index arrow_searchbar" href="/wiki/heroes/{{ index_before }}/">
			<img src="/static/image/hero_icon/icon_{{ index_before }}.png" width="30" alt="{{ index_before }}">
			<i class="fas fa-arrow-up"></i>
		</a>
		<input type="text" id="myInput" onkeyup="filterList()" placeholder="Search for hero.." value="{{ name_hero }}">
		<ul id="myUL" class="searchbar-ul-hero" style="display: none;">
			{% for k in HeroData %}
			<li><a class="toggle-display-list" href="/wiki/heroes/{{ k }}/"><div class="item_name">{{ k }}</div><div class="siimg"><img src="/static/image/hero_icon/icon_{{ k }}.png" width="26" alt="{{ k }}"></div></a></li>
			{% endfor %}
		</ul>
		<a class="after_index arrow_searchbar" href="/wiki/heroes/{{ index_after }}/">
			<img src="/static/image/hero_icon/icon_{{ index_after }}.png" width="30" alt="{{ index_after }}">
			<i class="fas fa-arrow-up"></i>
		</a>
	</div>
	<div class="embed-container floating_embed">
		<div class="kn3fae-0 ezpxFx">
			<div class="kn3fae-2 eKjosW">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(109, 109, 109);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="sc-3qrykn-1 bsDYtY">
							<div class="heOpKb" style="color: rgb(255, 255, 255); text-align: center;">Jump to</div>
						</div>
						<div class="sc-3qrykn-3 hXMbfy">
							<ul class="toc-hero-desc">
								<li class="li_wo_marker"><a class="styled_a center_content" href="#Hero"><object type="image/png" data="/static/image/svg/hero.svg" width="15" height="15"></object>Hero</a></li>
								<li class="li_wo_marker"><a class="styled_a center_content" href="#Star"><object type="image/png" data="/static/image/svg/star.svg" width="15" height="15"></object>Star</a></li>
								<li class="li_wo_marker"><a class="styled_a center_content" href="#Assist"><object type="image/png" data="/static/image/svg/assist.svg" width="15" height="15"></object>Assist</a></li>
								<li class="li_wo_marker"><a class="styled_a center_content" href="#Skins"><object type="image/png" data="/static/image/svg/icon-characterskin-cloth.svg" width="15" height="15"></object>Skins</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="embed-container">
		<div class="kn3fae-0 ezpxFx">
			<div class="sgp62q-0 iuJdTu">
				<a title="TigerShark's Bot">
					<img src="/static/image/wiki-image/sylvanpfp3.png" alt="User avatar" class="sgp62q-1 dLWNvE">
					<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
					<span class="sgp62q-3 cTBPsI">BOT</span>
					<span class="sc-1idsap7-0 dyOqmJ" id="date"></span>
				</a>
				<span id="{{ name_hero|lower }}" class="span-share"><a onclick="createModale(this,false,'info')" class="copy-icon-container"><i class="fa fa-share-alt" aria-hidden="true"></i></a></span>
			</div>
			<div class="kn3fae-2 eKjosW" id="Hero">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="sc-3qrykn-1 bsDYtY">
							<div class="sc-27l7o2-0 heOpKb thumbnail-title" id="name_hero">
								<img src="/static/{{ hero_image }}" alt="Thumbnail" class="sc-3qrykn-7" id="hero_image">
								{{ name_hero }}
							</div>
						</div>
						<div class="sc-3qrykn-3 hXMbfy">
							<div class="sc-27l7o2-0 heOpKb" id="hero_description">{{ hero_data.description|safe }}</div>
						</div>
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>Stats</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="base_atk">• Base Attack: {{ hero_data.base_atk }}</div>
										<div id="base_hp">• Base Hp: {{ hero_data.base_hp }}</div><br>
									</div>
								</div>
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>Attributes</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="lvl_stats">
											{{ hero_data.attributes|safe }}
										</div><br>
									</div>
								</div>
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>Price</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="price">
											{{ hero_data.price|safe }}
										</div>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="skill_details">
											{{ hero_data.skill_details|safe }}
										</div>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="skill">
											<span class="center_content"><object type="image/png" data="/static/image/svg/icon-skill-{{ name_hero }}.svg" width="22" height="22"></object>{{ hero_data.skill|safe }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sc-3qrykn-6 fTOqMH">
							<img src="/static/{{ hero_image }}" alt="Thumbnail" class="sc-3qrykn-7 fUliQq" id="hero_image">
						</div>
					</div>
				</div>
			</div>
			<div class="kn3fae-2 eKjosW" id="Star">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="rgqgux-1 dHYyKL">
							<div class="sc-27l7o2-0 heOpKb" style="color: white;">
								<strong>Star Boost</strong>
							</div>
						</div>
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-2 jFcAhO">
									<div class="content-embed-star sc-27l7o2-0 heOpKb">
										{% for k,v in hero_data.star.items %}
										<b>{{ k }} <object type="image/png" data="/static/image/svg/star.svg" width="14" height="14"></object></b>
										<div id="star_{{ k }}">
											{{ v|safe }}
										</div><br>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="kn3fae-2 eKjosW" id="Assist">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="rgqgux-1 dHYyKL">
							<div class="sc-27l7o2-0 heOpKb" style="color: white;">
								<strong>Assist Brave</strong>
							</div>
							<div class="sc-3qrykn-3 hXMbfy">
								<div class="sc-27l7o2-0 heOpKb center_content" style="color: rgb(243 243 243);">Needs <object type='image/png' data='/static/image/svg/{{ hero_data.hero_assist_evolve }}' width='18' height='18'></object> to evolve assist bravery level</div>
							</div>
						</div>
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-2 jFcAhO">
									<div class="content-embed-assist sc-27l7o2-0 heOpKb">
										{% for k,v in hero_data.hero_assist.items %}
										<span class="center_content"><object type="image/png" data="/static/image/svg/{{ k }}_assist_icon.svg" width="22" height="22"></object>{{ v|safe }}</span><br>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="rgqgux-1 dHYyKL">
							<div class="sc-3qrykn-3 hXMbfy" style="margin: 0;">
								<div class="sc-27l7o2-0 heOpKb" style="color: rgb(243 243 243);">Available assist heroes:</div>
							</div>
							<div class="sc-27l7o2-0 heOpKb center_content" style="margin-bottom: 0.6vh;margin-top: 0.4vh;overflow: auto;">
								{% for h in hero_data.list_hero_assist %}
									<a href='/wiki/heroes/{{ h }}/' class="styled_a center_content"><img src="/static/image/hero_icon/icon_{{ h }}.png" width="27" height="27"></img></a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if hero_data.skins %}
			<div class="kn3fae-2 eKjosW" id="Skins">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="rgqgux-1 dHYyKL">
							<div class="sc-27l7o2-0 heOpKb" style="color: white;">
								<strong>Skins</strong>
							</div>
						</div>
						<div class="sc-3qrykn-4 hQKgZF">
							{% for skin in hero_data.skins %}
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-2 jFcAhO">
									<div class="content-embed-skin sc-27l7o2-0 heOpKb">
										<img src="/static/image/hero_skin/{{ name_hero }}_{{ skin.src }}.png?version=1.6.4b" alt="{{ name_hero }}'s' {{ skin.name }} skin thumbnail">
										<div>
											<h3>{{ skin.name }}</h3>
											<div>
												<span>{{ skin.activ_boost|safe }}</span>
												<span>{{ skin.passiv_boost|safe }}</span>
												<span>{{ skin.price|safe }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	var mainDescription = document.getElementsByClassName('main-description')
	var search_bar = document.getElementById('myInput');
	var ul_li = document.getElementById('myUL');
	var hero_li_a = document.querySelectorAll(".toggle-display-list");

	var n =  new Date();
	var y = n.getFullYear();
	var m = n.getMonth() + 1;
	var d = n.getDate();
	document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

	search_bar.addEventListener('click', function(){
		if(ul_li.style.display == "none"){
			ul_li.style.display = "block"
			search_bar.value = ""
		}else if(ul_li.style.display !== "none"){
			ul_li.style.display = "none"
		}
	})
    window.addEventListener('click', ({target}) => {
        if(target.id != "myInput"){
            ul_li.style.display = "none"
        }
	})
    hero_li_a.forEach(function(e) {
        e.addEventListener("click", function() {
            var hero = e.textContent;
            setValues(hero);
        });
    });
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Heroes-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 