{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.5.7e">
<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.5.7e">
<title>Archero - Wiki</title>
<meta property="og:type" content="website">
<meta name="description" content="Discover the extensive collection of heroes in Archero, each with unique star boosts, base skills, and descriptions. Explore our comprehensive list to uncover the full potential of each character. Make strategic choices and harness the power of your heroes to overcome challenges and triumph in Archero.">
{% if hero == "yes" %}
<meta property="og:title" content="{{ name_hero }}">
<meta property="og:url" content="{{ url_cpy }}">
<meta property="og:description" content="{{ hero_data.hero_description|safe }} {{ hero_data.skill|safe }} {{ hero_data.skill_details|safe }}">
<meta property="og:image" content="{% static hero_image %}?version=1.5.7e">
{% else %}
<meta property="og:title" content="Archero - Heroes Description">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/heroes">
<meta property="og:description" content="Discover the extensive collection of heroes in Archero, each with unique star boosts, base skills, and descriptions. Explore our comprehensive list to uncover the full potential of each character. Make strategic choices and harness the power of your heroes to overcome challenges and triumph in Archero.">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.5.7e">
{% endif %}
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container">
	<div class="search-bar" id="search-bar">
		<script>
			function filterList() {
				var input = document.getElementById("myInput");
				var filter = input.value.toUpperCase();
				var ul = document.getElementById("myUL");
				var li = ul.getElementsByTagName("li");

				for (var i = 0; i < li.length; i++) {
					var a = li[i].getElementsByTagName("a")[0];
					var txtValue = a.textContent || a.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						li[i].style.display = "";
					} else {
						li[i].style.display = "none";
					}
				}
			}
		</script>
		<input type="text" id="myInput" onkeyup="filterList()" placeholder="Search for hero.." value="{{ name_hero }}">
		<ul id="myUL" class="searchbar-ul-hero" style="display: none;">
			{% for k in HeroData %}
			<li><a class="toggle-display-list" href="/wiki/heroes/{{ k }}/"><div class="item_name">{{ k }}</div><div class="siimg"><img src="/static/image/hero_icon/icon_{{ k }}.png" width="26" alt="{{ k }}"></div></a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="embed-container">
		<div class="kn3fae-0 ezpxFx">
			<div class="sgp62q-0 iuJdTu">
				<a title="TigerShark's Bot">
					<img src="/static/image/wiki-image/sylvanpfp3.png" alt="User avatar" class="sgp62q-1 dLWNvE">
					<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
					<span class="sgp62q-3 cTBPsI">BOT</span>
					<span class="sc-1idsap7-0 dyOqmJ" id="date"></span>
				</a>
				<span id="{{ name_hero|lower }}" class="span-share"><a onclick="createModale(this,false,'info')" class="copy-icon-container"><i class="fa fa-share-alt" aria-hidden="true"></i></a></span>
			</div>
			<div class="kn3fae-2 eKjosW">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="sc-3qrykn-1 bsDYtY">
							<div class="sc-27l7o2-0 heOpKb" id="name_hero">{{ name_hero }}</div>
						</div>
						<div class="sc-3qrykn-3 hXMbfy">
							<div class="sc-27l7o2-0 heOpKb" id="hero_description">{{ hero_data.hero_description|safe }}</div>
						</div>
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>Stats</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="base_atk">• Base Attack: {{ hero_data.base_atk }}</div>
										<div id="base_hp">• Base Hp: {{ hero_data.base_hp }}</div><br>
									</div>
								</div>
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>Attributes</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="lvl_stats">
											{{ hero_data.attributes|safe }}
										</div><br>
									</div>
								</div>
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>Price</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="price">
											{{ hero_data.price|safe }}
										</div>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="skill_details">
											{{ hero_data.skill_details|safe }}
										</div>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="skill">
											{{ hero_data.skill|safe }}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sc-3qrykn-6 fTOqMH">
							<img src="/static/{{ hero_image }}" alt="Thumbnail" class="sc-3qrykn-7 fUliQq" id="hero_image">
						</div>
					</div>
				</div>
			</div>
			<div class="kn3fae-2 eKjosW">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-2 jFcAhO">
									<div class="content-embed-star sc-27l7o2-0 heOpKb">
										{% for k,v in hero_data.star.items %}
										<b>{{ k }} <object type="image/png" data="/static/image/svg/star.svg" width="14" height="14"></object></b><br>
										<div id="star_{{ k }}">
											{{ v|safe }}
										</div><br>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	var mainDescription = document.getElementsByClassName('main-description')
	var search_bar = document.getElementById('myInput');
	var ul_li = document.getElementById('myUL');
	var hero_li_a = document.querySelectorAll(".toggle-display-list");

	var n =  new Date();
	var y = n.getFullYear();
	var m = n.getMonth() + 1;
	var d = n.getDate();
	document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

	search_bar.addEventListener('click', function(){
		if(ul_li.style.display == "none"){
			ul_li.style.display = "block"
			search_bar.value = ""
		}else if(ul_li.style.display !== "none"){
			ul_li.style.display = "none"
		}
	})
    window.addEventListener('click', ({target}) => {
        if(target.id != "myInput"){
            ul_li.style.display = "none"
        }
	})
    hero_li_a.forEach(function(e) {
        e.addEventListener("click", function() {
            var hero = e.textContent;
            setValues(hero);
        });
    });
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Heroes-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 