{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.9.4a">
<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.9.4a">
<meta name="description" content="Explore a comprehensive list of items in Archero, including weapons, armor, rings, pets, lockets, bracelets, and spellbooks. Discover the stats, hidden stats, and descriptions for each item rarity. Unlock the full potential of your loadout with invaluable insights and make strategic choices to dominate your enemies in Archero.">
<meta property="og:type" content="website">
{% if item == "yes" %}
<title>{% blocktrans %}Archero - {{ name }}{% endblocktrans %}</title>
<meta property="og:title" content="{{ name }}">
<meta property="og:url" content="{{ url_cpy }}">
{% block meta_description %}
<meta property="og:description" content="{{ item_data.description|safe }}{% for k,v in item_data.rarity.items %}{% if v != '' %}
{{ v|safe }}{% else %}{% endif %}{% endfor %}">
{% endblock %}
<meta property="og:image" content="{% static item_data.image %}?version=1.9.4a">
{% else %}
<title>{% blocktrans %}Archero - Wiki{% endblocktrans %}</title>
<meta property="og:title" content="Archero - Item Description">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/item">
<meta property="og:description" content="Explore a comprehensive list of items in Archero, including weapons, armor, rings, pets, lockets, bracelets, and spellbooks. Discover the stats, hidden stats, and descriptions for each item rarity. Unlock the full potential of your loadout with invaluable insights and make strategic choices to dominate your enemies in Archero.">
<meta property="og:image" content="{{ request.archero_icon_link }}">
{% endif %}
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container need-small">
	<div class="search-bar" id="search-bar">
		<script>
			function filterList() {
				var input = document.getElementById("myInput");
				var filter = input.value.toUpperCase();
				var ul = document.getElementById("myUL");
				var li = ul.getElementsByTagName("li");

				for (var i = 0; i < li.length; i++) {
					var a = li[i].getElementsByTagName("a")[0];
					var txtValue = a.textContent || a.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						li[i].style.display = "";
					} else {
						li[i].style.display = "none";
					}
				}
			}
		</script>
		<a class="before_index arrow_searchbar" href="/{{ LANGUAGE_CODE }}/wiki/item/{{ index_before.0 }}/">
            <img src="/static/{{ index_before.1.image }}" width="30" alt="Archero Item {{ index_before.1.displayName }}">
            <i class="fas fa-arrow-up"></i>
        </a>
        <input type="text" id="myInput" onkeyup="filterList()" placeholder="{% blocktrans %}Search for items..{% endblocktrans %}" value="{{ name }}">
		<ul id="myUL" class="searchbar-ul-hero" style="display: none;">
			{% for k,v in ItemData.items %}
                <li>
                    <a class="toggle-display-list" href="/{{ LANGUAGE_CODE }}/wiki/item/{{ k }}/">
                        <div class="item_name">{{ v.displayName }}</div>
                        <div class="siimg">
                            <img src="/static/{{ v.image }}" alt="Archero Item {{ k }}" width="26">
                        </div>
                    </a>
                </li>
            {% endfor %}
		</ul>
		<a class="after_index arrow_searchbar" href="/{{ LANGUAGE_CODE }}/wiki/item/{{ index_after.0 }}/">
            <img src="/static/{{ index_after.1.image }}" width="30" alt="Archero Item {{ index_after.1.displayName }}">
            <i class="fas fa-arrow-up"></i>
        </a>
	</div>
	<div class="embed-container">
		<div class="kn3fae-0 ezpxFx">
			<div class="sgp62q-0 iuJdTu">
				<a title="TigerShark's Bot">
					<img src="/static/image/wiki-image/sylvanpfp3.png" alt="Archero Item Description Embed Thumbnail" class="sgp62q-1 dLWNvE">
					<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
					<span class="sgp62q-3 cTBPsI">BOT</span>
				</a>
				<span id="{{ item_data.value|lower }}" class="span-share"><a onclick="createModale(this,false,'info')" class="copy-icon-container"><i class="fa fa-share-alt" aria-hidden="true"></i></a></span>
			</div>
			<div class="kn3fae-2 eKjosW">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="sc-3qrykn-1 bsDYtY">
							<div class="sc-27l7o2-0 heOpKb thumbnail-title" id="name_item">
								<img src="/static/{{ item_data.image }}" alt="Archero Item {{ name }}" class="sc-3qrykn-7" id="item_image">
								{{ name }}
							</div>
						</div>
						<div class="sc-3qrykn-3 hXMbfy">
							<div class="sc-27l7o2-0 heOpKb" id="item_description">{{ item_data.description|safe }}</div>
							{% if item_data.hidden_stats %}
							<div class="e_hidden_stats " id="hidden_stats">
								<b>{% blocktrans %}Hidden Stats{% endblocktrans %}</b>
								{% for rarity,boost in item_data.hidden_stats.items %}
								<span>{{ boost|safe }}</span>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>{% blocktrans %}Stats{% endblocktrans %}</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb container-rarity">
										{% for k,v in item_data.rarity.items %}
										{% if v != "" %}
											<div class="rarity-desc" id="{{ k }}-rarity"><span class="span-rarity-item-desc"><img src="/static/image/rarity/{{ k }}.png" alt="Archero {{ name }} {{ k }} rarity icon"></span>{{ v|safe }}</div>
										{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="sc-3qrykn-6 fTOqMH">
							<img src="/static/{{ item_data.image }}" alt="Archero Item {{ name }}" class="sc-3qrykn-7 fUliQq" id="item_image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	var mainDescription = document.getElementsByClassName('main-description')
	var search_bar = document.getElementById('myInput');
	var ul_li = document.getElementById('myUL');
	var item_li_a = document.querySelectorAll(".toggle-display-list");

	search_bar.addEventListener('click', function(){
		if(ul_li.style.display == "none"){
			ul_li.style.display = "block"
			search_bar.value = ""
		}else if(ul_li.style.display !== "none"){
			ul_li.style.display = "none"
		}
	})

    window.addEventListener('click', ({target}) => {
        if(target.id != "myInput"){
            ul_li.style.display = "none"
        }
	})

	item_li_a.forEach(function(e) {
	    e.addEventListener("click", function() {
	    	setItemValues(e.textContent);
        });
    });
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Items-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 