<!doctype html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}?version=1.13.4 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.13.4 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}?version=1.13.4 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.13.4 %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Wiki</title>
	<script id="itemdesc" type="application/json" src="/web-project/data.json"></script>
	<style data-styled="active" data-styled-version="5.2.1"></style>
	<script src="https://kit.fontawesome.com/0b193e89de.js" crossorigin="anonymous"></script>
</head>
{% if darkmode == "yes" %}
<body class="body_dark_mode">
{% elif darkmode == "no" %}
<body>
{% endif %}
	<div class="main-container">
		<div class="sidebar" id="sidebar">
			<div class="sidebar-icon" id="sidebar-icon">
				<div class="leftsidebarc" id="lscimg"> <div class="lcontent">SIDEBAR</div></div>
				<div class="rightsidebarc" id="rscimg">
					<svg id="svg-filter-sidebar"width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScIconSVG-sc-1q25cff-1 dSicFr"><g><path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path></g></svg>
				</div>
			</div>
			<div class="traveling" id="traveling">
				<!-- SIDEBAR CONTENT INJECTED BY JAVASCRIPT -->
			</div>
		</div>
		<div class="container cmcath">
			<header class="header-container">
				<div class="header-container-1"></div>
				<div class="header-container-2 header_msg"><h2>{{ header_msg }}</h2></div>
				<div class="header-container-3 globe_header_icon">
					<!-- <label for="lang"><i class="fa-solid fa-globe"></i></label>
					<select name="lang" id="lang">
						{% for language in lang %}
						<option value="{{language}}">{{language}}</option>
						{% endfor %}
					</select> -->
				</div>
			</header>
			<main class="main-description">
				<div class="search-bar" id="search-bar">
					<script>
						function myFunction() {
							var input, filter, ul, li, a, i, txtValue;
							input = document.getElementById('myInput');
							filter = input.value.toUpperCase();
							ul = document.getElementById("myUL");
							li = ul.getElementsByTagName('li');

							for (i = 0; i < li.length; i++) {
								a = li[i].getElementsByTagName("a")[0];
								txtValue = a.textContent || a.innerText;
								if (txtValue.toUpperCase().indexOf(filter) > -1) {
									li[i].style.display = "";
								} else {
									li[i].style.display = "none";
								}
							}
						}
					</script>
					<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items..">
					<ul id="myUL" style="display: none;">
						<li value="Brave Bow"><a id="toggle-display-list" href="item?Search=Brave_Bow">Brave Bow</a></li>
						<li value="Death Scythe"><a id="toggle-display-list" href="item?Search=Death_Scythe">Death Scythe</a></li>
						<li value="Saw Blade"><a id="toggle-display-list" href="item?Search=Saw_Blade">Saw Blade</a></li>
						<li value="Tornado"><a id="toggle-display-list" href="item?Search=Tornado">Tornado</a></li>
						<li value="Brightspear"><a id="toggle-display-list" href="item?Search=Brightspear">Brightspear</a></li>
						<li value="Stalker Staff"><a id="toggle-display-list" href="item?Search=Stalker_Staff">Stalker Staff</a></li>
						<li value="Gale Force"><a id="toggle-display-list" href="item?Search=Gale_Force">Gale Force</a></li>
						<li value="Demon Blade Rain"><a id="toggle-display-list" href="item?Search=Demon_Blade_Rain">Demon Blade Rain</a></li>
						<li value="Mini Atreus"><a id="toggle-display-list" href="item?Search=Mini_Atreus">Mini Atreus</a></li>
						<li value="Antiquated Sword"><a id="toggle-display-list" href="item?Search=Antiquated_Sword">Antiquated Sword</a></li>
						<li value="Phantom Cloak"><a id="toggle-display-list" href="item?Search=Phantom_Cloak">Phantom Cloak</a></li>
						<li value="Vest of Dexterity"><a id="toggle-display-list" href="item?Search=Vest_of_Dexterity">Vest of Dexterity</a></li>
						<li value="Golden Chestplate"><a id="toggle-display-list" href="item?Search=Golden_Chestplate">Golden Chestplate</a></li>
						<li value="Void Robe"><a id="toggle-display-list" href="item?Search=Void_Robe">Void Robe</a></li>
						<li value="Bright Robe"><a id="toggle-display-list" href="item?Search=Bright_Robe">Bright Robe</a></li>
						<li value="Shadow Robe"><a id="toggle-display-list" href="item?Search=Shadow_Robe">Shadow Robe</a></li>
						<li value="Bear Ring"><a id="toggle-display-list" href="item?Search=Bear_Ring">Bear Ring</a></li>
						<li value="Wolf Ring"><a id="toggle-display-list" href="item?Search=Wolf_Ring">Wolf Ring</a></li>
						<li value="Falcon Ring"><a id="toggle-display-list" href="item?Search=Falcon_Ring">Falcon Ring</a></li>
						<li value="Serpent Ring"><a id="toggle-display-list" href="item?Search=Serpent_Ring">Serpent Ring</a></li>
						<li value="Bull Ring"><a id="toggle-display-list" href="item?Search=Bull_Ring">Bull Ring</a></li>
						<li value="Lion Ring"><a id="toggle-display-list" href="item?Search=Lion_Ring">Lion Ring</a></li>
						<li value="Vilebat Ring"><a id="toggle-display-list" href="item?Search=Vilebat_Ring">Vilebat Ring</a></li>
						<li value="Dragon Ring"><a id="toggle-display-list" href="item?Search=Dragon_Ring">Dragon Ring</a></li>
						<li value="Laser Bat"><a id="toggle-display-list" href="item?Search=Laser_Bat">Laser Bat</a></li>
						<li value="Scythe Mage"><a id="toggle-display-list" href="item?Search=Scythe_Mage">Scythe Mage</a></li>
						<li value="Living Bomb"><a id="toggle-display-list" href="item?Search=Living_Bomb">Living Bomb</a></li>
						<li value="Elf"><a id="toggle-display-list" href="item?Search=Elf">Elf</a></li>
						<li value="Noisy Owl"><a id="toggle-display-list" href="item?Search=Noisy_Owl">Noisy Owl</a></li>
						<li value="Flaming Ghost"><a id="toggle-display-list" href="item?Search=Flaming_Ghost">Flaming Ghost</a></li>
						<li value="Bone Warrior"><a id="toggle-display-list" href="item?Search=Bone_Warrior">Bone Warrior</a></li>
						<li value="Thunder Bracelet"><a id="toggle-display-list" href="item?Search=Thunder_Bracelet">Thunder Bracelet</a></li>
						<li value="Frozen Bracelet"><a id="toggle-display-list" href="item?Search=Frozen_Bracelet">Frozen Bracelet</a></li>
						<li value="Blazing Bracelet"><a id="toggle-display-list" href="item?Search=Blazing_Bracelet">Blazing Bracelet</a></li>
						<li value="Split Bracelet"><a id="toggle-display-list" href="item?Search=Split_Bracelet">Split Bracelet</a></li>
						<li value="Invincible Bracelet"><a id="toggle-display-list" href="item?Search=Invincible_Bracelet">Invincible Bracelet</a></li>
						<li value="Quickshot Bracelet"><a id="toggle-display-list" href="item?Search=Quickshot_Bracelet">Quickshot Bracelet</a></li>
						<li value="Shield Bracelet"><a id="toggle-display-list" href="item?Search=Shield_Bracelet">Shield Bracelet</a></li>
						<li value="Agile Locket"><a id="toggle-display-list" href="item?Search=Agile_Locket">Agile Locket</a></li>
						<li value="Iron Locket"><a id="toggle-display-list" href="item?Search=Iron_Locket">Iron Locket</a></li>
						<li value="Angel Locket"><a id="toggle-display-list" href="item?Search=Angel_Locket">Angel Locket</a></li>
						<li value="Bulletproof Locket"><a id="toggle-display-list" href="item?Search=Bulletproof_Locket">Bulletproof Locket</a></li>
						<li value="Piercer Locket"><a id="toggle-display-list" href="item?Search=Piercer_Locket">Piercer Locket</a></li>
						<li value="Bloodthirsty Locket"><a id="toggle-display-list" href="item?Search=Bloodthirsty_Locket">Bloodthirsty Locket</a></li>
						<li value="Counterattack Locket"><a id="toggle-display-list" href="item?Search=Counterattack_Locket">Counterattack Locket</a></li>
						<li value="Arcane Archer"><a id="toggle-display-list" href="item?Search=Arcane_Archer">Arcane Archer</a></li>
						<li value="Art of Combat"><a id="toggle-display-list" href="item?Search=Art_of_Combat">Art of Combat</a></li>
						<li value="Ice Realm"><a id="toggle-display-list" href="item?Search=Ice_Realm">Ice Realm</a></li>
						<li value="Enlightenment"><a id="toggle-display-list" href="item?Search=Enlightenment">Enlightenment</a></li>
						<li value="Giants Contract"><a id="toggle-display-list" href="item?Search=Giants_Contract">Giants Contract</a></li>
						<li value="Spectre Book"><a id="toggle-display-list" href="item?Search=Spectre_Book">Spectre Book</a></li>
						<li value="Arcanum of Time"><a id="toggle-display-list" href="item?Search=Arcanum_of_Time">Arcanum of Time</a></li>
					</ul>
				</div>
				<div class="embed-container">
					<div class="kn3fae-0 ezpxFx">
						<div class="sgp62q-0 iuJdTu">
							<a title="TigerShark's Bot">
								<img src="/static/image/wiki-image/sylvanpfp3.png" alt="User avatar" class="sgp62q-1 dLWNvE">
								<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
								<span class="sgp62q-3 cTBPsI">BOT</span>
								<span class="sc-1idsap7-0 dyOqmJ" id="date"></span>
							</a>
						</div>
						<div class="kn3fae-2 eKjosW">
							<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
								<div class="sc-3qrykn-0 bdFBtt">
									<span class="sc-3qrykn-1 bsDYtY">
										<div class="sc-27l7o2-0 heOpKb" id="name_item">Brave Bow</div>
									</span>
									<div class="sc-3qrykn-3 hXMbfy">
										<div class="sc-27l7o2-0 heOpKb" id="item_description">Only the worthly can use this bow, with balanced performance.<br><br><b>Hidden</b><br>Damage Multiplier x 1<br>Base Attack Speed x 1.73</div>
									</div>
									<div class="sc-3qrykn-4 hQKgZF">
										<div class="rgqgux-0 dQAxvm">
											<div class="rgqgux-1 dHYyKL">
												<div class="sc-27l7o2-0 heOpKb" style="color: white;">
													<strong>Stats</strong>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<div id="item_base">A well-balanced weapon<br>Attack + x</div>
													<div id="item_great"></div>
													<div id="item_rare">[Rare] Attack + 5%</div>
													<div id="item_epic">[Epic] Crit Damage + 50%   <em>(Doesn't work)</em></div>
													<div id="item_perfect_epic"></div>
													<div id="item_legendary"></div>
													<div id="item_ancient_legendary"></div>
													<div id="item_mythic">[Mythic] Attack increased temporarily after moving</div>
												</div>
											</div>
										</div>
									</div>
									<div class="sc-3qrykn-6 fTOqMH">
										<img src="/static/image/items/brave_bow_mythic.png" alt="Thumbnail" class="sc-3qrykn-7 fUliQq" id="item_image">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<footer class="f-item-desc">
		<div class="footer-content">
			<div class="footer-about">
				<img class="footer-img-icon" src="/static/image/archero_icon.png">
				<div class="about-content">
					<h2>Archero :</h2>
					<div>Archero Update will be added with a certains delay</div>
					<div class="contact-me">
						<div>If you encounter any bugs / anomaly please contact me on discord</div>
						<div><b><a class="me-discord-link" href="https://discord.com/users/382930544385851392" target="_blank"><i class="fa-brands fa-discord"></i> LuhCaran#9802</a></b></div>
					</div>
				</div>
			</div>
			<div class="discord_link">
				<div class="container_dlink">
					<h2>Community Link:</h2> 
					<a href="https://discord.gg/d7w6FxhHjj" target="_blank"><li> LeMuthique's Server</li></a>
					<a href="https://discord.gg/eAqZquTF6X" target="_blank"><li> TigerShark's Server</li></a>
				</div>
				<div class="container_rlink">
					<a href="https://www.reddit.com/r/Archero/" target="_blank"><li> r/Archero</li></a>
				</div>
				<div class="container_flink">
					<a href="https://www.facebook.com/archerogame/" target="_blank"><li> Fb Archero</li></a>
				</div>
			</div>
			<div class="thanks">
				<h2>Shout-out :</h2>
				<div class="shout-out">SonHaon, Ktaplouf, Pew, Deth</div>
				<div class="shout-out">Lovii, Kaseiya, Lorenz, TigerShark14</div>
				<div class="shout-out">Everyone who helped me getting data</div>
			</div>
		</div>
	</footer>
</body>
<script type="module">
	import sidebar from "/static/json/sidebar.json" assert {type: 'json'};

	const traveling = document.getElementById("traveling")

	for(const item of sidebar["sidebar"]){
		const parentContainer = document.createElement("div")
		const leftSidebar = document.createElement("div")
		const childLeftSidebar = document.createElement("div")
		const rightSidebar = document.createElement("div")
		const childRightSidebar = document.createElement("a")
		const svg = document.createElement("object")

		traveling.appendChild(parentContainer)
		parentContainer.appendChild(leftSidebar)
		parentContainer.appendChild(rightSidebar)
		leftSidebar.appendChild(childLeftSidebar)
		rightSidebar.appendChild(childRightSidebar)
		childRightSidebar.appendChild(svg)

		parentContainer.className = item['container']['class']
		parentContainer.addEventListener('click', function windowHref(){
			window.location.href = item['container']['onclick']
		})
		leftSidebar.className = item['container']['childs_container']['leftsidebar']['self_class']
		childLeftSidebar.className = item['container']['childs_container']['leftsidebar']['child_class']
		childLeftSidebar.innerHTML = item['container']['childs_container']['leftsidebar']['child_content']
		rightSidebar.className = item['container']['childs_container']['rightsidebar']['self_class']
		childRightSidebar.className = item['container']['childs_container']['rightsidebar']['child_class']
		svg.type = item['container']['childs_container']['rightsidebar']['child_content']['object_type']
		svg.id = item['container']['childs_container']['rightsidebar']['child_content']['object_id']
		svg.data = item['container']['childs_container']['rightsidebar']['child_content']['object_data']
		svg.width = item['container']['childs_container']['rightsidebar']['child_content']['object_width']
		svg.height = item['container']['childs_container']['rightsidebar']['child_content']['object_height']
	}

	const themeParentContainer = document.createElement("div")
	const themeLeftSidebar = document.createElement("div")
	const themeChildLeftSidebar = document.createElement("div")
	const themeRightSidebar = document.createElement("div")
	const themeSvg = document.createElement("object")

	traveling.appendChild(themeParentContainer)
	themeParentContainer.appendChild(themeLeftSidebar)
	themeParentContainer.appendChild(themeRightSidebar)
	themeLeftSidebar.appendChild(themeChildLeftSidebar)
	themeRightSidebar.appendChild(themeSvg)

	themeParentContainer.className = "traveling-inline-div"
	themeParentContainer.id = "switch_dark_mode"
	themeLeftSidebar.className = "leftsidebarc traveling-left"
	themeChildLeftSidebar.className = "shcl"
	themeChildLeftSidebar.innerHTML = "Theme"
	themeRightSidebar.className = "rightsidebarc traveling-right"
	themeSvg.type = "image/png"
	themeSvg.id = "darkmodeSWITCH" 
	themeSvg.width = "21"
	themeSvg.height = "21"

	var darkmode = "{{ darkmode }}"
	if(darkmode == "yes"){
		themeSvg.data = "\\static\\image\\svg\\moon.svg"
	}else if(darkmode == "no"){
		themeSvg.data = "\\static\\image\\svg\\sun.svg"
	}
	
	var switchModeBtn = document.getElementById('switch_dark_mode');
	switchModeBtn.addEventListener('click', function toggleClassDarkMode(){
		var date = new Date()
		var darkmodeSWITCH = document.getElementById('darkmodeSWITCH')
		date.setTime(date.getTime() + (365*24*60*60*1000));
		var body = document.body;
		body.classList.toggle("body_dark_mode");
		if(body.className == "body_dark_mode"){
			document.cookie = "modeDisplay=True; expires=" + date.toUTCString() + "; path=/";
			darkmodeSWITCH.setAttribute("data","\\static\\image\\svg\\moon.svg")
		}else{
			document.cookie = 'modeDisplay=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			darkmodeSWITCH.setAttribute("data","\\static\\image\\svg\\sun.svg")
		}
	})

	var sidebarBtn = document.getElementById('sidebar-icon');
	sidebarBtn.addEventListener('click', function toggleSideBarClass(){
		var sidebar = document.getElementById("sidebar")
		sidebar.classList.toggle('sidebar-active')
	})
	
	function cookieInitialize(){
		document.cookie = "windowInnerHeight=" + window.innerHeight +  "; path=/";
		document.cookie = "windowInnerWidth=" + window.innerWidth +  "; path=/";
	}
	cookieInitialize()

	var mainDescription = document.getElementsByClassName('main-description')
	var search_bar = document.getElementById('search-bar');
	var ul_li = document.getElementById('myUL');
	var item_li_a = document.querySelectorAll("#toggle-display-list");
	var body = document.body;
	var myInput = document.getElementById('myInput')
	var name_item = document.getElementById('name_item');
	var item_description = document.getElementById('item_description');
	var item_image = document.getElementById('item_image');
	var item_base = document.getElementById('item_base');
	var item_great = document.getElementById('item_great');
	var item_rare = document.getElementById('item_rare');
	var item_epic = document.getElementById('item_epic');
	var item_perfect_epic = document.getElementById('item_perfect_epic');
	var item_legendary = document.getElementById('item_legendary');
	var item_ancient_legendary = document.getElementById('item_ancient_legendary');
	var item_mythic = document.getElementById('item_mythic');

	var n =  new Date();
	var y = n.getFullYear();
	var m = n.getMonth() + 1;
	var d = n.getDate();
	document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

	search_bar.addEventListener('click', function(){
		var myInput = document.getElementById('myInput')
		if(ul_li.style.display == "none"){
			ul_li.style.display = "block"
			myInput.value = ""
		}else if(ul_li.style.display !== "none"){
			ul_li.style.display = "none"
		}
	})

	import json_item from "/static/json/item.json" assert {type: 'json'};
	const item_json = json_item['item']

	item_li_a.forEach(
		function(e){
			e.addEventListener("click", function(){				
				// ul_li.style.display = "none";
				item = e.textContent;
				myInput.value = item
				name_item.innerHTML = item
				item_description.innerHTML = item_json[item]["description"]
				item_image.src = item_json[item]["image"]
				item_base.innerHTML = item_json[item]["base"]
				item_great.innerHTML = item_json[item]["great"]
				item_rare.innerHTML = item_json[item]["rare"]
				item_epic.innerHTML = item_json[item]["epic"]
				item_perfect_epic.innerHTML = item_json[item]["pe"]
				item_legendary.innerHTML = item_json[item]["legendary"]
				item_ancient_legendary.innerHTML = item_json[item]["ale"]
				item_mythic.innerHTML = item_json[item]["mythic"]
			})	
		})
	
	try{
		var url = window.location.href
		var postSearch = url.split("?")
		var postSearchParam = postSearch[1].split('=')[1];
		var item = postSearchParam.replaceAll("_"," ")
		if(postSearch[1] != null){
			var myInput = document.getElementById('myInput')
			var name_item = document.getElementById('name_item');
			var item_description = document.getElementById('item_description');
			var item_image = document.getElementById('item_image');
			var item_base = document.getElementById('item_base');
			var item_great = document.getElementById('item_great');
			var item_rare = document.getElementById('item_rare');
			var item_epic = document.getElementById('item_epic');
			var item_perfect_epic = document.getElementById('item_perfect_epic');
			var item_legendary = document.getElementById('item_legendary');
			var item_ancient_legendary = document.getElementById('item_ancient_legendary');
			var item_mythic = document.getElementById('item_mythic');
			
			myInput.value = item
			name_item.innerHTML = item
			item_description.innerHTML = item_json[item]["description"]
			item_image.src = item_json[item]["image"]
			item_base.innerHTML = item_json[item]["base"]
			item_great.innerHTML = item_json[item]["great"]
			item_rare.innerHTML = item_json[item]["rare"]
			item_epic.innerHTML = item_json[item]["epic"]
			item_perfect_epic.innerHTML = item_json[item]["pe"]
			item_legendary.innerHTML = item_json[item]["legendary"]
			item_ancient_legendary.innerHTML = item_json[item]["ale"]
			item_mythic.innerHTML = item_json[item]["mythic"]
		}
	} catch(error){
		console.log(error)
	}
</script>
</body>
</html>