{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.6.5">
<title>{% blocktrans %}Archero - Maze Map{% endblocktrans %}</title>
<meta name="description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="tutorial">
	{% blocktrans %}<b>Here is how you should read the Solution :</b><br>
	For example In week 1, if you chose green portal in stage 0<br>
	You will have green and purple as an option in stage 1.<br>
	If you chose green in stage 1, you'll have purple and blue in stage 2 etc...<br><br>
	You Can also take a look at this : {% endblocktrans %}<a href="https://www.reddit.com/r/Archero/comments/xwbxrp/ancient_maze_new_full_optimised_map/" target="_blank">{% blocktrans %}Optimized Maze Map{% endblocktrans %}</a>
</div>
<main class="maze-main" id="main">
</main>
{% endblock %}
{% block javascript %}
<!--SCRIPT API MADE BY TigerShark14#8188 on discord-->
<script>
	let list = document.getElementById("main");

	let author = document.createElement("p");
	author.innerHTML = "{% blocktrans %}Author: TigerShark14<br>This solution is auto-updated<br>Connected to Archero Maze API{% endblocktrans %}"
	list.appendChild(author);
	let contents = document.createElement("h2");
	contents.innerText  = "{% blocktrans %}Contents{% endblocktrans %}"
	list.appendChild(contents);
	let contentsList = document.createElement("div");
	list.appendChild(contentsList);
	contentsList.id = "week-link"
	let all_week_div = document.createElement("div");
	all_week_div.id = "all_week_div"
	list.appendChild(all_week_div)
	let mainWeek = document.getElementById('all_week_div')
	const maze_data_str = '{{ data_json }}'.replaceAll("&#x27","'").replaceAll("';",'"');
	const maze = JSON.parse(maze_data_str)

	let data = Object.values(maze.MazeLine).map((e)=>[e.ID, new Map(e.Line.replaceAll("a", "🟢").replaceAll("b", "🔵").replaceAll("c", "🟣").replaceAll("d", "🟠").replaceAll(",", " ").split("|").map(f => f.includes(";") ? f.split(";") : ["{% blocktrans %}start{% endblocktrans %}", f] ))])

	// first index is if it was in previous record, second is if it will display in this record.
	let green = [true, true];
	let blue = [true, true];
	let purple = [true, true];
	let gold = [false, false];

	data.forEach((item)=>{
		if(item[0]%1000 == 0) {
			let dateConfig = maze.MazeConfig.filter(e => e.Line == item[0]);
			let solution_content = document.createElement("div"); 
			let linkToWeek = document.createElement("a");
			let h2 = document.createElement("h2");
			let dateList = document.createElement("div");
			dateList.className = "dateListItem"

			solution_content.id = "week_" + dateConfig[0].Line/1000;
			solution_content.className = "weeks"

			h2.innerText += "{% blocktrans %}Week {% endblocktrans %}" + dateConfig[0].Line/1000;
			h2.id = h2.innerText.replaceAll(" ", "_");
			linkToWeek.innerText = h2.innerText;

			linkToWeek.href = "#" + h2.id;

			mainWeek.appendChild(solution_content)
			contentsList.appendChild(linkToWeek);
			solution_content.appendChild(h2);
			solution_content.appendChild(dateList);

			dateConfig.forEach(d=> {
				let dateListItem = document.createElement("li");
				dateListItem.innerText += " " + new Intl.DateTimeFormat('en-US', { timeZone: "UTC", dateStyle: "medium", timeStyle: "long" }).format(new Date(d.StartTime * 1000))
				dateListItem.innerText += " - " + new Intl.DateTimeFormat('en-US', { timeZone: "UTC", dateStyle: "medium", timeStyle: "long" }).format(new Date(d.EndTime * 1000));

				dateList.appendChild(dateListItem);
			})
		}

		let dt = document.createElement("dt");
		let parentDiv = document.getElementById("week_" + item[0].toString()[0])
		dt.innerText += item[0]%1000;
		parentDiv.appendChild(dt);

		if(green[0] == true) green[1] = true;
		else if(green[0] == false) green[1] = false;

		if(blue[0] == true) blue[1] = true;
		else if(blue[0] == false) blue[1] = false;

		if(purple[0] == true) purple[1] = true;
		else if(purple[0] == false) purple[1] = false;

		if(gold[0] == true) gold[1] = true;
		else if(gold[0] == false) gold[1] = false;

		green[0] = false;
		blue[0] = false;
		purple[0] = false;
		gold[0] = false;

		item[1].forEach((value, key, map) => {
			if(key == "{% blocktrans %}start{% endblocktrans %}" || (green[1] == true && key == "🟢") || (blue[1] == true && key == "🔵") || (purple[1] == true && key == "🟣") || (gold[1] == true && key == "🟠")) {
			if(value.includes("🟢")) green[0] = true;
			if(value.includes("🔵")) blue[0] = true;
			if(value.includes("🟣")) purple[0] = true;
			if(value.includes("🟠")) gold[0] = true;

			let dd = document.createElement("dd");
            dd.id = "L" + item[0] 
			dd.innerText = key + " ▶ " + value
			parentDiv.appendChild(dd);
			}})})
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Maze-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 