{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.9.4a">
<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.9.4a">
{% if name_title != None %}
	<title>{% blocktrans %}Archero - {{ name_title }}{% endblocktrans %}</title>
	<meta property="og:title" content="Archero - {{ name_title }}">
	<meta property="og:url" content="{{ current_url }}">
	<meta property="og:type" content="website">
	{% block meta_description %}
	<meta property="og:description" content="Welcome to the Archero Wiki
	Check this out : {{ current_article.displayName }}">
	{% endblock %}
	<meta name="description" content="Welcome to the Archero Wiki, your ultimate resource for the popular mobile game by HABBY. Explore comprehensive guides, tier lists, hero breakdowns, and item stats on our extensive Wiki. Level up your gameplay with expert strategies and unleash your full potential in the world of Archero.">
	{% if current_article.type == 'img' %}
	<meta property="og:image" content="{% static current_article.collapsible_container.content.field.src %}?version=1.9.4a">
	{% else %}
	<meta property="og:image" content="{{ request.archero_icon_link }}">
	{% endif %}
{% else %}
	<title>{% blocktrans %}Archero - Wiki{% endblocktrans %}</title>
	<meta property="og:title" content="Archero - Wiki">
	<meta property="og:url" content="{{ current_url }}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Welcome to the Archero Wiki, your ultimate resource for the popular mobile game by HABBY. Explore comprehensive guides, tier lists, hero breakdowns, and item stats on our extensive Wiki. Level up your gameplay with expert strategies and unleash your full potential in the world of Archero.">
	<meta name="description" content="Welcome to the Archero Wiki, your ultimate resource for the popular mobile game by HABBY. Explore comprehensive guides, tier lists, hero breakdowns, and item stats on our extensive Wiki. Level up your gameplay with expert strategies and unleash your full potential in the world of Archero.">
	<meta property="og:image" content="{{ request.archero_icon_link }}">
{% endif %}
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container need-small">
	<div class="flex-box">
		{% for groupName,content in WikiContent.items %}
        <span class="groupName-wiki">{{ groupName }}</span>
        <div class="content-wiki">
            {% for k,v in content.items %}
            <div class="container-btn-flexbox">
                <div class="button-wiki-collaps {{ v.classButton }}"><span class="thcrft-name" id="{{ k }}">{{ v.displayName }} {{ v.displayNameImg|safe }}<a onclick="createModale(this,true,'info')" class="copy-icon-container"><i class="fa fa-share-alt" aria-hidden="true"></i></a></span></div>
                <div class="{{ v.collapsible_container.class_content }} content">
                {% if v.type == "img" %}
                    <img src="{% static v.collapsible_container.content.field.src %}?version=1.9.4a" class="{{ v.collapsible_container.content.field.class }}" alt="{{ v.collapsible_container.content.field.alt }}" loading="lazy">
                {% elif v.type == "embed" %}
                    <div class="kn3fae-0 ezpxFx">
                        <div class="kn3fae-2 eKjosW">
                            <div class="z4zgh4-0 jiJPTS" {{ v.collapsible_container.border_color|safe }}>
                                <div class="sc-3qrykn-0 bdFBtt">
                                    <div class="sc-3qrykn-1 bsDYtY">
                                        <div class="sc-27l7o2-0 heOpKb" id="{{ v.collapsible_container.content.title.idTitle }}">{{ v.collapsible_container.content.title.innerText|safe }}</div>
                                    </div>
                                    <div class="sc-3qrykn-3 hXMbfy">
                                        <div class="sc-27l7o2-0 heOpKb" id="{{ v.collapsible_container.content.description.idDesc }}">{{ v.collapsible_container.content.description.innerText|safe }}</div>
                                    </div>
                                    <div class="sc-3qrykn-4 hQKgZF">
                                        <div class="rgqgux-0 dQAxvm">
                                            {% for i in v.collapsible_container.content.field %}
                                            <div class="rgqgux-1 dHYyKL">
                                                <div class="sc-27l7o2-0 heOpKb" style="color: white;">
                                                    <strong>{{ i.name|safe }}</strong>
                                                </div>
                                            </div>
                                            <div class="rgqgux-2 jFcAhO">
                                                <div class="sc-27l7o2-0 heOpKb">
                                                    {{ i.value|safe }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="sc-1wl8gx1-0 khpRBf"><span class="sc-1wl8gx1-2 frwlEK">{{ v.collapsible_container.content.footer.innerText|safe }}</span></div>
                                    <div class="sc-3qrykn-6 fTOqMH">
                                        {% if v.collapsible_container.content.thumbnail.src != '' %}
                                            <img src="{{ v.collapsible_container.content.thumbnail.src }}" alt="{{ v.collapsible_container.content.thumbnail.alt }}" class="sc-3qrykn-7 fUliQq {{ v.collapsible_container.content.thumbnail.class }}">
                                        {% endif %}	
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
    		{% endfor %}
        </div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	function toggleContent(content) {
		if (content.style.maxHeight) {
			content.style.maxHeight = null;
		} else {
			content.style.maxHeight = '1000px';
		}
	}

	function collapseAllOpenContent() {
		const colls = document.getElementsByClassName('collapsible');
		for (const coll of colls) {
			if (coll.classList.contains('active')) {
			coll.classList.remove('active');
			toggleContent(coll.nextElementSibling);
			}
		}
	}

	const colls = document.getElementsByClassName('collapsible');
	for (const coll of colls) {
		coll.addEventListener('click', function() {
			if (!this.classList.contains('active')) {
			collapseAllOpenContent();
			}
			this.classList.toggle('active');
			toggleContent(this.nextElementSibling);
		});
	}
</script>
<script>
	if("{{ article }}" != "None"){
		var elementColaps = document.getElementById("{{ article }}")
		elementColaps.click()
	}
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Wiki-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %}