<!doctype html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.3.1">
	<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}?version=1.3.1">
	<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}?version=1.3.1">
	<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.3.1">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Archero - Wiki</title>
	<script src="https://kit.fontawesome.com/0b193e89de.js" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}?version=1.3.1"></script>

    <meta property="og:title" content="Archero - Promo Codes">
	<meta property="og:url" content="https://stats.wiki-archero.com/wiki/promo-code">
	<meta property="og:type" content="website">
	{% block meta_description %}
	<meta property="og:description" content="
	{% if len_promo != 0 %}
	{% for i in promo_code %}
	• {{ i.0 }}
	Rewards: {% for x in i.2 %} | {{ x.0 }} {{ x.1 }} | {% endfor %}{% endfor %}
	{% else %}
	- There are no promocodes available at this time -
	{% endif %}">
	{% endblock %}
	<meta name="description" content="Welcome to Archero website! We offer advanced gameplay statistics, comprehensive guides to help you progress through the game. This site is constantly evolving and includes the latest updates.">
	<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.3.1">
</head>
{% if darkmode == "yes" %}
<body class="body_dark_mode">
{% elif darkmode == "no" %}
<body>
{% endif %}
<noscript>
	<div id="no-script-message">
		<p>Please enable JavaScript to use this website.</p>
	</div>
</noscript>
	<div class="sidebar sidebar-open sidebar-position-a" id="sidebar">
		<div class="sidebar-icon" id="sidebar-icon">
			<div class="leftsidebarc" id="lscimg"> <div class="lcontent">SIDEBAR</div></div>
			<div class="rightsidebarc" id="rscimg">
				<svg id="svg-filter-sidebar" width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScIconSVG-sc-1q25cff-1 dSicFr"><g><path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path></g></svg>
			</div>
		</div>
		<div class="traveling" id="traveling">
			<!-- SIDEBAR CONTENT INJECTED BY JAVASCRIPT -->
		</div>
	</div>
	<div class="main-container" id="main-container">
		<main class="main-flexbox cmcath">
			<header class="header-container">
				<div class="header-container-1"></div>
				<div class="header-container-2 header_msg"><h2>{{ header_msg }}</h2></div>
				<div class="header-container-3 globe_header_icon">
					<!-- <label for="lang"><i class="fa-solid fa-globe"></i></label>
					<select name="lang" id="lang">
						{% for language in lang %}
						<option value="{{language}}">{{language}}</option>
						{% endfor %}
					</select> -->
				</div>
			</header>
			<div class="container-flexbox">
				<div class="promo_code_e">
					<div class="kn3fae-0 ezpxFx">
						<div class="sgp62q-0 iuJdTu">
							<a title="TigerShark's Bot">
								<img src="/static/image/wiki-image/sylvanpfp3.png" alt="User avatar" class="sgp62q-1 dLWNvE">
								<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
								<span class="sgp62q-3 cTBPsI">BOT</span>
								<span class="sc-1idsap7-0 dyOqmJ" id="date"></span>
							</a>
						</div>
						<div class="kn3fae-2 eKjosW">
							<div class="z4zgh4-0 jiJPTS" style="border-color: rgba(0,190,207,255);">
								<div class="sc-3qrykn-0 bdFBtt">
									<span class="sc-3qrykn-1 bsDYtY">
										<a href="https://h5-archero.habby.com/" target="_blank" class="heOpKb promocode_title" id="e_title">Promotion Codes</a>
									</span>
									<div class="sc-3qrykn-4 hQKgZF">
										<div class="rgqgux-0 dQAxvm">
											{% if len_promo != 0 %}
												{% for i in promo_code %}
												<div class="rgqgux-1 dHYyKL code_field">
													<div class="sc-27l7o2-0 heOpKb" style="color: white;">
														<strong>• {{ i.0 }}</strong>
													</div>
												</div>
												<div class="rgqgux-2 jFcAhO reward_field">
													<div class="sc-27l7o2-0 heOpKb reward_text">
														Rewards: {% for x in i.2 %} {{ x.0 }} <object type="image/png" data="/static/image/svg/{{ x.1 }}.svg" width="18" height="18"></object>{% endfor %} 
													</div>
												</div>
												<div class="rgqgux-2 jFcAhO expire_field">
													Expires on: {{ i.1 }}
												</div>
												{% endfor %}
											{% else %}
											<div class="rgqgux-1 dHYyKL code_field">
												<div class="sc-27l7o2-0 heOpKb" style="color: white;">
													<strong>- There are no promocodes available at this time -</strong>
												</div>
											</div>
											{% endif %}
										</div>
									</div>
                                    <div class="sc-3qrykn-4 hQKgZF">
										<div class="rgqgux-0 dQAxvm">
                                            <div class="rgqgux-1 dHYyKL">
												<div class="sc-27l7o2-0 heOpKb" style="color: white;">
													<strong>Redeem Promocodes here:</strong>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<a class="h5-archero-habby" href="https://h5-archero.habby.com/" target="_blank">https://h5-archero.habby.com/</a>
												</div>
											</div>
										</div>
									</div>
                                    <img src="/static/image/wiki-image/titlepic.png" class="reward_page_pic" width="100%" height="100%" alt="Reward Page Picture">
                                    <div class="sc-1wl8gx1-0 khpRBf"><span class="sc-1wl8gx1-2 frwlEK">Disclaimer: Codes may expire before they are removed from here</span></div>
									<div class="sc-3qrykn-6 fTOqMH">
										<img src="/static/image/wiki-image/meowgik_pointing.png" alt="Thumbnail" id="e_image" class="sc-3qrykn-7 fUliQq">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="footer-content">
				<div class="footer-about">
					<img class="footer-img-icon" src="{% static 'image/archero_icon.png' %}?version=1.3.1" alt="image game icon">
					<div class="about-content">
						<h2>Archero :</h2>
						<div>Archero Update will be added with a certains delay</div>
						<div class="contact-me">
							<div>If you encounter any bugs / anomaly please contact me on discord</div>
							<div><b><a class="me-discord-link" href="https://discord.com/users/382930544385851392" target="_blank"><i class="fa-brands fa-discord"></i> LuhCaran#9802</a></b></div>
						</div>
					</div>
				</div>
				<div class="discord_link">
					<div class="container_dlink">
						<h2>Community Link:</h2> 
						<a href="https://discord.gg/d7w6FxhHjj" target="_blank"><li> LeMutique's Server</li></a>
						<a href="https://discord.gg/eAqZquTF6X" target="_blank"><li> TigerShark's Server</li></a>
					</div>
					<div class="container_rlink">
						<a href="https://www.reddit.com/r/Archero/" target="_blank"><li> r/Archero</li></a>
					</div>
					<div class="container_flink">
						<a href="https://www.facebook.com/archerogame/" target="_blank"><li> FB Archero</li></a>
					</div>
				</div>
				<div class="thanks">
					<h2>Shout-out :</h2>
				<div class="shout-out">SonHaon, Deth, TigerShark14</div>
				<div class="shout-out">Ktaplouf, Pew, Lorenz, RedsMeName</div>
				<div class="shout-out">Everyone who helped me getting data</div>
				</div>
			</div>
		</footer>
	</div>
</body>
<script>
	n =  new Date();
	y = n.getFullYear();
	m = n.getMonth() + 1;
	d = n.getDate();
	document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
</script>
<script>
	const traveling = document.getElementById("traveling")

	for(const item of sidebar){
		const parentContainer = document.createElement("div")
		const leftSidebar = document.createElement("div")
		const childLeftSidebar = document.createElement("div")
		const rightSidebar = document.createElement("div")
		const childRightSidebar = document.createElement("a")
		const image = document.createElement("img")

		traveling.appendChild(parentContainer)
		parentContainer.appendChild(leftSidebar)
		parentContainer.appendChild(rightSidebar)
		leftSidebar.appendChild(childLeftSidebar)
		rightSidebar.appendChild(childRightSidebar)
		childRightSidebar.appendChild(image)

		parentContainer.className = item['container']['class']
		parentContainer.id = item['container']['_name'] + "-sidebar-image"
		parentContainer.addEventListener('click', function windowHref(){
			window.location.href = item['container']['onclick']
		})
		leftSidebar.className = item['container']['childs_container']['leftsidebar']['self_class']
		childLeftSidebar.className = item['container']['childs_container']['leftsidebar']['child_class']
		childLeftSidebar.innerHTML = item['container']['childs_container']['leftsidebar']['child_content']
		rightSidebar.className = item['container']['childs_container']['rightsidebar']['self_class']
		childRightSidebar.className = item['container']['childs_container']['rightsidebar']['child_class']
		image.id = item['container']['childs_container']['rightsidebar']['child_content']['image_id']
		image.src = item['container']['childs_container']['rightsidebar']['child_content']['image_src']
		image.width = item['container']['childs_container']['rightsidebar']['child_content']['image_width']
		image.height = item['container']['childs_container']['rightsidebar']['child_content']['image_height']
	}

	const themeParentContainer = document.createElement("div")
	const themeLeftSidebar = document.createElement("div")
	const themeChildLeftSidebar = document.createElement("div")
	const themeRightSidebar = document.createElement("div")
	const themeImg = document.createElement("img")

	traveling.appendChild(themeParentContainer)
	themeParentContainer.appendChild(themeLeftSidebar)
	themeParentContainer.appendChild(themeRightSidebar)
	themeLeftSidebar.appendChild(themeChildLeftSidebar)
	themeRightSidebar.appendChild(themeImg)

	themeParentContainer.className = "traveling-inline-div"
	themeParentContainer.id = "switch_dark_mode"
	themeLeftSidebar.className = "leftsidebarc traveling-left"
	themeChildLeftSidebar.className = "shcl"
	themeChildLeftSidebar.innerHTML = "Theme"
	themeRightSidebar.className = "rightsidebarc traveling-right"
	themeImg.id = "darkmodeSWITCH" 
	themeImg.width = "21"
	themeImg.height = "21"

	var darkmode = "{{ darkmode }}"
	if(darkmode == "yes"){
		themeImg.src = "\\static\\image\\img-sidebar\\moon.png"
	}else if(darkmode == "no"){
		themeImg.src = "\\static\\image\\img-sidebar\\sun.png"
	}

	var switchModeBtn = document.getElementById('switch_dark_mode');
	switchModeBtn.addEventListener('click', function toggleClassDarkMode(){
		var date = new Date()
		var darkmodeSWITCH = document.getElementById('darkmodeSWITCH')
		date.setTime(date.getTime() + (365*24*60*60*1000));
		var body = document.body;
		body.classList.toggle("body_dark_mode");
		if(body.className == "body_dark_mode"){
			document.cookie = "modeDisplay=True; expires=" + date.toUTCString() + "; path=/";
			darkmodeSWITCH.src = "\\static\\image\\img-sidebar\\moon.png"
		}else{
			document.cookie = 'modeDisplay=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			darkmodeSWITCH.src = "\\static\\image\\img-sidebar\\sun.png"
		}
	})

	var sidebarBtn = document.getElementById('sidebar-icon');
	sidebarBtn.addEventListener('click', function toggleSideBarClass(){
		var sidebar = document.getElementById("sidebar")
		sidebar.classList.toggle('sidebar-active')
        sidebar.classList.toggle('sidebar-open')
	})
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Promos-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
</html>