{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.9.4a">
<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.9.4a">
<title>{% blocktrans %}Archero - Promo Codes{% endblocktrans %}</title>
<meta name="description" content="Discover the latest promo codes and gift codes for Archero on our website. Unlock exclusive rewards, gems, and valuable items by redeeming these codes.">
<meta property="og:title" content="Archero - Promo Codes">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/promo-code">
<meta property="og:type" content="website">
{% block meta_description %}
<meta property="og:description" content="Discover the latest promo codes and gift codes for Archero on our website:
{% if len_promo != 0 %}
{% for promo,rewards in promo_code.items %}
• {{ promo.code }}
Rewards: {% for reward in rewards %} {{ reward.reward_type }} {{ reward.reward_amount }} {% endfor %}{% endfor %}
{% else %}
- There are no promocodes available at this time -
{% endif %}">
{% endblock %}
<meta name="description" content="Welcome to Archero website! We offer advanced gameplay statistics, comprehensive guides to help you progress through the game. This site is constantly evolving and includes the latest updates.">
<meta property="og:image" content="{{ request.archero_icon_link }}">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container">
	<div class="kn3fae-0 ezpxFx">
		<div class="sgp62q-0 iuJdTu">
			<a title="TigerShark's Bot">
				<img src="/static/image/wiki-image/sylvanpfp3.png" alt="promo code embed thumbnail" class="sgp62q-1 dLWNvE">
				<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
				<span class="sgp62q-3 cTBPsI">BOT</span>
			</a>
		</div>
		<div class="kn3fae-2 eKjosW">
			<div class="z4zgh4-0 jiJPTS" style="border-color: rgba(0,190,207,255);">
				<div class="sc-3qrykn-0 bdFBtt">
					<span class="sc-3qrykn-1 bsDYtY">
						<a href="https://h5-archero.habby.com/" target="_blank" class="heOpKb promocode_title" id="e_title">{% blocktrans %}Promotion Codes{% endblocktrans %}</a>
					</span>
					<div class="sc-3qrykn-4 hQKgZF">
						<div class="rgqgux-0 dQAxvm">
							{% if len_promo != 0 %}
								{% for promo,rewards in promo_code.items %}
								<div class="rgqgux-1 dHYyKL code_field">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>• {{ promo.code }}</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO reward_field">
									<div class="sc-27l7o2-0 heOpKb reward_text">
										{% blocktrans %}Rewards: {% endblocktrans %}{% for reward in rewards %}
											{{ reward.reward_amount }} <object type="image/png" data="/static/image/svg/{{ reward.reward_type }}.svg" height="18"> {{ reward.reward_type }}</object>
										{% endfor %}
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO expire_field">
									{% blocktrans %}Expires on: {% endblocktrans %}{{ promo.expire }}
								</div>
								{% endfor %}
							{% else %}
							<div class="rgqgux-1 dHYyKL code_field">
								<div class="sc-27l7o2-0 heOpKb" style="color: white;">
									<strong>- {% blocktrans %}There are no promocodes available at this time -{% endblocktrans %}</strong>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
					<div class="sc-3qrykn-4 hQKgZF">
						<div class="rgqgux-0 dQAxvm">
							<div class="rgqgux-1 dHYyKL">
								<div class="sc-27l7o2-0 heOpKb" style="color: white;">
									<strong>{% blocktrans %}Redeem Promocodes here:{% endblocktrans %}</strong>
								</div>
							</div>
							<div class="rgqgux-2 jFcAhO">
								<div class="sc-27l7o2-0 heOpKb">
									<a class="h5-archero-habby" href="https://h5-archero.habby.com/" target="_blank">https://h5-archero.habby.com/</a>
								</div>
							</div>
						</div>
					</div>
					<img src="/static/image/wiki-image/titlepic.png" class="reward_page_pic" width="100%" height="100%" alt="Archero Promo Code Reward Page Picture">
					<div class="sc-1wl8gx1-0 khpRBf"><span class="sc-1wl8gx1-2 frwlEK">{% blocktrans %}Disclaimer: Codes may expire before they are removed from here{% endblocktrans %}</span></div>
					<div class="sc-3qrykn-6 fTOqMH">
						<img src="/static/image/wiki-image/meowgik_pointing.png" alt="Archero Meowgik Promo Code" id="e_image" class="sc-3qrykn-7 fUliQq">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	const self_inline_div_traveling = document.getElementById('Promos-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 