<!doctype html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}?version=1.12.4 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.12.4 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}?version=1.12.4 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.12.4 %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Wiki</title>
	<script id="skilldesc" type="application/json" src="/web-project/data.json"></script>
	<style data-styled="active" data-styled-version="5.2.1"></style>
	<script src="https://kit.fontawesome.com/0b193e89de.js" crossorigin="anonymous"></script>
</head>
{% if darkmode == "yes" %}
<body class="body_dark_mode">
{% elif darkmode == "no" %}
<body>
{% endif %}
	<div class="main-container">
		<div class="sidebar" id="sidebar">
			<div class="sidebar-icon" id="sidebar-icon">
				<div class="leftsidebarc" id="lscimg"> <div class="lcontent">SIDEBAR</div></div>
				<div class="rightsidebarc" id="rscimg">
					<svg id="svg-filter-sidebar"width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScIconSVG-sc-1q25cff-1 dSicFr"><g><path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path></g></svg>
				</div>
			</div>
			<div class="traveling">
				<div class="traveling-inline-div" onclick="location.href='/'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Home</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a href="/" class="shcr"><object type="image/png" id="svg-filter-home" data="\static\image\svg\uicommon-home.svg" width="21" height="21"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" onclick="location.href='/calculator/index/'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Stats</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a href="/" class="shcr"><object type="image/png" data="\static\image\svg\stats.svg" width="21" height="21"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" onclick="location.href='/wiki/menu'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Wiki</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a class="shcr"><object type="image/png" data="\static\image\svg\altar-hero-entrance.svg" width="21" height="21"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" onclick="location.href='/wiki/item'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Item</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a class="shcr"><object type="image/png" data="\static\image\svg\icon_stuff.svg" width="21" height="21"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" onclick="location.href='/wiki/skill-list'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Skill</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a class="shcr"><object type="image/png" data="\static\image\svg\random-ability.svg" width="21" height="21"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" onclick="location.href='/wiki/runes'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Runes</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a class="shcr"><object type="image/png" data="\static\image\svg\runes.svg" width="21" height="21" style="cursor: pointer;"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" onclick="location.href='/wiki/archive'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Sheet</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a class="shcr"><object type="image/png" data="\static\image\svg\sheet.svg" width="21" height="21" style="cursor: pointer;"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" onclick="location.href='/wiki/maze'">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Maze</div>
					</div>
					<div class="rightsidebarc traveling-right">
						<a href="/" class="shcr"><object type="image/png" data="\static\image\svg\tower-entrance.svg" width="21" height="21" style="cursor: pointer;"></object></a>
					</div>
				</div>
				<div class="traveling-inline-div" id="switch_dark_mode">
					<div class="leftsidebarc traveling-left">
						<div class="shcl">Theme</div>
					</div>
					<div class="rightsidebarc traveling-right">
						{% if darkmode == "yes" %}<object data="\static\image\svg\moon.svg" type="image/png"  width="21" height="21" id="darkmodeSWITCH" style="cursor: pointer;"></object>{% elif darkmode == "no" %}<object data="\static\image\svg\sun.svg" type="image/png"  id="darkmodeSWITCH" width="21" height="21" style="cursor: pointer;"></object>{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="comming-soon"><p>COMMING SOON</p></div> -->
		<div class="container cmcath">
			<header class="header-container">
				<h2>{{ header_msg }}</h2>
			</header>
			<main class="main-description">
				<div class="search-bar" id="search-bar">
					<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for skill..">
					<ul id="myUL" style="display: none;">
						<li value="Bouncy Wall"><a href="skill-list?Search=Bouncy_Wall" id="toggle-display-list">Bouncy Wall<img class="img-dropdown-icon" src="/static/image/skill/bouncy_wall.png"></a></li>
						<li value="Diagonal Arrows"><a href="skill-list?Search=Diagonal_Arrows" id="toggle-display-list">Diagonal Arrows<img class="img-dropdown-icon" src="/static/image/skill/diagonal_arrows.png"></a></li>
						<li value="Front Arrow"><a href="skill-list?Search=Front_Arrow" id="toggle-display-list">Front Arrow<img class="img-dropdown-icon" src="/static/image/skill/front_arrow.png"></a></li>
						<li value="Multishot"><a href="skill-list?Search=Multishot" id="toggle-display-list">Multishot<img class="img-dropdown-icon" src="/static/image/skill/multishot.png"></a></li>
						<li value="Piercing Shot"><a href="skill-list?Search=Piercing_Shot" id="toggle-display-list">Piercing Shot<img class="img-dropdown-icon" src="/static/image/skill/piercing_shot.png"></a></li>
						<li value="Rear Arrow"><a href="skill-list?Search=Rear_Arrow" id="toggle-display-list">Rear Arrow<img class="img-dropdown-icon" src="/static/image/skill/rear_arrow.png"></a></li>
						<li value="Ricochet"><a href="skill-list?Search=Ricochet" id="toggle-display-list">Ricochet<img class="img-dropdown-icon" src="/static/image/skill/ricochet.png"></a></li>
						<li value="Side Arrow"><a href="skill-list?Search=Side_Arrow" id="toggle-display-list">Side Arrow<img class="img-dropdown-icon" src="/static/image/skill/side_arrow.png"></a></li>
						<li value="Explosive Arrow"><a href="skill-list?Search=Explosive_Arrow" id="toggle-display-list">Explosive Arrow<img class="img-dropdown-icon" src="/static/image/skill/explosive_arrow.png"></a></li>
						<li value="Price of Strength"><a href="skill-list?Search=Price_of_Strength" id="toggle-display-list">Price of Strength<img class="img-dropdown-icon" src="/static/image/skill/price_of_strength.png"></a></li>
						<li value="Element Burst"><a href="skill-list?Search=Element_Burst" id="toggle-display-list">Element Burst<img class="img-dropdown-icon" src="/static/image/skill/element_burst.png"></a></li>
						<li value="Element Upgrade"><a href="skill-list?Search=Element_Upgrade" id="toggle-display-list">Element Upgrade<img class="img-dropdown-icon" src="/static/image/skill/element_upgrade.png"></a></li>        
						<li value="Attack Boost"><a href="skill-list?Search=Attack_Boost" id="toggle-display-list">Attack Boost<img class="img-dropdown-icon" src="/static/image/skill/attack_boost.png"></a></li>
						<li value="Attack Speed Boost"><a href="skill-list?Search=Attack_Speed_Boost" id="toggle-display-list">Attack Speed Boost<img class="img-dropdown-icon" src="/static/image/skill/attack_speed_boost.png"></a></li>  
						<li value="Crit Master"><a href="skill-list?Search=Crit_Master" id="toggle-display-list">Crit Master<img class="img-dropdown-icon" src="/static/image/skill/crit_master.png"></a></li>
						<li value="HP Boost"><a href="skill-list?Search=HP_Boost" id="toggle-display-list">HP Boost<img class="img-dropdown-icon" src="/static/image/skill/hp_boost.png"></a></li>
						<li value="Headshot"><a href="skill-list?Search=Headshot" id="toggle-display-list">Headshot<img class="img-dropdown-icon" src="/static/image/skill/headshot.png"></a></li>
						<li value="Dwarf"><a href="skill-list?Search=Dwarf" id="toggle-display-list">Dwarf<img class="img-dropdown-icon" src="/static/image/skill/dwarf.png"></a></li>
						<li value="Giant"><a href="skill-list?Search=Giant" id="toggle-display-list">Giant<img class="img-dropdown-icon" src="/static/image/skill/giant.png"></a></li>
						<li value="Smart"><a href="skill-list?Search=Smart" id="toggle-display-list">Smart<img class="img-dropdown-icon" src="/static/image/skill/smart.png"></a></li>
						<li value="Strong Strong Heart"><a href="skill-list?Search=Strong_Strong_Heart" id="toggle-display-list">Strong Strong Heart<img class="img-dropdown-icon" src="/static/image/skill/strong_strong_heart.png"></a></li>
						<li value="Hermes Shoes"><a href="skill-list?Search=Hermes_Shoes" id="toggle-display-list">Hermes Shoes<img class="img-dropdown-icon" src="/static/image/skill/hermes_shoes.png"></a></li>
						<li value="Overdraft"><a href="skill-list?Search=Overdraft" id="toggle-display-list">Overdraft<img class="img-dropdown-icon" src="/static/image/skill/overdraft.png"></a></li>
						<li value="Inspire"><a href="skill-list?Search=Inspire" id="toggle-display-list">Inspire<img class="img-dropdown-icon" src="/static/image/skill/inspire.png"></a></li>
						<li value="Attack Plus"><a href="skill-list?Search=Attack_Plus" id="toggle-display-list">Attack Plus<img class="img-dropdown-icon" src="/static/image/skill/attack_plus.png"></a></li>
						<li value="Crit Plus"><a href="skill-list?Search=Crit_Plus" id="toggle-display-list">Crit Plus<img class="img-dropdown-icon" src="/static/image/skill/crit_plus.png"></a></li>
						<li value="HP Plus"><a href="skill-list?Search=HP_Plus" id="toggle-display-list">HP Plus<img class="img-dropdown-icon" src="/static/image/skill/hp_plus.png"></a></li>
						<li value="Speed Plus"><a href="skill-list?Search=Speed_Plus" id="toggle-display-list">Speed Plus<img class="img-dropdown-icon" src="/static/image/skill/speed_plus.png"></a></li>
						<li value="Crit Aura"><a href="skill-list?Search=Crit_Aura" id="toggle-display-list">Crit Aura<img class="img-dropdown-icon" src="/static/image/skill/crit_aura.png"></a></li>
						<li value="Bloodthirst Aura"><a href="skill-list?Search=Bloodthirst_Aura" id="toggle-display-list">Bloodthirst Aura<img class="img-dropdown-icon" src="/static/image/skill/bloodthirst_aura.png"></a></li>
						<li value="Speed Aura"><a href="skill-list?Search=Speed_Aura" id="toggle-display-list">Speed Aura<img class="img-dropdown-icon" src="/static/image/skill/speed_aura.png"></a></li>
						<li value="Dodge Aura"><a href="skill-list?Search=Dodge_Aura" id="toggle-display-list">Dodge Aura<img class="img-dropdown-icon" src="/static/image/skill/dodge_aura.png"></a></li>
						<li value="Dodge Challenge"><a href="skill-list?Search=Dodge_Challenge" id="toggle-display-list">Dodge Challenge<img class="img-dropdown-icon" src="/static/image/skill/dodge_challenge.png"></a></li>
						<li value="Dodge Burst"><a href="skill-list?Search=Dodge_Burst" id="toggle-display-list">Dodge Burst<img class="img-dropdown-icon" src="/static/image/skill/dodge_burst.png"></a></li>
						<li value="Agility"><a href="skill-list?Search=Agility" id="toggle-display-list">Agility<img class="img-dropdown-icon" src="/static/image/skill/agility.png"></a></li>
						<li value="Fatal Excitement"><a href="skill-list?Search=Fatal_Excitement" id="toggle-display-list">Fatal Excitement<img class="img-dropdown-icon" src="/static/image/skill/fatal_excitement.png"></a></li>
						<li value="Fury"><a href="skill-list?Search=Fury" id="toggle-display-list">Fury<img class="img-dropdown-icon" src="/static/image/skill/fury.png"></a></li>
						<li value="Grace"><a href="skill-list?Search=Grace" id="toggle-display-list">Grace<img class="img-dropdown-icon" src="/static/image/skill/grace.png"></a></li>
						<li value="Rage"><a href="skill-list?Search=Rage" id="toggle-display-list">Rage<img class="img-dropdown-icon" src="/static/image/skill/rage.png"></a></li>
						<li value="Bloodthirst"><a href="skill-list?Search=Bloodthirst" id="toggle-display-list">Bloodthirst<img class="img-dropdown-icon" src="/static/image/skill/bloodthirst.png"></a></li>
						<li value="Heal"><a href="skill-list?Search=Heal" id="toggle-display-list">Heal<img class="img-dropdown-icon" src="/static/image/skill/heal.png"></a></li>
						<li value="Strong Heart"><a href="skill-list?Search=Strong_Heart" id="toggle-display-list">Strong Heart<img class="img-dropdown-icon" src="/static/image/skill/strong_heart.png"></a></li>
						<li value="Heal Overflow"><a href="skill-list?Search=Heal_Overflow" id="toggle-display-list">Heal Overflow<img class="img-dropdown-icon" src="/static/image/skill/heal_overflow.png"></a></li>
						<li value="Angelic Blessing"><a href="skill-list?Search=Angelic_Blessing" id="toggle-display-list">Angelic Blessing<img class="img-dropdown-icon" src="/static/image/skill/angelic_blessing.png"></a></li>
						<li value="Dodge Master"><a href="skill-list?Search=Dodge_Master" id="toggle-display-list">Dodge Master<img class="img-dropdown-icon" src="/static/image/skill/dodge_master.png"></a></li>
						<li value="Invincibility Star"><a href="skill-list?Search=Invincibility_Star" id="toggle-display-list">Invincibility Star<img class="img-dropdown-icon" src="/static/image/skill/invincibility_star.png"></a></li>
						<li value="Shield Guard"><a href="skill-list?Search=Shield_Guard" id="toggle-display-list">Shield Guard<img class="img-dropdown-icon" src="/static/image/skill/shield_guard.png"></a></li>
						<li value="Slow Projectile"><a href="skill-list?Search=Slow_Projectile" id="toggle-display-list">Slow Projectile<img class="img-dropdown-icon" src="/static/image/skill/slow_projectile.png"></a></li>
						<li value="Chilling Blast"><a href="skill-list?Search=Chilling_Blast" id="toggle-display-list">Chilling Blast<img class="img-dropdown-icon" src="/static/image/skill/chilling_blast.png"></a></li>
						<li value="Death Nova"><a href="skill-list?Search=Death_Nova" id="toggle-display-list">Death Nova<img class="img-dropdown-icon" src="/static/image/skill/death_nova.png"></a></li>
						<li value="Death Bomb"><a href="skill-list?Search=Death_Bomb" id="toggle-display-list">Death Bomb<img class="img-dropdown-icon" src="/static/image/skill/death_bomb.png"></a></li>
						<li value="Holy Touch"><a href="skill-list?Search=Holy_Touch" id="toggle-display-list">Holy Touch<img class="img-dropdown-icon" src="/static/image/skill/holy_touch.png"></a></li>
						<li value="Blaze"><a href="skill-list?Search=Blaze" id="toggle-display-list">Blaze<img class="img-dropdown-icon" src="/static/image/skill/blaze.png"></a></li>
						<li value="Fire Circle"><a href="skill-list?Search=Fire_Circle" id="toggle-display-list">Fire Circle<img class="img-dropdown-icon" src="/static/image/skill/fire_circle.png"></a></li>
						<li value="Blazing Sword"><a href="skill-list?Search=Blazing_Sword" id="toggle-display-list">Blazing Sword<img class="img-dropdown-icon" src="/static/image/skill/blazing_sword.png"></a></li>
						<li value="Blazing Strike"><a href="skill-list?Search=Blazing_Strike" id="toggle-display-list">Blazing Strike<img class="img-dropdown-icon" src="/static/image/skill/blazing_strike.png"></a></li>
						<li value="Blazing Meteor"><a href="skill-list?Search=Blazing_Meteor" id="toggle-display-list">Blazing Meteor<img class="img-dropdown-icon" src="/static/image/skill/blazing_meteor.png"></a></li>
						<li value="Blazing Star"><a href="skill-list?Search=Blazing_Star" id="toggle-display-list">Blazing Star<img class="img-dropdown-icon" src="/static/image/skill/blazing_star.png"></a></li>
						<li value="Dark Touch"><a href="skill-list?Search=Dark_Touch" id="toggle-display-list">Dark Touch<img class="img-dropdown-icon" src="/static/image/skill/dark_touch.png"></a></li>
						<li value="Obsidian Circle"><a href="skill-list?Search=Obsidian_Circle" id="toggle-display-list">Obsidian Circle<img class="img-dropdown-icon" src="/static/image/skill/obsidian_circle.png"></a></li>
						<li value="Bolt"><a href="skill-list?Search=Bolt" id="toggle-display-list">Bolt<img class="img-dropdown-icon" src="/static/image/skill/bolt.png"></a></li>
						<li value="Bolt Circle"><a href="skill-list?Search=Bolt_Circle" id="toggle-display-list">Bolt Circle<img class="img-dropdown-icon" src="/static/image/skill/bolt_circle.png"></a></li>
						<li value="Bolt Sword"><a href="skill-list?Search=Bolt_Sword" id="toggle-display-list">Bolt Sword<img class="img-dropdown-icon" src="/static/image/skill/bolt_sword.png"></a></li>
						<li value="Bolt Strike"><a href="skill-list?Search=Bolt_Strike" id="toggle-display-list">Bolt Strike<img class="img-dropdown-icon" src="/static/image/skill/bolt_strike.png"></a></li>
						<li value="Bolt Meteor"><a href="skill-list?Search=Bolt_Meteor" id="toggle-display-list">Bolt Meteor<img class="img-dropdown-icon" src="/static/image/skill/bolt_meteor.png"></a></li>
						<li value="Bolt Star"><a href="skill-list?Search=Bolt_Star" id="toggle-display-list">Bolt Star<img class="img-dropdown-icon" src="/static/image/skill/bolt_star.png"></a></li>
						<li value="Freeze"><a href="skill-list?Search=Freeze" id="toggle-display-list">Freeze<img class="img-dropdown-icon" src="/static/image/skill/freeze.png"></a></li>
						<li value="Ice Circle"><a href="skill-list?Search=Ice_Circle" id="toggle-display-list">Ice Circle<img class="img-dropdown-icon" src="/static/image/skill/ice_circle.png"></a></li>
						<li value="Frost Sword"><a href="skill-list?Search=Frost_Sword" id="toggle-display-list">Frost Sword<img class="img-dropdown-icon" src="/static/image/skill/frost_sword.png"></a></li>
						<li value="Frost Strike"><a href="skill-list?Search=Frost_Strike" id="toggle-display-list">Frost Strike<img class="img-dropdown-icon" src="/static/image/skill/frost_strike.png"></a></li>
						<li value="Frost Meteor"><a href="skill-list?Search=Frost_Meteor" id="toggle-display-list">Frost Meteor<img class="img-dropdown-icon" src="/static/image/skill/frost_meteor.png"></a></li>
						<li value="Frost Star"><a href="skill-list?Search=Frost_Star" id="toggle-display-list">Frost Star<img class="img-dropdown-icon" src="/static/image/skill/frost_star.png"></a></li>
						<li value="Poisoned Touch"><a href="skill-list?Search=Poisoned_Touch" id="toggle-display-list">Poisoned Touch<img class="img-dropdown-icon" src="/static/image/skill/poisoned_touch.png"></a></li>
						<li value="Poison Circle"><a href="skill-list?Search=Poison_Circle" id="toggle-display-list">Poison Circle<img class="img-dropdown-icon" src="/static/image/skill/poison_circle.png"></a></li>
						<li value="Toxic Sword"><a href="skill-list?Search=Toxic_Sword" id="toggle-display-list">Toxic Sword<img class="img-dropdown-icon" src="/static/image/skill/toxic_sword.png"></a></li>
						<li value="Toxic Strike"><a href="skill-list?Search=Toxic_Strike" id="toggle-display-list">Toxic Strike<img class="img-dropdown-icon" src="/static/image/skill/toxic_strike.png"></a></li>
						<li value="Toxic Meteor"><a href="skill-list?Search=Toxic_Meteor" id="toggle-display-list">Toxic Meteor<img class="img-dropdown-icon" src="/static/image/skill/toxic_meteor.png"></a></li>
						<li value="Toxic Star"><a href="skill-list?Search=Toxic_Star" id="toggle-display-list">Toxic Star<img class="img-dropdown-icon" src="/static/image/skill/toxic_star.png"></a></li>
						<li value="Spirit - Multishot"><a href="skill-list?Search=Spirit_-_Multishot" id="toggle-display-list">Spirit - Multishot<img class="img-dropdown-icon" src="/static/image/skill/spirit_multishot.png"></a></li>
						<li value="Spirit - Front Arrow"><a href="skill-list?Search=Spirit_-_Front_Arrow" id="toggle-display-list">Spirit - Front Arrow<img class="img-dropdown-icon" src="/static/image/skill/spirit_front_arrow.png"></a></li>
						<li value="Spirit - Bolt"><a href="skill-list?Search=Spirit_-_Bolt" id="toggle-display-list">Spirit - Bolt<img class="img-dropdown-icon" src="/static/image/skill/spirit_bolt.png"></a></li>
						<li value="Spirit - Blaze"><a href="skill-list?Search=Spirit_-_Blaze" id="toggle-display-list">Spirit - Blaze<img class="img-dropdown-icon" src="/static/image/skill/spirit_blaze.png"></a></li>
						<li value="Spirit - Freeze"><a href="skill-list?Search=Spirit_-_Freeze" id="toggle-display-list">Spirit - Freeze<img class="img-dropdown-icon" src="/static/image/skill/spirit_freeze.png"></a></li>
						<li value="Spirit - Poisoned Touch"><a href="skill-list?Search=Spirit_-_Poisoned_Touch" id="toggle-display-list">Spirit - Poisoned Touch<img class="img-dropdown-icon" src="/static/image/skill/spirit_poisoned_touch.png"></a></li>
						<li value="Wingman"><a href="skill-list?Search=Wingman" id="toggle-display-list">Wingman<img class="img-dropdown-icon" src="/static/image/skill/wingman.png"></a></li>
						<li value="Phantom Sword"><a href="skill-list?Search=Phantom_Sword" id="toggle-display-list">Phantom Sword<img class="img-dropdown-icon" src="/static/image/skill/phantom_sword.png"></a></li>
						<li value="Shadow Samurai"><a href="skill-list?Search=Shadow_Samurai" id="toggle-display-list">Shadow Samurai<img class="img-dropdown-icon" src="/static/image/skill/shadow_samurai.png"></a></li>
						<li value="Berserker"><a href="skill-list?Search=Berserker" id="toggle-display-list">Berserker<img class="img-dropdown-icon" src="/static/image/skill/berserker.png"></a></li>
						<li value="Blade Storm"><a href="skill-list?Search=Blade_Storm" id="toggle-display-list">Blade Storm<img class="img-dropdown-icon" src="/static/image/skill/blade_storm.png"></a></li>
						<li value="Red-Hearted Grace"><a href="skill-list?Search=Red-Hearted_Grace" id="toggle-display-list">Red-Hearted Grace<img class="img-dropdown-icon" src="/static/image/skill/red-hearted_grace.png"></a></li>
						<li value="Dauntless Greatsword"><a href="skill-list?Search=Dauntless_Greatsword" id="toggle-display-list">Dauntless Greatsword<img class="img-dropdown-icon" src="/static/image/skill/dauntless_greatsword.png"></a></li>
						<li value="Furious"><a href="skill-list?Search=Furious" id="toggle-display-list">Furious<img class="img-dropdown-icon" src="/static/image/skill/furious.png"></a></li>
						<li value="Summon One-Eyed Bat"><a href="skill-list?Search=Summon_One-Eyed_Bat" id="toggle-display-list">Summon One-Eyed Bat<img class="img-dropdown-icon" src="/static/image/skill/summon_one_eyed_bat.png"></a></li>
						<li value="Shadow Clone"><a href="skill-list?Search=Shadow_Clone" id="toggle-display-list">Shadow Clone<img class="img-dropdown-icon" src="/static/image/skill/shadow_clone.png"></a></li>
						<li value="Summon Bone Warrior"><a href="skill-list?Search=Summon_Warrior" id="toggle-display-list">Summon Bone Warrior<img class="img-dropdown-icon" src="/static/image/skill/summon_bone_warrior.png"></a></li>
						<li value="Summon wolfhound"><a href="skill-list?Search=Summon_wolfhound" id="toggle-display-list">Summon wolfhound<img class="img-dropdown-icon" src="/static/image/skill/summon_wolfhound.png"></a></li>
						<li value="Enhanced Summon"><a href="skill-list?Search=Enhanced_Summon" id="toggle-display-list">Enhanced Summon<img class="img-dropdown-icon" src="/static/image/skill/enhanced_summon.png"></a></li>
						<li value="Inherited Summon"><a href="skill-list?Search=Inherited_Summon" id="toggle-display-list">Inherited Summon<img class="img-dropdown-icon" src="/static/image/skill/inherited_summon.png"></a></li>
						<li value="Extra Life"><a href="skill-list?Search=Extra_Life" id="toggle-display-list">Extra Life<img class="img-dropdown-icon" src="/static/image/skill/extra_life.png"></a></li>
						<li value="Through the Wall"><a href="skill-list?Search=Through_the_Wall" id="toggle-display-list">Through the Wall<img class="img-dropdown-icon" src="/static/image/skill/through_the_wall.png"></a></li>
						<li value="Water Walker"><a href="skill-list?Search=Water_Walker" id="toggle-display-list">Water Walker<img class="img-dropdown-icon" src="/static/image/skill/water_walker.png"></a></li>
						<li value="Fury Command"><a href="skill-list?Search=Fury_Command" id="toggle-display-list">Fury Command<img class="img-dropdown-icon" src="/static/image/skill/fury_command.png"></a></li>
						<li value="Heroic Fightback"><a href="skill-list?Search=Heroic_Fightback" id="toggle-display-list">Heroic Fightback<img class="img-dropdown-icon" src="/static/image/skill/heroic_fightback.png"></a></li>
						<li value="Greed"><a href="skill-list?Search=Greed" id="toggle-display-list">Greed<img class="img-dropdown-icon" src="/static/image/skill/greed.png"></a></li>
					</ul>
				</div>
				<div class="embed-container">
					<div class="kn3fae-0 ezpxFx">
						<div class="sgp62q-0 iuJdTu">
							<img src="/static/image/wiki-image/sylvanpfp3.png" alt="User avatar" class="sgp62q-1 dLWNvE">
							<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
							<span class="sgp62q-3 cTBPsI">BOT</span>
							<span class="sc-1idsap7-0 dyOqmJ" id="date"></span>
						</div>
						<div class="kn3fae-2 eKjosW">
							<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
								<div class="sc-3qrykn-0 bdFBtt">
									<span class="sc-3qrykn-1 bsDYtY">
										<div class="sc-27l7o2-0 heOpKb" id="name_skill">Bouncy Wall</div>
									</span>
									<div class="sc-3qrykn-3 hXMbfy">
										<div class="sc-27l7o2-0 heOpKb" id="skill_description">Your arrows bounce up to 2 times against walls.</div>
									</div>
									<div class="sc-3qrykn-4 hQKgZF">
										<div class="rgqgux-0 dQAxvm">
											<div class="rgqgux-1 dHYyKL">
												<div class="sc-27l7o2-0 heOpKb" style="color: white;">
													<strong>Stats</strong>
												</div>
											</div>
											<div class="rgqgux-2 jFcAhO">
												<div class="sc-27l7o2-0 heOpKb">
													<div id="skill_base">-50% damage after the first bounce</div>
												</div>
											</div>
										</div>
									</div>
									<div class="sc-3qrykn-6 fTOqMH">
										<img src="/static/image/skill/bouncy_wall.png" alt="Thumbnail" class="sc-3qrykn-7 skill_image" id="skill_image">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<footer class="f-skill-desc">
		<div class="footer-content">
			<div class="footer-about">
				<img class="footer-img-icon" src="/static/image/archero_icon.png">
				<div class="about-content">
					<h2>Archero :</h2>
					<div>Archero Update will be added with a certains delay</div>
					<div class="contact-me">
						<div>If you encounter any bugs / anomaly please contact me on discord</div>
						<div><b><a class="me-discord-link" href="https://discord.com/users/382930544385851392" target="_blank"><i class="fa-brands fa-discord"></i> LuhCaran#9802</a></b></div>
					</div>
				</div>
			</div>
			<div class="discord_link">
				<h2>Discord Server:</h2> 
				<a href="https://discord.gg/d7w6FxhHjj" target="_blank"><li> LeMuthique's Server</li></a>
				<a href="https://discord.gg/eAqZquTF6X" target="_blank"><li> TigerShark's Server</li></a>
				<a href="https://discord.gg/cyjJ8jRrJT" target="_blank"><li> iPickMyBUTT's Server</li></a>
				<a href="https://discord.gg/dMTxzRTeXA" target="_blank"><li> adaYTgaming's Server</li></a>
			</div>
			<div class="thanks">
				<h2>Shout-out :</h2>
				<div class="shout-out">SonHaon#1631, Ktaplouf#0507</div>
				<div class="shout-out">Pew#6775, Deth#7087, Tigershark14#8188</div>
				<div class="shout-out">Everyone who helped me getting data</div>
			</div>
		</div>
	</footer>
</body>
<script>
	var mainDescription = document.getElementsByClassName('main-description')
	var switchModeBtn = document.getElementById('switch_dark_mode');
	var sidebarBtn = document.getElementById('sidebar-icon');
	var sidebar = document.getElementById("sidebar")
	var body = document.body;
	var search_bar = document.getElementById('search-bar');
	var ul_li = document.getElementById('myUL');
	var skill_li_a = document.querySelectorAll("#toggle-display-list");
	var myInput = document.getElementById('myInput')
	var name_skill = document.getElementById('name_skill');
	var skill_description = document.getElementById('skill_description');
	var skill_image = document.getElementById('skill_image');
	var skill_base = document.getElementById('skill_base');

	n =  new Date();
	y = n.getFullYear();
	m = n.getMonth() + 1;
	d = n.getDate();

	sidebarBtn.addEventListener('click', function toggleSideBarClass(){
		sidebar.classList.toggle('sidebar-active')
	})

	switchModeBtn.addEventListener('click', function toggleClassDarkMode(){
		body.classList.toggle("body_dark_mode");
		if(body.className == "body_dark_mode"){
			document.cookie = "modeDisplay=True" + "; path=/";
		}else{
			document.cookie = 'modeDisplay=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		}
	})
	
	document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

	search_bar.addEventListener('click', function(){
		var myInput = document.getElementById('myInput')
		if(ul_li.style.display == "none"){
			ul_li.style.display = "block"
			myInput.value = ""
		}else if(ul_li.style.display !== "none"){
			ul_li.style.display = "none"
		}
	})

	function myFunction() {
		var input, filter, ul, li, a, i, txtValue;
		input = document.getElementById('myInput');
		filter = input.value.toUpperCase();
		ul = document.getElementById("myUL");
		li = ul.getElementsByTagName('li');

		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			txtValue = a.textContent || a.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
	}

	skill_li_a.forEach(
		function(e){
			e.addEventListener("click", function(){
				// ul_li.style.display = "none";
				skill = e.textContent;
				var image_skill = "/static/image/skill/" + skill.toLowerCase().replaceAll(' - ', '_').replaceAll(' ', '_').replace('one-eyed', 'one_eyed') + ".png"
				myInput.value = skill
				name_skill.innerHTML = skill
				skill_description.innerHTML = mydict[skill]['description']
				skill_image.src = image_skill
				skill_base.innerHTML = mydict[skill]['stats']
			})	
		})
</script>
<script>
	mydict = {
		"Agility" :{
			"description": "Your Dodge chance increase the lower your HP is",       
			"stats": "+0.3% chance to dodge each 1% of life missing. (Additive)"
		},

		"Attack Boost" :{
			"description": "Increase your damage",
			"stats": "[Major] Damage + 30%<br>[Minor] Damage + 15%<br>Additive"
		},

		"Attack Plus" :{
			"description": "Increases your attack when you don't take damage in a stage",
			"stats": "Increases your attack by 2.25% when you don't take damage in a room.<br> 18 times max [40%]"
		},

		"Attack Speed Boost" :{
			"description": "Increase your attack speed",
			"stats": "<br>"
		},

		"Angelic Blessing" :{
			"description": "Angel room has chance to heal 2x 4x HP",
			"stats": "<br>"
		},

		"Berserker" :{
			"description": "Increases Max Fury by 50%",
			"stats": "Increases Max Fury by 50%. Fury charges faster at low HP. Upon taking damage, Fury charges by a lot."
		},

		"Blade Storm" :{
			"description": "Whirldwind storm of blades that blocks projectiles.",
			"stats": "<br>"
		},

		"Blaze" :{
			"description": "Your attacks cause a Flame effect",
			"stats": "Deals 18% equipment damage every 0.25s to enemies hit by weapon projectile after initial hit up to 7 ticks (2s)"
		},

		"Blazing Meteor" :{
			"description": "Summon a flame meteor to attack enemies",
			"stats": "Burn chips off enemy HP for 2 seconds.<br>  225% modifiable damage, Partial hit: 80% damage.<br> Unlocks in Chapter 9. <br>Not affected by Rage ability."
		},

		"Blazing Star" :{
			"description": "Summon a flame star to attack enemies",
			"stats": "Burn chips off enemy HP for 2 seconds.<br>  90% modifiable damage. <br>Not affected by Rage ability.<br>Stars are affected by ricochet and will bounce between enemies just like ricochet."
		},

		"Blazing Strike" :{
			"description": "Summon a flame sword to attack enemies",
			"stats": "Burn chips off enemy HP for 2 seconds.<br>  165% modifiable damage.<br>Not affected by Rage ability.<br>  The faster the attack speed, the shorter the summoning time."
		},

		"Blazing Sword" :{
			"description": "Summons 2 flame swords to spin around you",
			"stats": "Burn chips off enemy HP for 2 seconds.<br>132% modifiable damage.<br>Unlocks in Chapter 2.<br><b>Notes</b><br>Spins much faster after receiving attack speed boosts."
		},

		"Bloodthirst" :{
			"description": "Restores HP when you kill enemies!",
			"stats": "Gain 1.5% of base Max HP on enemy kills."
		},

		"Bolt" :{
			"description": "Your attacks cause Lightning effect",
			"stats": "Deal 25% equipment damage to enemies within a few tiles of enemies hit by weapon projectile.<br> Deals 30% (Up to 45%) damage to the initial target, with an additional 5% damage per enemy chained by the lightning bolt.<br>Works well with Ricochet<br>Maximum of one spark per enemy per tick.<br> i.e. doesn't hit twice with Front Arrow or extremely high attack speed."
		},

		"Bolt Circle" :{
			"description": "Two lightning orbs circle around you",
			"stats": "The shocks from the lightning bolts quickly chips off enemy HP, and bounces to other nearby enemies.<br>  Deals 85% modifiable damage.<br>Proportional to damage of a single projectile.<br>  Affected by rage.<br>  Spins faster with attack speed boosts."
		},

		"Bolt Meteor" :{
			"description": "Summon a bolt meteor to attack enemies",
			"stats": "The shocks from the lightning bolts quickly chips off enemy HP, and bounces to other nearby enemies.<br>  225% modifiable damage, Partial hit: 80% damage.<br>  Unlocks in Chapter 9.<br>Not affected by Rage ability."
		},

		"Bolt Star" :{
			"description": "Summon a bolt star to attack enemies",
			"stats": "The shocks from the lightning bolts quickly chips off enemy HP, and bounces to other nearby enemies.<br>  90% modifiable damage.<br>Not affected by Rage ability.<br>  Stars are affected by ricochet and will bounce between enemies just like ricochet."
		},

		"Bolt Strike" :{
			"description": "Summon a bolt sword to attack enemies",
			"stats": "The shocks from the lightning bolts quickly chips off enemy HP, and bounces to other nearby enemies.<br>  165% modifiable damage.<br>Not affected by Rage ability.<br>  The faster the attack speed, the shorter the summoning time."
		},

		"Bolt Sword" :{
			"description": "Summons 2 bolt swords to spin around you",
			"stats": "The shocks from the lightning bolts quickly chips off enemy HP, and bounces to other nearby enemies.<br>132% modifiable damage.<br>Unlocks in Chapter 2.<br><b>Notes</b><br>Spins much faster after receiving attack speed boosts."
		},

		"Bouncy Wall" :{
			"description": "Your arrows bounce up to 2 times against walls.",
			"stats": "-50% damage after the first bounce"
		},

		"Chilling Blast" :{
			"description": "Enemies blast a cold wave on death",
			"stats": "Enemies explode on death causing an explosive ice effect.<br>  Unlocks in Chapter 3."
		},

		"Crit Aura" :{
			"description": "Increases Crit Chance for a short time",
			"stats": "Increases your crit chance by 47.5% for 2 seconds.<br> 8 second cooldown"
		},

		"Crit Master" :{
			"description": "Increase your critical damage & chance",
			"stats": "[Major] Crit Damage + 40% & Crit chance + 10%<br>[Minor] Crit Damage + 20% & Crit chance + 5%<br>Additive"
		},

		"Crit Plus" :{
			"description": "Increases your crit chance when you don't take damage in a stage",
			"stats": "Increases your crit chance by 1.3% when you don't take damage in a room.<br> 17 times max [22%]"
		},

		"Dauntless Greatsword" :{
			"description": "Reduced greatsword rage cost. Forms can be freely changed.",
			"stats": "<br>"
		},

		"Dark Touch" :{
			"description": "Your attacks cause a Dark effect",
			"stats": "Dark touch places a bomb on a struck target for 1 second, the explosion deals 90% of modified damage from ATK boosts in an area of effect around the targeted mob.<br>Base damage does not affect damage.<br> Multiple darks will not stack on an enemy."
		},

		"Death Bomb" :{
			"description": "Cause enemies to explode on death",
			"stats": "Enemies explode on death causing an area of effect damage (2/3 of base damage).<br>  Unlocks in Chapter 3."
		},

		"Death Nova" :{
			"description": "Enemies explode into lightning bolts upon death",
			"stats": "When an enemy is killed, enemies create holy projectiles, shooting out in 8 equidistant directions dealing 30% current damage on contact."
		},

		"Diagonal Arrows" :{
			"description": "Fire 2 additional projectile diagonally.",
			"stats": "You fire an additional projectile diagonally forward to the left and right<br>Deal 100% of damage per projectile"
		},

		"Dodge Aura" :{
			"description": "Greatly increases Dodge once in a while.",
			"stats": "<br>"
		},

		"Dodge Burst" :{
			"description": "Greatly increases Attack once in a while after dodging.",
			"stats": "<br>"
		},

		"Dodge Challenge" :{
			"description": "Increases Dodge if no damage taken when clearing a room.",
			"stats": "<br>"
		},

		"Dodge Master" :{
			"description": "Your Dodge Chance is increased",
			"stats": "Dodge Chance +20%<br>  Dodge is multiplicative when combining dodge from different items and abilities"
		},

		"Dwarf" :{
			"description": "Transform into a dwarf with a smaller body",
			"stats": "Reduces your hitbox by 15%.<br>Crit Chance + 10%.<br>Defeat Chapter 10"
		},

		"Enhanced Summon" :{
			"description": "Greatly increases summoned creature duration and attack",
			"stats": "<br>"
		},

		"Element Burst" :{
			"description": "Various elemental stats, elemental damage has chance for Crit.",
			"stats": "<em>Elemental damage crit chance/damage TBC</em>"
		},

		"Element Upgrade" :{
			"description": "Elemental damage increased greatly.",
			"stats": "     Freeze Damage +100%<br>     Bolt Damage +150%<br>     Poison Damage +250%<br>     Blaze Damage +100%<br>     Dark Touch Damage +100%"
		},

		"Explosive Arrow" :{
			"description": "Store explosive arrow when moving.<br> Explodes when enemies or walls are hit",
			"stats": "<br>"
		},

		"Extra Life" :{
			"description": "Provides you an automatic free revival after death",
			"stats": "Revives you once after death.<br>  Reduces your Max HP by 30% (Devil Tax).<br>  Can only be recieved by the devil<br>  There is no invincibility when reviving from the extra life', Does not use up your revive.<br> When you exclude reviving, Extra Life provides you with 40% more HP overall. However if you choose to revive, Extra Life only provides you with a 5% increase overall in HP compared to if you didn't accept the deal from the Devil"
		},

		"Fatal Excitement" :{
			"description": "The lower your HP, the faster circling objects spin",
			"stats": "<br>"
		},

		"Fire Circle" :{
			"description": "Two flame orbs circle around you",
			"stats": "Burn chips off enemy HP for 2 seconds.<br> Deals 85% modifiable damage.<br>Proportional to damage of a single projectile.<br> Affected by rage.<br> Spins faster with attack speed boosts."
		},

		"Freeze" :{
			"description": "Slows enemies down",
			"stats": "Freezes enemies until attacked or for 2 seconds.<br> Only freezes enemies; does not slow enemies. Mobs will be unfrozen by next hit, including pets hits. Freeze changes the behavior of mobs"
		},

		"Front Arrow" :{
			"description": "Shoot 2 arrows in one shot.",
			"stats": "  Additional Front Arrow.<br>  -25% damage per arrow<br><br><b>Devil Stats</b><br>  Additional Front Arrow.<br>  -20% damage per arrow"
		},

		"Frost Meteor" :{
			"description": "Summon a frost meteor to attack enemies",
			"stats": "Freeze or slows enemies for 2 seconds.<br>  225% modifiable damage, Partial hit: 80% damage.<br>  Unlocks in Chapter 9.<br>Not affected by Rage ability."
		},

		"Frost Star" :{
			"description": "Summon a frost star to attack enemies",
			"stats": "Freeze or slows enemies for 2 seconds.<br>  90% modifiable damage.<br>Not affected by Rage ability.<br>  Stars are affected by ricochet and will bounce between enemies just like ricochet."
		},

		"Frost Strike" :{
			"description": "Summon a frost sword to attack enemies",
			"stats": "Freeze or slows enemies for 2 seconds.<br>  165% modifiable damage.<br>Not affected by Rage ability.<br>  The faster the attack speed, the shorter the summoning time."
		},

		"Frost Sword" :{
			"description": "Summons 2 frost swords to spin around you",
			"stats": "Freeze or slows enemies for 2 seconds.<br>132% modifiable damage.<br>Unlocks in Chapter 2.<br><b>Notes</b><br>Spins much faster after receiving attack speed boosts."
		},

		"Furious" :{
			"description": "When wielding the Broadsword, it deals more damage at higher Fury.",
			"stats": "<br>"
		},

		"Fury" :{
			"description": "Your Attack Speed increase the lower your HP is",
			"stats": "+0.4% Attack Speed per 1% of life missing. (Additive)"
		},

		"Fury Command" :{
			"description": "Spirits enters a fury state within 5s of entering a room",
			"stats": "<br>"
		},

		"Giant" :{
			"description": "Transform into a giant with increased damage",
			"stats": "Increases your hitbox by 10%.<br>  Attack + 40%<br>  Max HP + 5%<br>  Unlocks in Chapter 11"
		},

		"Grace" :{
			"description": "Heal from red heart increase the lower your HP is",
			"stats": "+0.6% of heal for red heart each 1% of life missing. (Additive)"
		},

		"Greed" :{
			"description": "Collect more coins, but also receive more damage",
			"stats": "Coin drop chance +25%<br>  Enemy damage +20%"
		},

		"Headshot" :{
			"description": "Small chance to kill mobs instantly",
			"stats": "12% chance to kill mobs instantly<br>  Ricochet, pierce, and spirit shots can trigger the effect."
		},

		"Heal" :{
			"description": "Restores HP partially",
			"stats": "Restores 40% of your HP<br><b>Notes</b><br>Can only be recieved via an Angel and lucky wheel"
		},

		"Hermes Shoes" :{
			"description": "Increases movement speed and some dodge rate.",
			"stats": "Movement Speed +12%<br>Dodge Chance +15%"
		},

		"Heal Overflow" :{
			"description": "Excess healing increases Max HP",
			"stats": "<br>"
		},

		"Heroic Fightback" :{
			"description": "Once the hero falls, huge amounts of damage is dealt to all enemies",
			"stats": "<br>"
		},

		"Holy Touch" :{
			"description": "Your attacks cause Holy effect",
			"stats": "All arrows that hit an enemy create two perpendicular holy projectiles that deals 70% of your modified projectile damage each.<br>Piercing."
		},

		"HP Boost" :{
			"description": "Max HP increased!",
			"stats": "Increases HP by 20% of base max HP"
		},

		"Bloodthirst Aura" :{
			"description": "Increases Attack Speed for a short time",
			"stats": "Bloodthirst Aura increases health once in a while"
		},

		"HP Plus" :{
			"description": "Increases your Max HP when you don't take damage in a stage",
			"stats": "Increases your max HP by 2.2% when you don't take damage in a room.<br> 14 times max [30%]"
		},

		"Ice Circle" :{
			"description": "Two ice orbs circle around you",
			"stats": "Freeze or slows enemies for 2 seconds.<br> Deals 85% modifiable damage.<br>Proportional to damage of a single projectile.<br>  Affected by rage.<br>  Spins faster with attack speed boosts."
		},

		"Inherited Summon" :{
			"description": "Summon creature inherits portion of own stats",
			"stats": "<br>"
		},

		"Inspire" :{
			"description": "Increases attack speed and effect is doubled once enemy is killed.",
			"stats": "Attack Speed +25% (Effect doubled when enemy killed)"
		},

		"Invincibility Star" :{
			"description": "Become invincible for 2 seconds once a while",
			"stats": "Become invincible for 2 seconds every 10 seconds (1/6th of total time)"
		},

		"Multishot" :{
			"description": "Shoot 2 consecutive arrows in a row.",
			"stats": "-10% damage per arrow<br>-15% attack speed<br><br><b>Devil Stats</b><br>-10% damage per arrow<br>-10% attack speed"
		},

		"Obsidian Circle" :{
			"description": "Two dark orbs circle around you",
			"stats": "Deals 85% modifiable damage.<br>Proportional to damage of a single projectile.<br>  Affected by rage.<br>  Spins faster with attack speed boosts."
		},

		"Overdraft" :{
			"description": "Massive boost to attack speed, but gain experience slower.",
			"stats": "Attack Speed +45%<br> XP gain -20%."
		},

		"Phantom Sword" :{
			"description": "Melee attacks will split the sword into two",
			"stats": "<br>"
		},

		"Piercing Shot" :{
			"description": "Your arrows pierce enemies.",
			"stats": "-33% damage after each enemy pierced"
		},

		"Poison Circle" :{
			"description": "Two poisonous orbs circle around you",
			"stats": "Poison slowly chips off enemy HP till it dies<br>  Deals 90% modifiable damage.<br>Proportional to damage of a single projectile.<br>  Affected by rage.<br>  Spins faster with attack speed boosts."
		},

		"Poisoned Touch" :{
			"description": "Your attacks cause Poison effect",
			"stats": "Poison deals 30% equipment damage per sec utill mob dies.<br>Works well with Ricochet.<br> Does not stack."
		},

		"Price of Strength" :{
			"description": "Get greatly enhanced when entering a room.<br>Weakened for a time when durations ends",
			"stats": "<br>"
		},

		"Rage" :{
			"description": "Your Attack Speed increase the lower your HP is",
			"stats": "+1% Damage each 1% of life missing. (Additive)<br>At 20% of your HP you'll have +80% damage (multiplicative with the other abilities)"
		},

		"Red-Hearted Grace" :{
			"description": "Chance for enemies to drop a heart when they are hit.",
			"stats": "<br>"
		},

		"Rear Arrow" :{
			"description": "Fire 1 additional projectile backward.",
			"stats": "You fire an additional projectile backwards<br>Deal 100% of damage per projectile"
		},

		"Ricochet" :{
			"description": "Your arrows bounce up to 3 times between nearby enemies.",
			"stats": "You fire an additional projectile to the left and right<br>-30% damage after each bounce<br> Allows your shot to rebound between enemies up to 3 times in total"
		},

		"Side Arrow" :{
			"description": "Fire 2 additional projectile on your both sides.",
			"stats": "You fire an additional projectile to the left and right <br> Deal 100% of damage per projectile"        
		},

		"Shadow Samurai" :{
			"description": "Summon a Samurai to help you in Melee attacks.",
			"stats": "<br>"
		},

		"Shadow Clone" :{
			"description": "Summons a shadow clone of yours.",
			"stats": "15% chance to spawn.<br>Max 1 per enemy.<br>Max 3 per boss.<br>Up to 15 clones can be spawned at once.<br>Lasts up to 8 seconds.<br>Deals 100% equipment damage every second.<br>Defeat chapter 2."        
		},

		"Shield Guard" :{
			"description": "A shield circles around you",
			"stats": "Two shields rotate around you, blocking incoming projectiles"
		},

		"Slow Projectile" :{
			"description": "Slow enemy projectiles",
			"stats": "<br>"
		},

		"Smart" :{
			"description": "Level-up faster, Max level increased by 2.",
			"stats": "30% increased experience (XP).<br>2 Additional levels<br>This ability does not appear in hero adventure.<br>     The extra level provides you with only 1 additional extra skill besides smart.<br>     Chapters where there are only 10 stages (chapterd 7 and 14) don't give much xp. On these stages you don't usually recieve enough xp to get anywhere close to max level."
		},

		"Speed Aura" :{
			"description": "Increases Attack Speed for a short time",
			"stats": "+62.5% Attack Speed for 2s.<br> 8 second cooldown"
		},

		"Speed Plus" :{
			"description": "Increases speed by a small percent if no damage is taken",
			"stats": "Increases your attack speed by 2.1% when you don't take damage in a room.<br> 17 times max [35%]"
		},

		"Spirit - Blaze" :{
			"description": "Your spirit's attacks cause a flame effect",
			"stats": "Hero Attack + 22%.<br>  Unlocks in Chapter 8."
		},

		"Spirit - Bolt" :{
			"description": "Your spirit's attacks cause a lightning effect",
			"stats": "Hero Crit Chance + 3%<br>  Unlocks in Chapter 8."
		},

		"Spirit - Freeze" :{
			"description": "Your spirit's attacks slows enemies down",
			"stats": "Hero Attack Speed + 18%<br>  Unlocks in Chapter 8."
		},

		"Spirit - Front Arrow" :{
			"description": "Your spirit Front Arrow +1",
			"stats": "Scales with hero attack and crit damage.<br>  Your spirit's attack can receive a maximum of 80% in boosts, whereas the spirit's crit damage can receive a maximum of 200%. Does not boost your hero, in-game description is incorrect."
		},

		"Spirit - Multishot" :{
			"description": "Your spirit fire one more arrow",
			"stats": "Scales with hero attack speed and crit rate.<br>  Your spirit's attack speed can receive a maximum of 95% in boosts, whereas the spirit's crit rate can receive a maximum of 30%. Does not boost your hero, in-game description is incorrect."
		},

		"Spirit - Poisoned Touch" :{
			"description": "Your spirit's attacks cause a poison effect",
			"stats": "Hero HP Boost + 15%<br>  Unlocks in Chapter 8."
		},

		"Strong Heart" :{
			"description": "You restore more HP when healed",
			"stats": "Increases red heart heal power by 40% of the base heal.<br>  40% more red hearts spawn<br>When receiving this ability from the Angel, heal power of heart crystal is only increased by 20%. (Half the strength of the regular Strong Heart ability)"
		},

		"Strong Strong Heart" :{
			"description": "Strong Heart increases attack speed and can be stacked",
			"stats": "Attack Speed +2% every time you get a crystal heart (Max 60%) (Requires Strong Heart)"
		},

		"Summon Bone Warrior" :{
			"description": "Chance to summon bone warrior when attacking enemies",
			"stats": "<br>"
		},

		"Summon One-Eyed Bat" :{
			"description": "Summon a One-Eyed Bat",
			"stats": "15% chance to spawn<br>  Max 1 per enemy<br>  Max 3 per boss<br>  Up to 15 clones can be spawned at once.<br>  Lasts up to 8 seconds.<br>  Each bat shoots 1 laser per second dealing 65% of player damage.<br>  Unlocks in Chapter 3."
		},

		"Summon Wolfhound" :{
			"description": "Chance to summon wolfhound when attacking enemies",
			"stats": "<br>"
		},

		"Toxic Meteor" :{
			"description": "Summon a toxic meteor to attack enemies",
			"stats": "Poison slowly chips off enemy HP till it dies<br>  225% modifiable damage, Partial hit: 80% damage.<br>  Unlocks in Chapter 9.<br>Not affected by Rage ability."
		},

		"Toxic Star" :{
			"description": "Summon a toxic star to attack enemies",
			"stats": "Poison slowly chips off enemy HP until it dies<br>  95% modifiable damage.<br>Not affected by Rage ability.<br>  Stars are affected by ricochet and will bounce between enemies just like ricochet."
		},

		"Toxic Strike" :{
			"description": "Summon a toxic sword to attack enemies",
			"stats": "Poison slowly chips off enemy HP till it dies<br>  168% modifiable damage.<br>Not affected by Rage ability.<br>  The faster the attack speed, the shorter the summoning time."
		},

		"Toxic Sword" :{
			"description": "Summons 2 toxic swords to spin around you",
			"stats": "Poison slowly chips off enemy HP till it dies<br>132% modifiable damage.<br>Unlocks in Chapter 2.<br><b>Notes</b><br>Spins much faster after receiving attack speed boosts."
		},

		"Through The Wall" :{
			"description": "Allows the player to walk through walls",
			"stats": "Increases attack damage by 15%"
		},

		"Water Walker" :{
			"description": "Allows the player to walk across water",
			"stats": "Increases attack damage by 15%"
		},

		"Wingman" :{
			"description": "Your spirit can block projectiles for you.",
			"stats": "Pets block projectiles.<br>  Unlocks in Chapter 4."
		}
	}
</script>
<script>
	var url = window.location.href
	var postSearch = url.split("?")
	var postSearchParam = postSearch[1].split('=')[1];
	var skill = postSearchParam.replaceAll("_"," ")

	if(postSearch[1] != null){
		var myInput = document.getElementById('myInput')
		var image_skill = "/static/image/skill/" + skill.toLowerCase().replaceAll(' - ', '_').replaceAll(' ', '_').replace('one-eyed', 'one_eyed') + ".png"
		var name_skill = document.getElementById('name_skill');
		var skill_description = document.getElementById('skill_description');
		var skill_image = document.getElementById('skill_image');
		var skill_base = document.getElementById('skill_base');
		myInput.value = skill
		name_skill.innerHTML = skill
		skill_description.innerHTML = mydict[skill]['description']
		skill_image.src = image_skill
		skill_base.innerHTML = mydict[skill]['stats']
	}else{
		console.log('no input');
	}
</script>
</body>
</html>