{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version={{ request.static_version }}quest.static_version }}">
<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version={{ request.static_version }}quest.static_version }}">
<meta property="og:type" content="website">
<meta name="description" content="Discover a comprehensive list of skills and abilities in Archero on our website. Explore detailed descriptions, effects, and strategies for each skill. Unleash the power of skills and abilities to dominate in the world of Archero.">
{% if skill == "yes" %}
<title>{% blocktrans %}Archero - {{ name }}{% endblocktrans %}</title>
<meta property="og:title" content="{{ name }}">
<meta property="og:url" content="{{ url_cpy }}">
<meta property="og:description" content="{{ skill_data.description }} {{ skill_data.stats }}">
<meta property="og:image" content="{% static image_skill %}?version={{ request.static_version }}quest.static_version }}">
{% else %}
<title>{% blocktrans %}Archero - Wiki{% endblocktrans %}</title>
<meta property="og:title" content="Archero - Skill Description">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/skill">
<meta property="og:description" content="Discover a comprehensive list of skills and abilities in Archero on our website. Explore detailed descriptions, effects, and strategies for each skill. Unleash the power of skills and abilities to dominate in the world of Archero.">
<meta property="og:image" content="{{ request.archero_icon_link }}">
{% endif %}
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container need-small">
	<div class="search-bar" id="search-bar">
		<script>
			function filterList() {
				var input = document.getElementById("myInput");
				var filter = input.value.toUpperCase();
				var ul = document.getElementById("myUL");
				var li = ul.getElementsByTagName("li");

				for (var i = 0; i < li.length; i++) {
					var a = li[i].getElementsByTagName("a")[0];
					var txtValue = a.textContent || a.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						li[i].style.display = "";
					} else {
						li[i].style.display = "none";
					}
				}
			}
		</script>
		<a class="before_index arrow_searchbar" href="/{{ LANGUAGE_CODE }}/wiki/skill/{{ index_before }}">
            <img src="/static/image/skill/{{ index_before|lower }}.png" width="30" alt="Archero Skill Ability {{ index_before.value }}">
            <i class="fas fa-arrow-up"></i>
        </a>
		<input type="text" id="myInput" onkeyup="filterList()" placeholder="{% blocktrans %}Search for skill..{% endblocktrans %}" value="{{ name }}">
		<ul id="myUL" class="searchbar-ul-skill" style="display: none;">
			{% for k,v in SkillData.items %}
			<li>
				<a href="/{{ LANGUAGE_CODE }}/wiki/skill/{{ k }}">{{ v.displayName }}
					<img class="img-dropdown-icon" src="/static/image/skill/{{ k|lower }}.png" alt="Archero Skill Ability {{ v.displayName }}">
				</a>
			</li>
			{% endfor %}
		</ul>
		<a class="after_index arrow_searchbar" href="/{{ LANGUAGE_CODE }}/wiki/skill/{{ index_after }}">
            <img src="/static/image/skill/{{ index_after|lower }}.png" width="30" alt="Archero Skill Ability {{ index_after.value }}">
            <i class="fas fa-arrow-up"></i>
        </a>
	</div>
	<div class="embed-container">
		<div class="kn3fae-0 ezpxFx">
			<div class="sgp62q-0 iuJdTu">
				<a title="TigerShark's Bot">
					<img src="/static/image/wiki-image/sylvanpfp3.png" alt="Archero Skill" class="sgp62q-1 dLWNvE">
					<h1 class="sgp62q-2 hfwuZw">Sylvan</h1>
					<span class="sgp62q-3 cTBPsI">BOT</span>
				</a>
				<span id="{{ skill_data.value|lower }}" class="span-share"><a onclick="createModale(this,false,'info')" class="copy-icon-container"><i class="fa fa-share-alt" aria-hidden="true"></i></a></span>
			</div>
			<div class="kn3fae-2 eKjosW">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(217, 0, 255);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="sc-3qrykn-1 bsDYtY">
							<div class="sc-27l7o2-0 heOpKb thumbnail-title" id="name_skill">
								<img src="/static/{{ image_skill }}" alt="Archero Skill Ability {{ name }}" class="sc-3qrykn-7title" id="skill_image">
								{{ name }}
							</div>
						</div>
						<div class="sc-3qrykn-3 hXMbfy">
							<div class="sc-27l7o2-0 heOpKb" id="skill_description">{{ skill_data.description|safe }}</div>
						</div>
						{% if skill_data.requirement != "" %}
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>{% blocktrans %}Requirement{% endblocktrans %}</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="skill_base">{{ skill_data.requirement|safe }}</div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						{% if skill_data.stats != "" %}
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong>{% blocktrans %}Stats{% endblocktrans %}</strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div class="sc-27l7o2-0 heOpKb">
										<div id="skill_base">{{ skill_data.stats|safe }}</div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						<div class="sc-3qrykn-6 fTOqMH">
							<img src="/static/{{ image_skill }}" alt="Archero Skill Ability {{ name }}" class="sc-3qrykn-7 fUliQq" id="skill_image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	var mainDescription = document.getElementsByClassName('main-description')
	var body = document.body;
	var search_bar = document.getElementById('myInput');
	var ul_li = document.getElementById('myUL');

	search_bar.addEventListener('click', function(){
		if(ul_li.style.display == "none"){
			ul_li.style.display = "block"
			search_bar.value = ""
		}else if(ul_li.style.display !== "none"){
			ul_li.style.display = "none"
		}
	})
    window.addEventListener('click', ({target}) => {
        if(target.id != "myInput"){
            ul_li.style.display = "none"
        }
	})
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Skills-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 