{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.5.7e">
<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.5.7e">
<title>Archero - Wiki</title>
<meta property="og:title" content="Archero - Wiki">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/menu?Search=fusion_item">
<meta property="og:type" content="website">
<meta property="og:description" content="Welcome to the Archero Wiki, your ultimate resource for the popular mobile game by HABBY. Explore comprehensive guides, tier lists, hero breakdowns, and item stats on our extensive Wiki. Level up your gameplay with expert strategies and unleash your full potential in the world of Archero.">
<meta name="description" content="Welcome to the Archero Wiki, your ultimate resource for the popular mobile game by HABBY. Explore comprehensive guides, tier lists, hero breakdowns, and item stats on our extensive Wiki. Level up your gameplay with expert strategies and unleash your full potential in the world of Archero.">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.5.7e">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container">
	<div class="flex-box">
		{% for k,v in TheoryCraftingContent.items %}
		<div class="container-btn-flexbox">
			<div class="button-theorycrafting-collaps {{ v.classButton }}"><span id="{{ k }}">{{ v.displayName|safe }}<a onclick="createModale(this,true,'info')" class="copy-icon-container"><i class="fa fa-share-alt" aria-hidden="true"></i></a></span></div>
			<div class="{{ v.collapsible_container.class_content }}">
			{% if v.type == "img" %}
				<img src="{% static v.collapsible_container.content.field.src %}?version=1.5.7e" class="{{ v.collapsible_container.content.field.class }}" alt="{{ v.collapsible_container.content.field.alt }}" loading="eager">
			{% elif v.type == "embed" %}
				<div class="kn3fae-0 ezpxFx">
					<div class="kn3fae-2 eKjosW">
						<div class="z4zgh4-0 jiJPTS" {{ v.collapsible_container.border_color|safe }}>
							<div class="sc-3qrykn-0 bdFBtt">
								<div class="sc-3qrykn-1 bsDYtY">
									<div class="sc-27l7o2-0 heOpKb" id="{{ v.collapsible_container.content.title.idTitle }}">{{ v.collapsible_container.content.title.innerText|safe }}</div>
								</div>
								<div class="sc-3qrykn-3 hXMbfy">
									<div class="sc-27l7o2-0 heOpKb" id="{{ v.collapsible_container.content.description.idDesc }}">{{ v.collapsible_container.content.description.innerText|safe }}</div>
								</div>
								<div class="sc-3qrykn-4 hQKgZF">
									<div class="rgqgux-0 dQAxvm">
										{% for i in v.collapsible_container.content.field %}
										<div class="rgqgux-1 dHYyKL">
											<div class="sc-27l7o2-0 heOpKb" style="color: white;">
												<strong>{{ i.name|safe }}</strong>
											</div>
										</div>
										<div class="rgqgux-2 jFcAhO">
											<div class="sc-27l7o2-0 heOpKb">
												{{ i.value|safe }}
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<div class="sc-1wl8gx1-0 khpRBf"><span class="sc-1wl8gx1-2 frwlEK">{{ v.collapsible_container.content.footer.innerText|safe }}</span></div>
								<div class="sc-3qrykn-6 fTOqMH">
									{% if v.collapsible_container.content.thumbnail.src != '' %}
										<img src="{{ v.collapsible_container.content.thumbnail.src }}" alt="{{ v.collapsible_container.content.thumbnail.alt }}" class="sc-3qrykn-7 fUliQq {{ v.collapsible_container.content.thumbnail.class }}">
									{% endif %}	
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	function toggleContent(content) {
		if (content.style.maxHeight) {
			content.style.maxHeight = null;
		} else {
			content.style.maxHeight = '1000px';
		}
	}

	function collapseAllOpenContent() {
		const colls = document.getElementsByClassName('collapsible');
		for (const coll of colls) {
			if (coll.classList.contains('active')) {
			coll.classList.remove('active');
			toggleContent(coll.nextElementSibling);
			}
		}
	}

	const colls = document.getElementsByClassName('collapsible');
	for (const coll of colls) {
		coll.addEventListener('click', function() {
			if (!this.classList.contains('active')) {
			collapseAllOpenContent();
			}
			this.classList.toggle('active');
			toggleContent(this.nextElementSibling);
		});
	}
</script>
<script>
	var urlDict = {
		"fusion_item": 'fusion_item',
		"fusion_item2": 'fusion_item2',
		"fusion_dragon": 'fusion_dragon',
		"fusion_dragon2": 'fusion_dragon2',
		"tierlist_item_1": 'tierlist_item_1',
		"tierlist_item_2": 'tierlist_item_2',
		"gems_spending_guide": 'gems_spending_guide',
		"gold_earning_guide": 'gold_earning_guide',
		"gear_farming_guide": 'gear_farming_guide',
		"glyphs": 'glyphs',
		"refinement": 'refinement',
		"quickraid": 'quickraid',
		"altar_cost": 'altar_cost',
		"egg_stats": 'egg_stats',
		"hidden_stats": 'hidden_stats',
		"faq": 'faq'
	}

	function navigateUrl(){
		var url = window.location.href
		var postSearch = url.split("?")
		var postSearchParam = postSearch[1].toLowerCase().replaceAll(" ","_");
		if(postSearchParam[1] != null){
			var output4dict = urlDict[postSearchParam]
			var elementColaps = document.getElementById(output4dict)
			elementColaps.click()
		}else{
			// pass
		}
	}
	navigateUrl()
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Wiki-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %}