{% extends "template.html" %}
{% load static %}
{% load i18n %}
{% load custom_template_tag %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version={{ request.static_version }}">
<link rel="stylesheet" type="text/css" href="{% static 'article.css' %}?version={{ request.static_version }}">
<title>Archero - TheoryCrafting</title>
<meta property="og:type" content="website">
<meta name="description" content="{% blocktrans %}Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.{% endblocktrans %}">
<meta property="og:title" content="Archero - Theorycrafting">
<meta property="og:url" content="https://stats.wiki-archero.com/wiki/theorycraft">
<meta property="og:description" content="Welcome to Archero website! We offer advanced gameplay statistics, comprehensive guides to help you progress through the game. This site is constantly evolving and includes the latest updates.">
<meta property="og:image" content="{{ request.archero_icon_link }}">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container no-margintop theorycrafting_container">
    <div class="floating-content">
        <div class="bg-archero">
            <img src="/static/image/wiki-image/TheorycraftingBg.webp" alt="">
        </div>
        <div class="title__link__container">
            <div class="toc__title">
                <h2>Table of Contents</h2>
            </div>
            <div class="toc__content">
                <ul>
                    <li class="header__anchor"><a class="a_styled" href="#Theorycrafting__title">Theorycrafting</a></li>
                    {% for a in articles %}
                    <li class="header__anchor"><a class="a_styled" href="#{{ a.articleHref }}">{{ a.articleTitle }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="Theorycrafting__body">
        <hr>
        <div class="Theorycrafting__content">
            <h1 id="Theorycrafting__title">Theorycrafting</h1>
            <div id="Theorycrafting__articles">
                <div>
                    <div>
                        <div>
                            <p>Theorycrafting is the process of using math and logic to determine the best possible outcome for a given situation. In Archero, this is usually done by calculating the damage output of a weapon or ability.</p>
                        </div>
                        <span class="hr-cotainer"><hr></span>
                        <div class="article-pages-container">
                            {% for a in articles %}
                            <div class="Theorycrafting__article" id="{{ a.articleHref }}">
                                <div>
                                    <h2 class="header__anchor">
                                        <a href="#{{ a.articleHref }}">{{ a.articleTitle }}</a>
                                        {% if a.articleIcon != None %}
                                        <img class="icon-theorycrafting-article" src="{{ a.articleIcon }}" alt="{{ a.articleTitle }}">
                                        {% endif %}
                                    </h2>
                                </div>
                                <div>
                                    <div class="article-page">
                                        {{ a.articleBody | markdown | safe }}
                                    </div>
                                </div>
                                <span class="hr-cotainer"><hr></span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if tbc %}
    <h1 style="font-size: 1em;">TO BE CONTINUED ...</h1>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script>
	const self_inline_div_traveling = document.getElementById('Theorycraft-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 