{% extends "template.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.6.1">
	<link rel="stylesheet" type="text/css" href="{% static 'embed.css' %}?version=1.6.1">
	<title>Archero - Wiki</title>
	<meta property="og:type" content="website">
	<meta name="description" content="Welcome to the Archero wiki, your ultimate resource for the popular mobile game by HABBY. Explore upgrade costs for relics, dragons, talents, items, and heroes. Discover comprehensive guides and strategies to optimize your gameplay.">
	{% if content != "" %}
		<meta property="og:title" content="{{ content.eTitle|safe }}">
		<meta property="og:url" content="https://stats.wiki-archero.com/wiki/upgrade">
		<meta property="og:description" content="{{ content.eDescription }}<br>
		{{ content.currency1.0 }} {{ content.eField1 }}<br>
		{{ content.currency2.0 }} {{ content.eField2 }}">
		<meta property="og:image" content="{{ content.eImage }}">
	{% else %}
		<meta property="og:title" content="Archero - Upgrade Cost">
		<meta property="og:url" content="https://stats.wiki-archero.com/wiki/upgrade">
		<meta property="og:description" content="Welcome to the Archero wiki, your ultimate resource for the popular mobile game by HABBY. Explore upgrade costs for relics, dragons, talents, items, and heroes. Discover comprehensive guides and strategies to optimize your gameplay.">
		<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.6.1">
	{% endif %}
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="content_container">
	<div class="select-cost">
		<label class="category-cost" for="cost_type">Choose the Category :</label>
		<div class="select">
			<select id="cost_type">
				<option value="items">Items</option>
				<option value="heroes">Heroes</option>
				<option value="talents">Talents</option>
				<option value="dragons">Dragons</option>
				<option value="relics">Relics</option>
			</select>
			<script>
				var costType = "{{ cost_type }}"; // assuming "cost_type" is the header parameter name
				var dropdown = document.getElementById("cost_type");
				for (var i = 0; i < dropdown.options.length; i++) {
					if (dropdown.options[i].value === costType) {
						dropdown.options[i].selected = true;
						break;
					}
				}
			</script>
		</div>
	</div>
	<div class="input-cost">
		Insert the level (from x to y)
		<div class="cost_input_container">
			{% if content != "" %}
			<input id="level1" class="cost_input" type="number" value="{{ lvl1 }}" placeholder="level 1" required>
			<input id="level2" class="cost_input" type="number" value="{{ lvl2 }}" placeholder="level 2" required>
			{% else %}
			<input id="level1" class="cost_input" type="number" placeholder="level 1" required>
			<input id="level2" class="cost_input" type="number" placeholder="level 2" required>
			{% endif %}
		</div>
		<fieldset class="rank_input" id="rank_container" style="display: none;">
			<legend id="title_legend"></legend>
			<div class="fieldset_container">
				<input type="radio" id="a_rank" name="rank" value="a" style="display: none;">
				<label class="label_fieldset" for="a_rank"><img src="" id="img_rank_input1" width="30" height="30" alt="a rank dragon"></label>
			</div>
			<div class="fieldset_container">
				<input type="radio" id="s_rank" name="rank" value="s" style="display: none;">
				<label class="label_fieldset" for="s_rank"><img src="" id="img_rank_input2" width="30" height="30" alt="s rank dragon"></label>
			</div>
			<div class="fieldset_container">
				<input type="radio" id="ss_rank" name="rank" value="ss" style="display: none;">
				<label class="label_fieldset" for="ss_rank"><img src="" id="img_rank_input3" width="30" height="30" alt="ss rank dragon"></label>
			</div>
		</fieldset>
		<script>
			var allInputRank = document.querySelectorAll('input[name="rank"][type="radio"]')
			allInputRank.forEach(e => {
				if(e.value == "{{ rank }}".toLowerCase()){
					return e.checked = true
				}
			});
		</script>
		<div class="submit_container">
			<input type="submit" class="submit-input" id="submit_input">
		</div>
	</div>
	{% if content != "" %}
	<div class="upgrade_cost_e" id="upgrade_cost_e">
		<div class="kn3fae-0 upcted">
			<div class="kn3fae-2 eKjosW">
				<div class="z4zgh4-0 jiJPTS" style="border-color: rgb(255, 200, 0);">
					<div class="sc-3qrykn-0 bdFBtt">
						<div class="sc-3qrykn-1 bsDYtY">
							<div class="sc-27l7o2-0 heOpKb" id="e_title">{{ content.eTitle|safe }}</div>
						</div>
						<div class="sc-3qrykn-3 hXMbfy">
							<div class="sc-27l7o2-0 heOpKb" id="e_description">{{ content.eDescription|safe }}</div>
						</div>
						<div class="sc-3qrykn-4 hQKgZF">
							<div class="rgqgux-0 dQAxvm">
								<div class="rgqgux-1 dHYyKL">
									<div class="sc-27l7o2-0 heOpKb" style="color: white;">
										<strong></strong>
									</div>
								</div>
								<div class="rgqgux-2 jFcAhO">
									<div id="e_field1" class="sc-27l7o2-0 heOpKb costfield">
										<b>{{ content.currency1.0 }}</b><br>
										<div class="field_value2">
											<div class="price1" id="price1">{{ content.eField1|safe }}</div>
											<object type="image/png" data="/static/image/svg/{{ content.currency1.1 }}.svg" width="18" height="18"></object>
										</div>
									</div>
									<div id="e_field2" class="sc-27l7o2-0 heOpKb costfield">
										<b>{{ content.currency2.0 }}</b><br>
										<div class="field_value2">
											<div class="price2" id="price2">{{ content.eField2|safe }}</div>
											<object type="image/png" data="/static/image/svg/{{ content.currency2.1 }}.svg" width="18" height="18"></object>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sc-3qrykn-6 fTOqMH">
							<img src="{{ content.eImage }}" alt="Thumbnail" id="e_image" class="sc-3qrykn-7 fUliQq">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
{% block javascript %}
	<script>
		submit_input.addEventListener('click', function a(){
			var type = document.getElementById('cost_type').value;
			var level1 = document.getElementById('level1').value ?? 1;
			var level2 = document.getElementById('level2').value ?? 2;
			if (type == "dragons" || type === "relics"){
				var rankInput = document.querySelector('input[name="rank"]:checked').value.toUpperCase();
				window.location.href = `/wiki/upgrade/${type}/${level1}/${level2}/${rankInput}/`
			}else{
				window.location.href = `/wiki/upgrade/${type}/${level1}/${level2}/` 
			}
		})
		
		var costType = document.getElementById("cost_type");
		upgradeType("{{ cost_type }}")
	
		function upgradeType(type) {
			const rank_container = document.getElementById('rank_container');
			const title_legend = document.getElementById('title_legend');
			const img_rank_input1 = document.getElementById('img_rank_input1');
			const img_rank_input2 = document.getElementById('img_rank_input2');
			const img_rank_input3 = document.getElementById('img_rank_input3');
			if (type === "dragons") {
				rank_container.style.display = "grid";
				title_legend.innerHTML = "Dragons Rank";
				img_rank_input1.src = "/static/image/dragon/A.png";
				img_rank_input2.src = "/static/image/dragon/S.png";
				img_rank_input3.src = "/static/image/dragon/SS.png";
			} else if (type === "relics") {
				rank_container.style.display = "grid";
				title_legend.innerHTML = "Relics Rank";
				img_rank_input1.src = "/static/image/rarity/great.png";
				img_rank_input2.src = "/static/image/rarity/epic.png";
				img_rank_input3.src = "/static/image/rarity/legendary.png";
			}else{
				rank_container.style.display = "none";
			}
		};
	
		costType.addEventListener("change", function changeCostType(){
			upgradeType(costType.value);
		});
	</script>
	<script>
		const self_inline_div_traveling = document.getElementById('Upgrade-sidebar-image')
		self_inline_div_traveling.classList.add('bg-traveling') 
	</script>
{% endblock %}