{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.5">
<title>{{ message }}</title>
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="error-csrf-content">
	<p class="comming-soon">
		<a class="get-back-ies" onclick="window.history.go(-1); return false;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a><br>
		<a class="get-back-ies msg-admin-ies">Your problem will be resolved as soon as possible</a>
		<a class="get-back-ies msg-admin-ies">DM LuhCaran#9802 on discord for faster fix</a>
	</p>
</div>
{% endblock %}
{% block javascript %}
{% endblock %} 