{% extends "template.html" %}
{% load static %}
{% load i18n %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.7.2">
        <title>{% blocktrans %}Archero - Changelog{% endblocktrans %}</title>
        <meta property="og:title" content="Welcome to the Wiki Archero">
        <meta property="og:url" content="https://stats.wiki-archero.com/">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players">
        <meta name="description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players">
        <meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.7.2">
        <style>
            ul{
                padding-inline-start: 5px;
            }
            li{
                list-style-type: none;
            }
        </style>
    {% endblock %}
    {% block header_content %}{{ header_msg }}{% endblock %}
    {% block content %}
    <div class="content_container commits_container">
        <h1>{% blocktrans %}Started on 25th June 2022.{% endblocktrans %}</h1>
        <ul>
            {% for i,commit in commit_json.items %}
            <li class="commit-li"><span class="commit_date">{{ commit.date }} : </span>{{ commit.nom|safe }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
    {% block javascript %}
    {% endblock %}