<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	{% load i18n %}
	<title>{% blocktrans %}Login{% endblocktrans %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?version={{ request.static_version }}quest.static_version }}">
	<link rel="icon" type="image/ong" href="{% static 'favicon.ico' %}">
	<script src="{% static 'main.js' %}?version={{ request.static_version }}quest.static_version }}"></script>
</head>
{% if darkmode == True %}
<body class="body_dark_mode">
{% elif darkmode == False %}
<body>
{% endif %}
<noscript>
	<div id="no-script-message">
		<p>{% blocktrans %}Please enable JavaScript to use this website.{% endblocktrans %}</p>
	</div>
</noscript>
{% if messages %}
	{% for message in messages %}
	<script>
		var stringElement = '<div{% if message.tags %} class="{{ message.tags }}-messages"{% endif %}>{{ message }}</div>'
		createModale(stringElement,false, 'error')
	</script>
	{% endfor %}
{% endif %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'img-01.png' %}" alt="background login">
				</div>
				<div class="form-row" id="form-row">
					<div id="errorBox" class="error-box" style="display: none;">
						<div class="container-error">
							<span class="close_span_error">&times;</span>
							<div id="error_msg"></div>
						</div>
					</div>
					<span class="login100-form-title">{% blocktrans %}Login{% endblocktrans %}</span>
					<div class="wrap-input100 validate-input">
						<fieldset class="fieldset-input">
							<legend>{% blocktrans %}Username{% endblocktrans %}</legend>
							<input class="input-login-field username" id="username" type="text" placeholder="" pattern="^[^\s]{3,20}$" required>
						</fieldset>
						<ul>
							<li class="list-info-login">{% blocktrans %}Avoid space and special character for your username{% endblocktrans %}</li>
						</ul><br>
						<fieldset class="fieldset-input">
							<legend>{% blocktrans %}Ingame ID{% endblocktrans %}</legend>
							<input class="input-login-field username" id="ingameid" type="text" placeholder="1-234567" pattern="^[0-9]{1}-[0-9]{5,12}$">
						</fieldset>
					</div>
					<div class="container-login100-form-btn submit-btn">
						<input id="submit-btn" class="login100-form-btn" type="submit" value="Log in">
					</div>
				</div>
				<div id="confirmationBox" class="confirmation-box" style="display: none;">
					<div class="container-confirmation">
						<span class="close_span_confirmation">&times;</span>
						<p>{% blocktrans %}Please check one last time that you have entered the correct ID, this will affect the creation of your profile.{% endblocktrans %}</p>
						<p>{% blocktrans %}Do you still want to confirm ?{% endblocktrans %}</p>
						<div class="container-action">
							<button id="confirm">{% blocktrans %}Yes{% endblocktrans %}</button>
							<button id="cancel">{% blocktrans %}No{% endblocktrans %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
	var span2 = document.getElementsByClassName("close_span_confirmation")[0];
	var no_action = document.getElementById('cancel');

	var objClosableBtn = {
		1:[span2,'confirmationBox'],
		2:[no_action,'confirmationBox'],
	}
	for(const element in objClosableBtn){
		objClosableBtn[element][0].onclick = function(){
			var remove = document.getElementById(objClosableBtn[element][1])
			remove.style.display = "none"
		}
	}
</script>
<script>
	const submitBtn = document.getElementById('submit-btn');
	const confirmBox = document.getElementById('confirmationBox');
	const confirmBtn = document.getElementById('confirm');
	const cancelBtn = document.getElementById('cancel');
	const usernameInput = document.getElementById('username');
	const ingameIdInput = document.getElementById('ingameid');
	const errorBox = document.getElementById('errorBox');
	const errorContent = document.getElementById('error_msg');
	const formRow = document.getElementById('form-row');
	const ingameIdRegex = /^\d-\d{5,12}$/;
	const adminRegex = /^0-\d{4,12}$/;
	formRow.style.pointerEvents = 'auto';

	submitBtn.addEventListener('click', () => {
		const username = usernameInput.value.trim();
		const ingameId = ingameIdInput.value.trim();
		if (!username) {
			return createModale(`{% blocktrans %}Username must be between 3 and 15 characters long{% endblocktrans %}`, null, "errors");
		} else if (username.length < 3 || username.length > 20) {
			return createModale(`{% blocktrans %}Username must be between 3 and 15 characters long{% endblocktrans %}`, null, "errors");
		} else if (username === 'unknown') {
			return createModale(`{% blocktrans %}You cannot use this username{% endblocktrans %}`, null, "errors");
		}
		if (!ingameId) {
			return createModale(`{% blocktrans %}Ingame ID field cannot be empty{% endblocktrans %}`, null, "errors");
		} else if (!ingameIdRegex.test(ingameId) && !adminRegex.test(ingameId)) {
			return createModale(`{% blocktrans %}Your id must fit this format: X-XXXXXXX{% endblocktrans %}`, null, "errors");
		} else if (ingameId.length > 11 ) {
			return createModale(`{% blocktrans %}Your id must be maximum 11 numbers{% endblocktrans %}`, null, "errors");
		}

		async function submitLogin() {
			return new Promise((resolve) => {
				confirmBtn.addEventListener('click', () => {
					resolve('yes');
				});
				cancelBtn.addEventListener('click', () => {
					resolve('no');
				});
			});
		}
		confirmBox.style.display = 'block';
		submitLogin().then((result) => {
			formRow.style.pointerEvents = 'none';
			if (result === 'yes') {
				const usernameLower = username.toLowerCase();
				window.location.href = `/login/processing/${usernameLower}/${ingameId}/`;
			} else if (result === 'no') {
				formRow.style.pointerEvents = 'auto';
			}
		});
	});
</script>
</body>
</html>