{% extends "template.html" %}
{% load static %}
	{% block head %}
		<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.6.1">
		<title>Archero - Wiki</title>
		<meta property="og:title" content="Welcome to the Wiki Archero">
		<meta property="og:url" content="https://stats.wiki-archero.com/">
		<meta property="og:type" content="website">
		<meta property="og:description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.">
		<meta name="description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.">
		<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.6.1">
	{% endblock %}
	{% block header_content %}{{ header_msg }}{% endblock %}
	{% block content %}
		<div class="select-href">
			{% for article in new_list_article %}
			<div class="new-tag div-onclick-menu">
				<a href="/wiki/news/{{ article.title }}">{{ article.title }}</a>
				<span class="new-label">New</span>
			</div>
			{% endfor %}
			{% for article in list_article %}
			<div class="new-tag div-onclick-menu">
				<a href="/wiki/news/{{ article.title }}">{{ article.title }}</a>
			</div>
			{% endfor %}
			<a href="/calculator/index" class="div-onclick-menu calc-index"><div class="menu-onclick-img"><span class="txt-onclick-span">Stats </span><img alt="stats-link" src="/static/image/img-sidebar/stats.png"></div></a>
			<a href="/wiki/menu" class="div-onclick-menu wiki-tc"><div class="menu-onclick-img"><span class="txt-onclick-span">Wiki </span><img alt="stats-link" src="/static/image/img-sidebar/wiki.png"></div></a>
			<a href="/wiki/heroes" class="div-onclick-menu wiki-heros"><div class="menu-onclick-img"><span class="txt-onclick-span">Heroes </span><img alt="stats-link" src="/static/image/img-sidebar/hero.png"></div></a>
			<a href="/wiki/item" class="div-onclick-menu wiki-item"><div class="menu-onclick-img"><span class="txt-onclick-span">Item </span><img alt="stats-link" src="/static/image/img-sidebar/icon_stuff.png"></div></a>
			<a href="/wiki/skill-list" class="div-onclick-menu wiki-skill"><div class="menu-onclick-img"><span class="txt-onclick-span">Skill </span><img alt="stats-link" src="/static/image/img-sidebar/skill.png"></div></a>
			<a href="/wiki/damage-calculator" class="div-onclick-menu wiki-skill"><div class="menu-onclick-img"><span class="txt-onclick-span">Damage Calculator </span><img alt="stats-link" src="/static/image/img-sidebar/damage.png"></div></a>
			<a href="/wiki/upgrade" class="div-onclick-menu wiki-cost"><div class="menu-onclick-img"><span class="txt-onclick-span">Upgrade Cost </span><img alt="stats-link" src="/static/image/img-sidebar/upgrade.png"></div></a>
			<a href="/wiki/promo-code" class="div-onclick-menu promo-code"><div class="menu-onclick-img"><span class="txt-onclick-span">Promo Codes </span><img alt="stats-link" src="/static/image/img-sidebar/promotion_code.png"></div></a>
			<a href="/wiki/archive" class="div-onclick-menu wiki-maze"><div class="menu-onclick-img"><span class="txt-onclick-span">Google Sheet </span><img alt="stats-link" src="/static/image/img-sidebar/sheet.png"></div></a>
			<a href="/wiki/maze" class="div-onclick-menu wiki-maze"><div class="menu-onclick-img"><span class="txt-onclick-span">Maze Map </span><img alt="stats-link" src="/static/image/img-sidebar/maze.png"></div></a>
			<a href="/wiki/advanced-stats" class="div-onclick-menu advanced-stats"><div class="menu-onclick-img"><span class="txt-onclick-span">Advanced Stats </span><img alt="stats-link" src="/static/image/img-sidebar/advanced_stats.png"></div></a>
			{% if dev_mode %}
			<a href="/page_set" class="div-onclick-menu">Page Set</a>
			{% endif %}
		</div>
		<div class="feedback">
			<div class="feedback-title">
				Make a Feedback to help improve the wiki
			</div>
			<div class="feedback-container">
				<div class="image-feedback-container">
					<img src="/static/image/wiki-image/ButtonSmall_Green.png" class="image-feedback" alt="feedback form">
				</div>
				<a href="https://forms.gle/YcHNZsPjFRnh4GKZ6" target="_blank" class="feedback">FeedBack</a>
			</div>
		</div>
		<a href="habby-secret/" target="_blank" style="position: absolute;bottom: 0;right: 0;width: 10px;height: 10px;cursor: pointer;z-index: 150;"></a>
	{% endblock %}
	{% block javascript %}
		<script>
			const self_inline_div_traveling = document.getElementById('Menu-sidebar-image')
			self_inline_div_traveling.classList.add('bg-traveling') 
		</script>
	{% endblock %}