{% extends "template.html" %}
{% load static %}
{% load i18n %}
	{% block head %}
		<link rel="stylesheet" type="text/css" href="{% static 'wiki.css' %}?version=1.9.1">
		<title>Archero - Wiki</title>
		<meta property="og:title" content="Welcome to the Wiki Archero">
		<meta property="og:url" content="https://stats.wiki-archero.com/">
		<meta property="og:type" content="website">
		<meta property="og:description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.">
		<meta name="description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players.">
		<meta property="og:image" content="{{ request.archero_icon_link }}">
		<style>
			form {
			margin-bottom: 20px;
			}

			label {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
			}

			input[type="text"],
			select {
			margin-bottom: 10px;
			width: 200px;
			padding: 5px;
			}

			input[type="submit"] {
			padding: 10px 20px;
			background-color: #4CAF50;
			color: white;
			border: none;
			cursor: pointer;
			}

			input[type="submit"]:hover {
			background-color: #45a049;
			}

			/* Styles pour les éléments de session et de cookie */
			p {
			margin-bottom: 5px;
			}
		</style>
	{% endblock %}
	{% block header_content %}{{ header_msg }}{% endblock %}
	{% block content %}
		<div class="content_container">
			<form action="/page_set" method="get">
				<label for="select_choice">Sélectionnez :</label>
					<select id="select_choice" name="select_choice">
						<option value="cookie">Cookie</option>
						<option value="session">Session</option>
					</select>
					<br>
					<label for="key">Clé :</label>
					<input type="text" id="key" name="key">
					<br>
					<label for="value">Valeur :</label>
					<input type="text" id="value" name="value">
					<br>
					<input type="submit" value="Envoyer">
			</form>
			{% for k,v in session.items %}
				<p>{{ k }} | {{ v }}</p>
			{% endfor %}
			{% for k,v in cookie.items %}
				<p>{{ k }} | {{ v }}</p>
			{% endfor %}
		</div>
	{% endblock %}
	{% block javascript %}
	{% endblock %}
