--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4
-- Dumped by pg_dump version 15.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: calculator_altartable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_altartable (
    id bigint NOT NULL,
    stuff_altar_level integer NOT NULL,
    stuff_altar_ascension integer NOT NULL,
    heros_altar_level integer NOT NULL,
    heros_altar_ascension integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_altartable OWNER TO postgres;

--
-- Name: calculator_altartable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_altartable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_altartable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_articlemenu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_articlemenu (
    id bigint NOT NULL,
    title character varying(300) NOT NULL,
    intro text NOT NULL,
    body text NOT NULL,
    small_description character varying(80),
    image_label character varying(300),
    last_change character varying(55) NOT NULL,
    is_new boolean NOT NULL,
    display boolean NOT NULL,
    index integer,
    titre_description character varying(300),
    meta_description character varying(300)
);


ALTER TABLE public.calculator_articlemenu OWNER TO postgres;

--
-- Name: calculator_articlemenu_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_articlemenu ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_articlemenu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_contributor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_contributor (
    id bigint NOT NULL,
    label character varying(40) NOT NULL
);


ALTER TABLE public.calculator_contributor OWNER TO postgres;

--
-- Name: calculator_contributor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_contributor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_contributor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_damagecalctable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_damagecalctable (
    id bigint NOT NULL,
    hero_atk jsonb NOT NULL,
    missing_data character varying(20),
    weapon_coeff double precision NOT NULL,
    flat_dmg_vs_ground integer NOT NULL,
    flat_dmg_vs_airborne integer NOT NULL,
    flat_dmg_vs_melee integer NOT NULL,
    flat_dmg_vs_range integer NOT NULL,
    flat_dmg_vs_mobs integer NOT NULL,
    flat_dmg_vs_boss integer NOT NULL,
    flat_dmg_element integer NOT NULL,
    flat_dmg_all integer NOT NULL,
    flat_elite_dmg integer NOT NULL,
    flat_normal_dmg integer NOT NULL,
    var_dmg_vs_ground double precision NOT NULL,
    var_dmg_vs_airborne double precision NOT NULL,
    var_dmg_vs_melee double precision NOT NULL,
    var_dmg_vs_range double precision NOT NULL,
    var_dmg_vs_mobs double precision NOT NULL,
    var_dmg_vs_boss double precision NOT NULL,
    var_dmg_element double precision NOT NULL,
    var_dmg_all double precision NOT NULL,
    var_normal_dmg double precision NOT NULL,
    var_elite_dmg double precision NOT NULL,
    crit_dmg integer NOT NULL,
    crit_rate double precision NOT NULL,
    dodge_rate double precision NOT NULL,
    weapon_damage double precision NOT NULL,
    weapon_melee_damage double precision NOT NULL,
    weapon_ranged_damage double precision NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_damagecalctable OWNER TO postgres;

--
-- Name: calculator_damagecalctable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_damagecalctable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_damagecalctable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_dragontable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_dragontable (
    id bigint NOT NULL,
    dragon1_type character varying(30) NOT NULL,
    dragon2_type character varying(30) NOT NULL,
    dragon3_type character varying(30) NOT NULL,
    dragon1_rarity character varying(30) NOT NULL,
    dragon2_rarity character varying(30) NOT NULL,
    dragon3_rarity character varying(30) NOT NULL,
    dragon1_level integer NOT NULL,
    dragon2_level integer NOT NULL,
    dragon3_level integer NOT NULL,
    dragon_1_boost_1 integer NOT NULL,
    dragon_1_boost_2 integer NOT NULL,
    dragon_1_boost_3 integer NOT NULL,
    dragon_1_boost_4 integer NOT NULL,
    dragon_2_boost_1 integer NOT NULL,
    dragon_2_boost_2 integer NOT NULL,
    dragon_2_boost_3 integer NOT NULL,
    dragon_2_boost_4 integer NOT NULL,
    dragon_3_boost_1 integer NOT NULL,
    dragon_3_boost_2 integer NOT NULL,
    dragon_3_boost_3 integer NOT NULL,
    dragon_3_boost_4 integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_dragontable OWNER TO postgres;

--
-- Name: calculator_dragontable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_dragontable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_dragontable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_eggequippedtable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_eggequippedtable (
    id bigint NOT NULL,
    egg_equipped1 character varying(30) NOT NULL,
    egg_equipped2 character varying(30) NOT NULL,
    egg_equipped3 character varying(30) NOT NULL,
    egg_equipped4 character varying(30) NOT NULL,
    egg_equipped5 character varying(30) NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_eggequippedtable OWNER TO postgres;

--
-- Name: calculator_eggequippedtable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_eggequippedtable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_eggequippedtable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_eggtable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_eggtable (
    id bigint NOT NULL,
    green_bat integer NOT NULL,
    vase integer NOT NULL,
    bomb_ghost integer NOT NULL,
    rock_puppet integer NOT NULL,
    party_tree integer NOT NULL,
    wolfhound integer NOT NULL,
    skeleton_archer integer NOT NULL,
    skeleton_soldier integer NOT NULL,
    wasp integer NOT NULL,
    fire_mage integer NOT NULL,
    medusa integer NOT NULL,
    ice_mage integer NOT NULL,
    fire_lizard integer NOT NULL,
    flame_ghost integer NOT NULL,
    thorny_snake integer NOT NULL,
    tornado_demon integer NOT NULL,
    piranha integer NOT NULL,
    zombie integer NOT NULL,
    scarecrow integer NOT NULL,
    long_dragon integer NOT NULL,
    skull_wizard integer NOT NULL,
    lava_golem integer NOT NULL,
    ice_golem integer NOT NULL,
    cactus integer NOT NULL,
    crazy_spider integer NOT NULL,
    fire_element integer NOT NULL,
    skeleton_swordsman integer NOT NULL,
    scythe_mage integer NOT NULL,
    pea_shooter integer NOT NULL,
    shadow_assassin integer NOT NULL,
    tornado_mage integer NOT NULL,
    spitting_mushroom integer NOT NULL,
    rolling_mushroom integer NOT NULL,
    fallen_bat integer NOT NULL,
    one_eyed_bat integer NOT NULL,
    scarlet_mage integer NOT NULL,
    icefire_phantom integer NOT NULL,
    purple_phantom integer NOT NULL,
    tundra_dragon integer NOT NULL,
    sandian integer NOT NULL,
    nether_puppet integer NOT NULL,
    psionic_scarecrow integer NOT NULL,
    steel_dryad integer NOT NULL,
    savage_spider integer NOT NULL,
    flaming_bug integer NOT NULL,
    shark_bro integer NOT NULL,
    crimson_zombie integer NOT NULL,
    fat_bat integer NOT NULL,
    plainswolf integer NOT NULL,
    elite_archer integer NOT NULL,
    little_dragon integer NOT NULL,
    arch_leader integer NOT NULL,
    skeleton_king integer NOT NULL,
    crimson_witch integer NOT NULL,
    rage_golem integer NOT NULL,
    queen_bee integer NOT NULL,
    ice_worm integer NOT NULL,
    medusa_boss integer NOT NULL,
    ice_demon integer NOT NULL,
    giant_owl integer NOT NULL,
    fire_demon integer NOT NULL,
    krab_boss integer NOT NULL,
    desert_goliath integer NOT NULL,
    sinister_touch integer NOT NULL,
    scythe_pharoah integer NOT NULL,
    fireworm_queen integer NOT NULL,
    infernal_demon integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_eggtable OWNER TO postgres;

--
-- Name: calculator_eggtable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_eggtable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_eggtable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_googlesheet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_googlesheet (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    "thumbnailLink" text,
    description text NOT NULL,
    "urlLink" text,
    display boolean NOT NULL,
    index integer
);


ALTER TABLE public.calculator_googlesheet OWNER TO postgres;

--
-- Name: calculator_googlesheet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_googlesheet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_googlesheet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_herotable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_herotable (
    id bigint NOT NULL,
    atreus_level integer NOT NULL,
    atreus_star integer NOT NULL,
    urasil_level integer NOT NULL,
    urasil_star integer NOT NULL,
    phoren_level integer NOT NULL,
    phoren_star integer NOT NULL,
    taranis_level integer NOT NULL,
    taranis_star integer NOT NULL,
    helix_level integer NOT NULL,
    helix_star integer NOT NULL,
    meowgik_level integer NOT NULL,
    meowgik_star integer NOT NULL,
    shari_level integer NOT NULL,
    shari_star integer NOT NULL,
    ayana_level integer NOT NULL,
    ayana_star integer NOT NULL,
    onir_level integer NOT NULL,
    onir_star integer NOT NULL,
    rolla_level integer NOT NULL,
    rolla_star integer NOT NULL,
    bonnie_level integer NOT NULL,
    bonnie_star integer NOT NULL,
    sylvan_level integer NOT NULL,
    sylvan_star integer NOT NULL,
    shade_level integer NOT NULL,
    shade_star integer NOT NULL,
    ophelia_level integer NOT NULL,
    ophelia_star integer NOT NULL,
    ryan_level integer NOT NULL,
    ryan_star integer NOT NULL,
    lina_level integer NOT NULL,
    lina_star integer NOT NULL,
    aquea_level integer NOT NULL,
    aquea_star integer NOT NULL,
    shingen_level integer NOT NULL,
    shingen_star integer NOT NULL,
    gugu_level integer NOT NULL,
    gugu_star integer NOT NULL,
    iris_level integer NOT NULL,
    iris_star integer NOT NULL,
    blazo_level integer NOT NULL,
    blazo_star integer NOT NULL,
    melinda_level integer NOT NULL,
    melinda_star integer NOT NULL,
    elaine_level integer NOT NULL,
    elaine_star integer NOT NULL,
    bobo_level integer NOT NULL,
    bobo_star integer NOT NULL,
    stella_level integer NOT NULL,
    stella_star integer NOT NULL,
    taiga_level integer NOT NULL,
    taiga_star integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_herotable OWNER TO postgres;

--
-- Name: calculator_herotable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_herotable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_herotable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_jewelleveltable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_jewelleveltable (
    id bigint NOT NULL,
    weapon_jewel1_level integer NOT NULL,
    weapon_jewel2_level integer NOT NULL,
    weapon_jewel3_level integer NOT NULL,
    weapon_jewel4_level integer NOT NULL,
    armor_jewel1_level integer NOT NULL,
    armor_jewel2_level integer NOT NULL,
    armor_jewel3_level integer NOT NULL,
    armor_jewel4_level integer NOT NULL,
    ring1_jewel1_level integer NOT NULL,
    ring1_jewel2_level integer NOT NULL,
    ring1_jewel3_level integer NOT NULL,
    ring1_jewel4_level integer NOT NULL,
    ring2_jewel1_level integer NOT NULL,
    ring2_jewel2_level integer NOT NULL,
    ring2_jewel3_level integer NOT NULL,
    ring2_jewel4_level integer NOT NULL,
    pet1_jewel1_level integer NOT NULL,
    pet1_jewel2_level integer NOT NULL,
    pet1_jewel3_level integer NOT NULL,
    pet1_jewel4_level integer NOT NULL,
    pet2_jewel1_level integer NOT NULL,
    pet2_jewel2_level integer NOT NULL,
    pet2_jewel3_level integer NOT NULL,
    pet2_jewel4_level integer NOT NULL,
    bracelet_jewel1_level integer NOT NULL,
    bracelet_jewel2_level integer NOT NULL,
    bracelet_jewel3_level integer NOT NULL,
    bracelet_jewel4_level integer NOT NULL,
    locket_jewel1_level integer NOT NULL,
    locket_jewel2_level integer NOT NULL,
    locket_jewel3_level integer NOT NULL,
    locket_jewel4_level integer NOT NULL,
    book_jewel1_level integer NOT NULL,
    book_jewel2_level integer NOT NULL,
    book_jewel3_level integer NOT NULL,
    book_jewel4_level integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_jewelleveltable OWNER TO postgres;

--
-- Name: calculator_jewelleveltable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_jewelleveltable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_jewelleveltable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_jeweltypetable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_jeweltypetable (
    id bigint NOT NULL,
    weapon_jewel1_type character varying(10) NOT NULL,
    weapon_jewel2_type character varying(10) NOT NULL,
    weapon_jewel3_type character varying(10) NOT NULL,
    weapon_jewel4_type character varying(10) NOT NULL,
    armor_jewel1_type character varying(10) NOT NULL,
    armor_jewel2_type character varying(10) NOT NULL,
    armor_jewel3_type character varying(10) NOT NULL,
    armor_jewel4_type character varying(10) NOT NULL,
    ring1_jewel1_type character varying(10) NOT NULL,
    ring1_jewel2_type character varying(10) NOT NULL,
    ring1_jewel3_type character varying(10) NOT NULL,
    ring1_jewel4_type character varying(10) NOT NULL,
    ring2_jewel1_type character varying(10) NOT NULL,
    ring2_jewel2_type character varying(10) NOT NULL,
    ring2_jewel3_type character varying(10) NOT NULL,
    ring2_jewel4_type character varying(10) NOT NULL,
    pet1_jewel1_type character varying(10) NOT NULL,
    pet1_jewel2_type character varying(10) NOT NULL,
    pet1_jewel3_type character varying(10) NOT NULL,
    pet1_jewel4_type character varying(10) NOT NULL,
    pet2_jewel1_type character varying(10) NOT NULL,
    pet2_jewel2_type character varying(10) NOT NULL,
    pet2_jewel3_type character varying(10) NOT NULL,
    pet2_jewel4_type character varying(10) NOT NULL,
    bracelet_jewel1_type character varying(10) NOT NULL,
    bracelet_jewel2_type character varying(10) NOT NULL,
    bracelet_jewel3_type character varying(10) NOT NULL,
    bracelet_jewel4_type character varying(10) NOT NULL,
    locket_jewel1_type character varying(10) NOT NULL,
    locket_jewel2_type character varying(10) NOT NULL,
    locket_jewel3_type character varying(10) NOT NULL,
    locket_jewel4_type character varying(10) NOT NULL,
    book_jewel1_type character varying(10) NOT NULL,
    book_jewel2_type character varying(10) NOT NULL,
    book_jewel3_type character varying(10) NOT NULL,
    book_jewel4_type character varying(10) NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_jeweltypetable OWNER TO postgres;

--
-- Name: calculator_jeweltypetable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_jeweltypetable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_jeweltypetable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_medalstable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_medalstable (
    id bigint NOT NULL,
    medals_1001 boolean NOT NULL,
    medals_1002 boolean NOT NULL,
    medals_1003 boolean NOT NULL,
    medals_1004 boolean NOT NULL,
    medals_1005 boolean NOT NULL,
    medals_1006 boolean NOT NULL,
    medals_1008 boolean NOT NULL,
    medals_1009 boolean NOT NULL,
    medals_1010 boolean NOT NULL,
    medals_1011 boolean NOT NULL,
    medals_1012 boolean NOT NULL,
    medals_2001 boolean NOT NULL,
    medals_2002 boolean NOT NULL,
    medals_2003 boolean NOT NULL,
    medals_2004 boolean NOT NULL,
    medals_2005 boolean NOT NULL,
    medals_2006 boolean NOT NULL,
    medals_2007 boolean NOT NULL,
    medals_2008 boolean NOT NULL,
    medals_2009 boolean NOT NULL,
    medals_2010 boolean NOT NULL,
    medals_2011 boolean NOT NULL,
    medals_2012 boolean NOT NULL,
    medals_2013 boolean NOT NULL,
    medals_2014 boolean NOT NULL,
    medals_3001 boolean NOT NULL,
    medals_3002 boolean NOT NULL,
    medals_3003 boolean NOT NULL,
    medals_3004 boolean NOT NULL,
    medals_3005 boolean NOT NULL,
    medals_3006 boolean NOT NULL,
    medals_3007 boolean NOT NULL,
    medals_3008 boolean NOT NULL,
    medals_3009 boolean NOT NULL,
    medals_3010 boolean NOT NULL,
    medals_3019 boolean NOT NULL,
    medals_3020 boolean NOT NULL,
    medals_3021 boolean NOT NULL,
    medals_3022 boolean NOT NULL,
    medals_3023 boolean NOT NULL,
    medals_3024 boolean NOT NULL,
    medals_3025 boolean NOT NULL,
    medals_3026 boolean NOT NULL,
    medals_3027 boolean NOT NULL,
    medals_3028 boolean NOT NULL,
    medals_3029 boolean NOT NULL,
    medals_3030 boolean NOT NULL,
    medals_3034 boolean NOT NULL,
    medals_3035 boolean NOT NULL,
    medals_3036 boolean NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_medalstable OWNER TO postgres;

--
-- Name: calculator_medalstable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_medalstable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_medalstable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_promocode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_promocode (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    is_active boolean NOT NULL,
    expire date
);


ALTER TABLE public.calculator_promocode OWNER TO postgres;

--
-- Name: calculator_promocode_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_promocode ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_promocode_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_promocodereward; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_promocodereward (
    id bigint NOT NULL,
    reward_type character varying(20) NOT NULL,
    reward_amount character varying(10),
    "promocodeId_id" bigint
);


ALTER TABLE public.calculator_promocodereward OWNER TO postgres;

--
-- Name: calculator_promocodereward_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_promocodereward ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_promocodereward_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_refinetable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_refinetable (
    id bigint NOT NULL,
    weapon_refine_atk integer NOT NULL,
    weapon_refine_basic_stats double precision NOT NULL,
    armor_refine_hp integer NOT NULL,
    armor_refine_basic_stats double precision NOT NULL,
    ring1_refine_atk integer NOT NULL,
    ring1_refine_basic_stats double precision NOT NULL,
    ring2_refine_atk integer NOT NULL,
    ring2_refine_basic_stats double precision NOT NULL,
    bracelet_refine_atk integer NOT NULL,
    bracelet_refine_basic_stats double precision NOT NULL,
    locket_refine_hp integer NOT NULL,
    locket_refine_basic_stats double precision NOT NULL,
    book_refine_hp integer NOT NULL,
    book_refine_basic_stats double precision NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_refinetable OWNER TO postgres;

--
-- Name: calculator_refinetable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_refinetable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_refinetable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_reforgetable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_reforgetable (
    id bigint NOT NULL,
    reforge_power integer NOT NULL,
    reforge_saviour integer NOT NULL,
    reforge_recovery integer NOT NULL,
    reforge_courage integer NOT NULL,
    reforge_luck integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_reforgetable OWNER TO postgres;

--
-- Name: calculator_reforgetable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_reforgetable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_reforgetable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_relicstable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_relicstable (
    id bigint NOT NULL,
    wraith_mask_level integer NOT NULL,
    wraith_mask_star integer NOT NULL,
    wraith_mask_effective double precision NOT NULL,
    clown_mask_level integer NOT NULL,
    clown_mask_star integer NOT NULL,
    clown_mask_effective double precision NOT NULL,
    princess_teddy_bear_level integer NOT NULL,
    princess_teddy_bear_star integer NOT NULL,
    princess_teddy_bear_effective double precision NOT NULL,
    belt_of_might_level integer NOT NULL,
    belt_of_might_star integer NOT NULL,
    belt_of_might_effective double precision NOT NULL,
    beastmaster_whistle_level integer NOT NULL,
    beastmaster_whistle_star integer NOT NULL,
    beastmaster_whistle_effective double precision NOT NULL,
    archmage_robe_level integer NOT NULL,
    archmage_robe_star integer NOT NULL,
    archmage_robe_effective double precision NOT NULL,
    shimmering_gem_level integer NOT NULL,
    shimmering_gem_star integer NOT NULL,
    bloom_of_eternity_level integer NOT NULL,
    bloom_of_eternity_star integer NOT NULL,
    bloom_of_eternity_effective double precision NOT NULL,
    challenger_headband_level integer NOT NULL,
    challenger_headband_star integer NOT NULL,
    jade_gobelet_level integer NOT NULL,
    jade_gobelet_star integer NOT NULL,
    jade_gobelet_effective double precision NOT NULL,
    veteran_plate_level integer NOT NULL,
    veteran_plate_star integer NOT NULL,
    dragonscale_level integer NOT NULL,
    dragonscale_star integer NOT NULL,
    dragonscale_effective double precision NOT NULL,
    dragon_tooth_level integer NOT NULL,
    dragon_tooth_star integer NOT NULL,
    dragon_tooth_effective double precision NOT NULL,
    scholar_telescope_level integer NOT NULL,
    scholar_telescope_star integer NOT NULL,
    pirate_shank_level integer NOT NULL,
    pirate_shank_star integer NOT NULL,
    giant_greatsword_level integer NOT NULL,
    giant_greatsword_star integer NOT NULL,
    giant_greatsword_effective double precision NOT NULL,
    healing_potion_level integer NOT NULL,
    healing_potion_star integer NOT NULL,
    whirlwind_mauler_level integer NOT NULL,
    whirlwind_mauler_star integer NOT NULL,
    whirlwind_mauler_effective double precision NOT NULL,
    special_lance_level integer NOT NULL,
    special_lance_star integer NOT NULL,
    special_lance_effective double precision NOT NULL,
    precision_slingshot_level integer NOT NULL,
    precision_slingshot_star integer NOT NULL,
    maidens_pearl_earring_level integer NOT NULL,
    maidens_pearl_earring_star integer NOT NULL,
    ancient_shield_level integer NOT NULL,
    ancient_shield_star integer NOT NULL,
    ancient_shield_effective double precision NOT NULL,
    supreme_trinity_alpha_level integer NOT NULL,
    supreme_trinity_alpha_star integer NOT NULL,
    supreme_trinity_alpha_effective double precision NOT NULL,
    golden_apple_level integer NOT NULL,
    golden_apple_star integer NOT NULL,
    golden_apple_effective double precision NOT NULL,
    ancient_stele_level integer NOT NULL,
    ancient_stele_star integer NOT NULL,
    ancient_stele_effective double precision NOT NULL,
    philosopher_stone_level integer NOT NULL,
    philosopher_stone_star integer NOT NULL,
    philosopher_stone_effective double precision NOT NULL,
    dragon_heart_level integer NOT NULL,
    dragon_heart_star integer NOT NULL,
    dragon_heart_effective double precision NOT NULL,
    spectral_duality_level integer NOT NULL,
    spectral_duality_star integer NOT NULL,
    spectral_duality_effective double precision NOT NULL,
    mystic_emblem_level integer NOT NULL,
    mystic_emblem_star integer NOT NULL,
    immortal_brooch_level integer NOT NULL,
    immortal_brooch_star integer NOT NULL,
    golden_statue_level integer NOT NULL,
    golden_statue_star integer NOT NULL,
    golden_statue_effective double precision NOT NULL,
    smilling_mask_level integer NOT NULL,
    smilling_mask_star integer NOT NULL,
    unmerciful_mask_level integer NOT NULL,
    unmerciful_mask_star integer NOT NULL,
    unmerciful_mask_effective double precision NOT NULL,
    holy_water_level integer NOT NULL,
    holy_water_star integer NOT NULL,
    holy_water_effective double precision NOT NULL,
    book_of_the_dead_level integer NOT NULL,
    book_of_the_dead_star integer NOT NULL,
    book_of_the_dead_effective double precision NOT NULL,
    psionist_treasure_level integer NOT NULL,
    psionist_treasure_star integer NOT NULL,
    book_of_archery_level integer NOT NULL,
    book_of_archery_star integer NOT NULL,
    book_of_archery_effective double precision NOT NULL,
    book_of_bravery_level integer NOT NULL,
    book_of_bravery_star integer NOT NULL,
    book_of_bravery_effective double precision NOT NULL,
    angelic_heart_level integer NOT NULL,
    angelic_heart_star integer NOT NULL,
    angelic_heart_effective double precision NOT NULL,
    devil_whisper_level integer NOT NULL,
    devil_whisper_star integer NOT NULL,
    devil_whisper_effective double precision NOT NULL,
    stone_of_wisdom_level integer NOT NULL,
    stone_of_wisdom_star integer NOT NULL,
    empyrean_mirror_level integer NOT NULL,
    empyrean_mirror_star integer NOT NULL,
    empyrean_mirror_effective double precision NOT NULL,
    fabled_archer_arrow_level integer NOT NULL,
    fabled_archer_arrow_star integer NOT NULL,
    fabled_archer_arrow_effective double precision NOT NULL,
    shiny_gemmed_belt_level integer NOT NULL,
    shiny_gemmed_belt_star integer NOT NULL,
    mythril_flux_mail_level integer NOT NULL,
    mythril_flux_mail_star integer NOT NULL,
    mythril_flux_mail_effective double precision NOT NULL,
    stealth_boots_level integer NOT NULL,
    stealth_boots_star integer NOT NULL,
    stealth_boots_effective double precision NOT NULL,
    assassin_dagger_level integer NOT NULL,
    assassin_dagger_star integer NOT NULL,
    assassin_dagger_effective double precision NOT NULL,
    gold_bunny_level integer NOT NULL,
    gold_bunny_star integer NOT NULL,
    lucky_coin_level integer NOT NULL,
    lucky_coin_star integer NOT NULL,
    dusken_cask_level integer NOT NULL,
    dusken_cask_star integer NOT NULL,
    dragon_eye_level integer NOT NULL,
    dragon_eye_star integer NOT NULL,
    dragon_eye_effective double precision NOT NULL,
    ring_of_greed_level integer NOT NULL,
    ring_of_greed_star integer NOT NULL,
    genesis_staff_level integer NOT NULL,
    genesis_staff_star integer NOT NULL,
    bloodstained_sword_level integer NOT NULL,
    bloodstained_sword_star integer NOT NULL,
    bloodstained_sword_effective double precision NOT NULL,
    starcluster_rage_level integer NOT NULL,
    starcluster_rage_star integer NOT NULL,
    starcluster_rage_effective double precision NOT NULL,
    elven_king_cape_level integer NOT NULL,
    elven_king_cape_star integer NOT NULL,
    elven_king_cape_effective double precision NOT NULL,
    spear_of_yggdrasil_level integer NOT NULL,
    spear_of_yggdrasil_star integer NOT NULL,
    spear_of_yggdrasil_effective double precision NOT NULL,
    dragon_gem_level integer NOT NULL,
    dragon_gem_star integer NOT NULL,
    dragon_gem_effective double precision NOT NULL,
    life_crown_level integer NOT NULL,
    life_crown_star integer NOT NULL,
    life_crown_effective double precision NOT NULL,
    sand_of_time_level integer NOT NULL,
    sand_of_time_star integer NOT NULL,
    sand_of_time_effective double precision NOT NULL,
    first_lightning_level integer NOT NULL,
    first_lightning_star integer NOT NULL,
    oracle_quill_level integer NOT NULL,
    oracle_quill_star integer NOT NULL,
    oracle_quill_effective double precision NOT NULL,
    bloodthirsty_grail_level integer NOT NULL,
    bloodthirsty_grail_star integer NOT NULL,
    bloodthirsty_grail_effective double precision NOT NULL,
    healing_grail_level integer NOT NULL,
    healing_grail_star integer NOT NULL,
    healing_grail_effective double precision NOT NULL,
    cupids_necklace_level integer NOT NULL,
    cupids_necklace_star integer NOT NULL,
    life_staff_level integer NOT NULL,
    life_staff_star integer NOT NULL,
    life_staff_effective double precision NOT NULL,
    light_grail_level integer NOT NULL,
    light_grail_star integer NOT NULL,
    primal_fire_level integer NOT NULL,
    primal_fire_star integer NOT NULL,
    primal_fire_effective double precision NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_relicstable OWNER TO postgres;

--
-- Name: calculator_relicstable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_relicstable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_relicstable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_runestable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_runestable (
    id bigint NOT NULL,
    power_line_1 character varying(30) NOT NULL,
    power_line_2 character varying(30) NOT NULL,
    power_line_3 character varying(30) NOT NULL,
    power_line_4 character varying(30) NOT NULL,
    power_line_5 character varying(30) NOT NULL,
    saviour_line_1 character varying(30) NOT NULL,
    saviour_line_2 character varying(30) NOT NULL,
    saviour_line_3 character varying(30) NOT NULL,
    saviour_line_4 character varying(30) NOT NULL,
    saviour_line_5 character varying(30) NOT NULL,
    recovery_line_1 character varying(30) NOT NULL,
    recovery_line_2 character varying(30) NOT NULL,
    recovery_line_3 character varying(30) NOT NULL,
    recovery_line_4 character varying(30) NOT NULL,
    recovery_line_5 character varying(30) NOT NULL,
    courage_line_1 character varying(30) NOT NULL,
    courage_line_2 character varying(30) NOT NULL,
    courage_line_3 character varying(30) NOT NULL,
    courage_line_4 character varying(30) NOT NULL,
    courage_line_5 character varying(30) NOT NULL,
    luck_line_1 character varying(30) NOT NULL,
    luck_line_2 character varying(30) NOT NULL,
    luck_line_3 character varying(30) NOT NULL,
    luck_line_4 character varying(30) NOT NULL,
    luck_line_5 character varying(30) NOT NULL,
    value_power_line_1 double precision NOT NULL,
    value_power_line_2 double precision NOT NULL,
    value_power_line_3 double precision NOT NULL,
    value_power_line_4 double precision NOT NULL,
    value_power_line_5 double precision NOT NULL,
    value_saviour_line_1 double precision NOT NULL,
    value_saviour_line_2 double precision NOT NULL,
    value_saviour_line_3 double precision NOT NULL,
    value_saviour_line_4 double precision NOT NULL,
    value_saviour_line_5 double precision NOT NULL,
    value_recovery_line_1 double precision NOT NULL,
    value_recovery_line_2 double precision NOT NULL,
    value_recovery_line_3 double precision NOT NULL,
    value_recovery_line_4 double precision NOT NULL,
    value_recovery_line_5 double precision NOT NULL,
    value_courage_line_1 double precision NOT NULL,
    value_courage_line_2 double precision NOT NULL,
    value_courage_line_3 double precision NOT NULL,
    value_courage_line_4 double precision NOT NULL,
    value_courage_line_5 double precision NOT NULL,
    value_luck_line_1 double precision NOT NULL,
    value_luck_line_2 double precision NOT NULL,
    value_luck_line_3 double precision NOT NULL,
    value_luck_line_4 double precision NOT NULL,
    value_luck_line_5 double precision NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_runestable OWNER TO postgres;

--
-- Name: calculator_runestable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_runestable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_runestable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_servermanagement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_servermanagement (
    id bigint NOT NULL,
    "archeroVersion" character varying(20) NOT NULL,
    "archeroIconLink" character varying(255) NOT NULL,
    "isMaintenance" boolean NOT NULL
);


ALTER TABLE public.calculator_servermanagement OWNER TO postgres;

--
-- Name: calculator_servermanagement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_servermanagement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_servermanagement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_skintable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_skintable (
    id bigint NOT NULL,
    skin_health integer NOT NULL,
    skin_attack integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_skintable OWNER TO postgres;

--
-- Name: calculator_skintable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_skintable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_skintable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_stufftable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_stufftable (
    id bigint NOT NULL,
    weapon_choosen character varying(20) NOT NULL,
    weapon_level bigint NOT NULL,
    weapon_rarity character varying(20) NOT NULL,
    armor_choosen character varying(20) NOT NULL,
    armor_level bigint NOT NULL,
    armor_rarity character varying(20) NOT NULL,
    ring1_choosen character varying(20) NOT NULL,
    ring1_level bigint NOT NULL,
    ring1_rarity character varying(20) NOT NULL,
    ring2_choosen character varying(20) NOT NULL,
    ring2_level bigint NOT NULL,
    ring2_rarity character varying(20) NOT NULL,
    pet1_choosen character varying(20) NOT NULL,
    pet1_level bigint NOT NULL,
    pet1_rarity character varying(20) NOT NULL,
    pet2_choosen character varying(20) NOT NULL,
    pet2_level bigint NOT NULL,
    pet2_rarity character varying(20) NOT NULL,
    bracelet_choosen character varying(20) NOT NULL,
    bracelet_level bigint NOT NULL,
    bracelet_rarity character varying(20) NOT NULL,
    locket_choosen character varying(20) NOT NULL,
    locket_level bigint NOT NULL,
    locket_rarity character varying(20) NOT NULL,
    book_choosen character varying(20) NOT NULL,
    book_level bigint NOT NULL,
    book_rarity character varying(20) NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_stufftable OWNER TO postgres;

--
-- Name: calculator_stufftable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_stufftable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_stufftable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_talenttable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_talenttable (
    id bigint NOT NULL,
    strength_level integer NOT NULL,
    power_level integer NOT NULL,
    recover_level integer NOT NULL,
    block_level integer NOT NULL,
    iron_bulwark_level integer NOT NULL,
    enhanced_equipment_level integer NOT NULL,
    hero_power_up_level integer NOT NULL,
    runes_power_up_level integer NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_talenttable OWNER TO postgres;

--
-- Name: calculator_talenttable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_talenttable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_talenttable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_theorycraftingarticle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_theorycraftingarticle (
    id bigint NOT NULL,
    "articleTitle" character varying(255) NOT NULL,
    "articleBody" text NOT NULL,
    "articleIcon" text,
    "articleHref" text
);


ALTER TABLE public.calculator_theorycraftingarticle OWNER TO postgres;

--
-- Name: calculator_theorycraftingarticle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_theorycraftingarticle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_theorycraftingarticle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_user (
    id bigint NOT NULL,
    ingame_id character varying(20) NOT NULL,
    ingame_name character varying(30) NOT NULL,
    global_atk_save integer NOT NULL,
    global_hp_save integer NOT NULL,
    choosen_hero character varying(30) NOT NULL,
    brave_privileges_level integer NOT NULL,
    atk_base_stats_hero_choosen bigint NOT NULL,
    health_base_stats_hero_choosen bigint NOT NULL,
    public_id bigint NOT NULL,
    public_profile boolean NOT NULL
);


ALTER TABLE public.calculator_user OWNER TO postgres;

--
-- Name: calculator_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calculator_weaponskinstable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calculator_weaponskinstable (
    id bigint NOT NULL,
    demon_blade_rain_1 boolean NOT NULL,
    demon_blade_rain_2 boolean NOT NULL,
    antiquated_sword_1 boolean NOT NULL,
    antiquated_sword_2 boolean NOT NULL,
    gale_force_1 boolean NOT NULL,
    gale_force_2 boolean NOT NULL,
    death_scythe_1 boolean NOT NULL,
    death_scythe_2 boolean NOT NULL,
    boomerang_1 boolean NOT NULL,
    boomerang_2 boolean NOT NULL,
    brightspear_1 boolean NOT NULL,
    brightspear_2 boolean NOT NULL,
    saw_blade_1 boolean NOT NULL,
    saw_blade_2 boolean NOT NULL,
    brave_bow_1 boolean NOT NULL,
    brave_bow_2 boolean NOT NULL,
    stalker_staff_1 boolean NOT NULL,
    stalker_staff_2 boolean NOT NULL,
    user_profile_id bigint
);


ALTER TABLE public.calculator_weaponskinstable OWNER TO postgres;

--
-- Name: calculator_weaponskinstable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.calculator_weaponskinstable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calculator_weaponskinstable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: calculator_altartable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_altartable (id, stuff_altar_level, stuff_altar_ascension, heros_altar_level, heros_altar_ascension, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_articlemenu; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_articlemenu (id, title, intro, body, small_description, image_label, last_change, is_new, display, index, titre_description, meta_description) FROM stdin;
\.


--
-- Data for Name: calculator_contributor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_contributor (id, label) FROM stdin;
\.


--
-- Data for Name: calculator_damagecalctable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_damagecalctable (id, hero_atk, missing_data, weapon_coeff, flat_dmg_vs_ground, flat_dmg_vs_airborne, flat_dmg_vs_melee, flat_dmg_vs_range, flat_dmg_vs_mobs, flat_dmg_vs_boss, flat_dmg_element, flat_dmg_all, flat_elite_dmg, flat_normal_dmg, var_dmg_vs_ground, var_dmg_vs_airborne, var_dmg_vs_melee, var_dmg_vs_range, var_dmg_vs_mobs, var_dmg_vs_boss, var_dmg_element, var_dmg_all, var_normal_dmg, var_elite_dmg, crit_dmg, crit_rate, dodge_rate, weapon_damage, weapon_melee_damage, weapon_ranged_damage, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_dragontable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_dragontable (id, dragon1_type, dragon2_type, dragon3_type, dragon1_rarity, dragon2_rarity, dragon3_rarity, dragon1_level, dragon2_level, dragon3_level, dragon_1_boost_1, dragon_1_boost_2, dragon_1_boost_3, dragon_1_boost_4, dragon_2_boost_1, dragon_2_boost_2, dragon_2_boost_3, dragon_2_boost_4, dragon_3_boost_1, dragon_3_boost_2, dragon_3_boost_3, dragon_3_boost_4, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_eggequippedtable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_eggequippedtable (id, egg_equipped1, egg_equipped2, egg_equipped3, egg_equipped4, egg_equipped5, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_eggtable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: calculator_googlesheet; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_googlesheet (id, title, "thumbnailLink", description, "urlLink", display, index) FROM stdin;
\.


--
-- Data for Name: calculator_herotable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: calculator_jewelleveltable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: calculator_jeweltypetable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: calculator_medalstable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: calculator_promocode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_promocode (id, code, is_active, expire) FROM stdin;
\.


--
-- Data for Name: calculator_promocodereward; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_promocodereward (id, reward_type, reward_amount, "promocodeId_id") FROM stdin;
\.


--
-- Data for Name: calculator_refinetable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_refinetable (id, weapon_refine_atk, weapon_refine_basic_stats, armor_refine_hp, armor_refine_basic_stats, ring1_refine_atk, ring1_refine_basic_stats, ring2_refine_atk, ring2_refine_basic_stats, bracelet_refine_atk, bracelet_refine_basic_stats, locket_refine_hp, locket_refine_basic_stats, book_refine_hp, book_refine_basic_stats, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_reforgetable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_reforgetable (id, reforge_power, reforge_saviour, reforge_recovery, reforge_courage, reforge_luck, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_relicstable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: calculator_runestable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: calculator_servermanagement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_servermanagement (id, "archeroVersion", "archeroIconLink", "isMaintenance") FROM stdin;
\.


--
-- Data for Name: calculator_skintable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_skintable (id, skin_health, skin_attack, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_stufftable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_stufftable (id, weapon_choosen, weapon_level, weapon_rarity, armor_choosen, armor_level, armor_rarity, ring1_choosen, ring1_level, ring1_rarity, ring2_choosen, ring2_level, ring2_rarity, pet1_choosen, pet1_level, pet1_rarity, pet2_choosen, pet2_level, pet2_rarity, bracelet_choosen, bracelet_level, bracelet_rarity, locket_choosen, locket_level, locket_rarity, book_choosen, book_level, book_rarity, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_talenttable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_talenttable (id, strength_level, power_level, recover_level, block_level, iron_bulwark_level, enhanced_equipment_level, hero_power_up_level, runes_power_up_level, user_profile_id) FROM stdin;
\.


--
-- Data for Name: calculator_theorycraftingarticle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_theorycraftingarticle (id, "articleTitle", "articleBody", "articleIcon", "articleHref") FROM stdin;
\.


--
-- Data for Name: calculator_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_user (id, ingame_id, ingame_name, global_atk_save, global_hp_save, choosen_hero, brave_privileges_level, atk_base_stats_hero_choosen, health_base_stats_hero_choosen, public_id, public_profile) FROM stdin;
\.


--
-- Data for Name: calculator_weaponskinstable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.calculator_weaponskinstable (id, demon_blade_rain_1, demon_blade_rain_2, antiquated_sword_1, antiquated_sword_2, gale_force_1, gale_force_2, death_scythe_1, death_scythe_2, boomerang_1, boomerang_2, brightspear_1, brightspear_2, saw_blade_1, saw_blade_2, brave_bow_1, brave_bow_2, stalker_staff_1, stalker_staff_2, user_profile_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 132, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: calculator_altartable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_altartable_id_seq', 1, false);


--
-- Name: calculator_articlemenu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_articlemenu_id_seq', 1, false);


--
-- Name: calculator_contributor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_contributor_id_seq', 1, false);


--
-- Name: calculator_damagecalctable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_damagecalctable_id_seq', 1, false);


--
-- Name: calculator_dragontable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_dragontable_id_seq', 1, false);


--
-- Name: calculator_eggequippedtable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_eggequippedtable_id_seq', 1, false);


--
-- Name: calculator_eggtable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_eggtable_id_seq', 1, false);


--
-- Name: calculator_googlesheet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_googlesheet_id_seq', 1, false);


--
-- Name: calculator_herotable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_herotable_id_seq', 1, false);


--
-- Name: calculator_jewelleveltable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_jewelleveltable_id_seq', 1, false);


--
-- Name: calculator_jeweltypetable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_jeweltypetable_id_seq', 1, false);


--
-- Name: calculator_medalstable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_medalstable_id_seq', 1, false);


--
-- Name: calculator_promocode_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_promocode_id_seq', 1, false);


--
-- Name: calculator_promocodereward_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_promocodereward_id_seq', 1, false);


--
-- Name: calculator_refinetable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_refinetable_id_seq', 1, false);


--
-- Name: calculator_reforgetable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_reforgetable_id_seq', 1, false);


--
-- Name: calculator_relicstable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_relicstable_id_seq', 1, false);


--
-- Name: calculator_runestable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_runestable_id_seq', 1, false);


--
-- Name: calculator_servermanagement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_servermanagement_id_seq', 1, false);


--
-- Name: calculator_skintable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_skintable_id_seq', 1, false);


--
-- Name: calculator_stufftable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_stufftable_id_seq', 1, false);


--
-- Name: calculator_talenttable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_talenttable_id_seq', 1, false);


--
-- Name: calculator_theorycraftingarticle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_theorycraftingarticle_id_seq', 1, false);


--
-- Name: calculator_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_user_id_seq', 1, false);


--
-- Name: calculator_weaponskinstable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.calculator_weaponskinstable_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 33, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: calculator_altartable calculator_altartable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_altartable
    ADD CONSTRAINT calculator_altartable_pkey PRIMARY KEY (id);


--
-- Name: calculator_articlemenu calculator_articlemenu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_articlemenu
    ADD CONSTRAINT calculator_articlemenu_pkey PRIMARY KEY (id);


--
-- Name: calculator_contributor calculator_contributor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_contributor
    ADD CONSTRAINT calculator_contributor_pkey PRIMARY KEY (id);


--
-- Name: calculator_damagecalctable calculator_damagecalctable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_damagecalctable
    ADD CONSTRAINT calculator_damagecalctable_pkey PRIMARY KEY (id);


--
-- Name: calculator_dragontable calculator_dragontable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_dragontable
    ADD CONSTRAINT calculator_dragontable_pkey PRIMARY KEY (id);


--
-- Name: calculator_eggequippedtable calculator_eggequippedtable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_eggequippedtable
    ADD CONSTRAINT calculator_eggequippedtable_pkey PRIMARY KEY (id);


--
-- Name: calculator_eggtable calculator_eggtable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_eggtable
    ADD CONSTRAINT calculator_eggtable_pkey PRIMARY KEY (id);


--
-- Name: calculator_googlesheet calculator_googlesheet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_googlesheet
    ADD CONSTRAINT calculator_googlesheet_pkey PRIMARY KEY (id);


--
-- Name: calculator_herotable calculator_herotable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_herotable
    ADD CONSTRAINT calculator_herotable_pkey PRIMARY KEY (id);


--
-- Name: calculator_jewelleveltable calculator_jewelleveltable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_jewelleveltable
    ADD CONSTRAINT calculator_jewelleveltable_pkey PRIMARY KEY (id);


--
-- Name: calculator_jeweltypetable calculator_jeweltypetable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_jeweltypetable
    ADD CONSTRAINT calculator_jeweltypetable_pkey PRIMARY KEY (id);


--
-- Name: calculator_medalstable calculator_medalstable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_medalstable
    ADD CONSTRAINT calculator_medalstable_pkey PRIMARY KEY (id);


--
-- Name: calculator_promocode calculator_promocode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_promocode
    ADD CONSTRAINT calculator_promocode_pkey PRIMARY KEY (id);


--
-- Name: calculator_promocodereward calculator_promocodereward_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_promocodereward
    ADD CONSTRAINT calculator_promocodereward_pkey PRIMARY KEY (id);


--
-- Name: calculator_refinetable calculator_refinetable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_refinetable
    ADD CONSTRAINT calculator_refinetable_pkey PRIMARY KEY (id);


--
-- Name: calculator_reforgetable calculator_reforgetable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_reforgetable
    ADD CONSTRAINT calculator_reforgetable_pkey PRIMARY KEY (id);


--
-- Name: calculator_relicstable calculator_relicstable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_relicstable
    ADD CONSTRAINT calculator_relicstable_pkey PRIMARY KEY (id);


--
-- Name: calculator_runestable calculator_runestable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_runestable
    ADD CONSTRAINT calculator_runestable_pkey PRIMARY KEY (id);


--
-- Name: calculator_servermanagement calculator_servermanagement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_servermanagement
    ADD CONSTRAINT calculator_servermanagement_pkey PRIMARY KEY (id);


--
-- Name: calculator_skintable calculator_skintable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_skintable
    ADD CONSTRAINT calculator_skintable_pkey PRIMARY KEY (id);


--
-- Name: calculator_stufftable calculator_stufftable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_stufftable
    ADD CONSTRAINT calculator_stufftable_pkey PRIMARY KEY (id);


--
-- Name: calculator_talenttable calculator_talenttable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_talenttable
    ADD CONSTRAINT calculator_talenttable_pkey PRIMARY KEY (id);


--
-- Name: calculator_theorycraftingarticle calculator_theorycraftingarticle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_theorycraftingarticle
    ADD CONSTRAINT calculator_theorycraftingarticle_pkey PRIMARY KEY (id);


--
-- Name: calculator_user calculator_user_ingame_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_user
    ADD CONSTRAINT calculator_user_ingame_id_key UNIQUE (ingame_id);


--
-- Name: calculator_user calculator_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_user
    ADD CONSTRAINT calculator_user_pkey PRIMARY KEY (id);


--
-- Name: calculator_weaponskinstable calculator_weaponskinstable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_weaponskinstable
    ADD CONSTRAINT calculator_weaponskinstable_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: calculator_altartable_user_profile_id_3f457190; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_altartable_user_profile_id_3f457190 ON public.calculator_altartable USING btree (user_profile_id);


--
-- Name: calculator_damagecalctable_user_profile_id_3d1217f9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_damagecalctable_user_profile_id_3d1217f9 ON public.calculator_damagecalctable USING btree (user_profile_id);


--
-- Name: calculator_dragontable_user_profile_id_f2a69666; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_dragontable_user_profile_id_f2a69666 ON public.calculator_dragontable USING btree (user_profile_id);


--
-- Name: calculator_eggequippedtable_user_profile_id_df44590f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_eggequippedtable_user_profile_id_df44590f ON public.calculator_eggequippedtable USING btree (user_profile_id);


--
-- Name: calculator_eggtable_user_profile_id_1471961f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_eggtable_user_profile_id_1471961f ON public.calculator_eggtable USING btree (user_profile_id);


--
-- Name: calculator_herotable_user_profile_id_3cbdf2a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_herotable_user_profile_id_3cbdf2a1 ON public.calculator_herotable USING btree (user_profile_id);


--
-- Name: calculator_jewelleveltable_user_profile_id_92be3732; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_jewelleveltable_user_profile_id_92be3732 ON public.calculator_jewelleveltable USING btree (user_profile_id);


--
-- Name: calculator_jeweltypetable_user_profile_id_e1de95f1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_jeweltypetable_user_profile_id_e1de95f1 ON public.calculator_jeweltypetable USING btree (user_profile_id);


--
-- Name: calculator_medalstable_user_profile_id_236a6a2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_medalstable_user_profile_id_236a6a2c ON public.calculator_medalstable USING btree (user_profile_id);


--
-- Name: calculator_promocodereward_promocodeId_id_14223a0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "calculator_promocodereward_promocodeId_id_14223a0e" ON public.calculator_promocodereward USING btree ("promocodeId_id");


--
-- Name: calculator_refinetable_user_profile_id_fa88ab9a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_refinetable_user_profile_id_fa88ab9a ON public.calculator_refinetable USING btree (user_profile_id);


--
-- Name: calculator_reforgetable_user_profile_id_40346dbd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_reforgetable_user_profile_id_40346dbd ON public.calculator_reforgetable USING btree (user_profile_id);


--
-- Name: calculator_relicstable_user_profile_id_8d845ef0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_relicstable_user_profile_id_8d845ef0 ON public.calculator_relicstable USING btree (user_profile_id);


--
-- Name: calculator_runestable_user_profile_id_614465a4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_runestable_user_profile_id_614465a4 ON public.calculator_runestable USING btree (user_profile_id);


--
-- Name: calculator_skintable_user_profile_id_650c6da3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_skintable_user_profile_id_650c6da3 ON public.calculator_skintable USING btree (user_profile_id);


--
-- Name: calculator_stufftable_user_profile_id_7b6cc080; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_stufftable_user_profile_id_7b6cc080 ON public.calculator_stufftable USING btree (user_profile_id);


--
-- Name: calculator_talenttable_user_profile_id_e98779f7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_talenttable_user_profile_id_e98779f7 ON public.calculator_talenttable USING btree (user_profile_id);


--
-- Name: calculator_user_ingame_id_1fe75b45_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_user_ingame_id_1fe75b45_like ON public.calculator_user USING btree (ingame_id varchar_pattern_ops);


--
-- Name: calculator_weaponskinstable_user_profile_id_d2aa2eb5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX calculator_weaponskinstable_user_profile_id_d2aa2eb5 ON public.calculator_weaponskinstable USING btree (user_profile_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_altartable calculator_altartabl_user_profile_id_3f457190_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_altartable
    ADD CONSTRAINT calculator_altartabl_user_profile_id_3f457190_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_damagecalctable calculator_damagecal_user_profile_id_3d1217f9_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_damagecalctable
    ADD CONSTRAINT calculator_damagecal_user_profile_id_3d1217f9_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_dragontable calculator_dragontab_user_profile_id_f2a69666_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_dragontable
    ADD CONSTRAINT calculator_dragontab_user_profile_id_f2a69666_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_eggequippedtable calculator_eggequipp_user_profile_id_df44590f_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_eggequippedtable
    ADD CONSTRAINT calculator_eggequipp_user_profile_id_df44590f_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_eggtable calculator_eggtable_user_profile_id_1471961f_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_eggtable
    ADD CONSTRAINT calculator_eggtable_user_profile_id_1471961f_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_herotable calculator_herotable_user_profile_id_3cbdf2a1_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_herotable
    ADD CONSTRAINT calculator_herotable_user_profile_id_3cbdf2a1_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_jewelleveltable calculator_jewelleve_user_profile_id_92be3732_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_jewelleveltable
    ADD CONSTRAINT calculator_jewelleve_user_profile_id_92be3732_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_jeweltypetable calculator_jeweltype_user_profile_id_e1de95f1_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_jeweltypetable
    ADD CONSTRAINT calculator_jeweltype_user_profile_id_e1de95f1_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_medalstable calculator_medalstab_user_profile_id_236a6a2c_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_medalstable
    ADD CONSTRAINT calculator_medalstab_user_profile_id_236a6a2c_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_promocodereward calculator_promocode_promocodeId_id_14223a0e_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_promocodereward
    ADD CONSTRAINT "calculator_promocode_promocodeId_id_14223a0e_fk_calculato" FOREIGN KEY ("promocodeId_id") REFERENCES public.calculator_promocode(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_refinetable calculator_refinetab_user_profile_id_fa88ab9a_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_refinetable
    ADD CONSTRAINT calculator_refinetab_user_profile_id_fa88ab9a_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_reforgetable calculator_reforgeta_user_profile_id_40346dbd_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_reforgetable
    ADD CONSTRAINT calculator_reforgeta_user_profile_id_40346dbd_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_relicstable calculator_relicstab_user_profile_id_8d845ef0_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_relicstable
    ADD CONSTRAINT calculator_relicstab_user_profile_id_8d845ef0_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_runestable calculator_runestabl_user_profile_id_614465a4_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_runestable
    ADD CONSTRAINT calculator_runestabl_user_profile_id_614465a4_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_skintable calculator_skintable_user_profile_id_650c6da3_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_skintable
    ADD CONSTRAINT calculator_skintable_user_profile_id_650c6da3_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_stufftable calculator_stufftabl_user_profile_id_7b6cc080_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_stufftable
    ADD CONSTRAINT calculator_stufftabl_user_profile_id_7b6cc080_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_talenttable calculator_talenttab_user_profile_id_e98779f7_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_talenttable
    ADD CONSTRAINT calculator_talenttab_user_profile_id_e98779f7_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: calculator_weaponskinstable calculator_weaponski_user_profile_id_d2aa2eb5_fk_calculato; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calculator_weaponskinstable
    ADD CONSTRAINT calculator_weaponski_user_profile_id_d2aa2eb5_fk_calculato FOREIGN KEY (user_profile_id) REFERENCES public.calculator_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

