{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'calculator.css' %}?version=1.5.1a">
<title>{{ name }} Stats - Wiki</title>
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.5.1a">
<meta name="description" content="{{ name }} Stats - Wiki">
<meta property="og:url" content="https://stats.wiki-archero.com/calculator/show/{{pbid}}/">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ name }} Stats - Archero Wiki">
<meta property="og:description" content="{{ name }} : {{global_stats_atk}} Attack / {{global_stats_hp}} Hp">
<meta property="og:image" content="https://stats.wiki-archero.com/static/image/stuff_save/stuff_{{ name }}.png">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<main class="main-affiche">
	{% if ValueError == "yes" %}
		<div class="error_data_missing">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"> Error </i>
			<div class="id_error_msg">
				Missing Data : {{ missing_data }}⭐
			</div>
		</div>
	{% endif %}
	<script>
		function toggleDetailStats(){
			var contain_image_stuff = document.getElementById('contain-image-stuff')
			var detail_stats = document.getElementById('detail-stats')
			switch(contain_image_stuff.style.display){
				case "none":
					contain_image_stuff.style.display = "flex"
					break
				case "flex":
					contain_image_stuff.style.display = "none"
					break
			}
			switch(detail_stats.style.display){
				case "none":
					detail_stats.style.display = "block"
					break
				case "block":
					detail_stats.style.display = "none"
					break
			}
		}
	</script>
	{% if DEV_MODE %}
		<div class="go_to_details dev_div"><a href="/del_dev/{{ pbid }}/">Reload Stats (only dev mode)</a></div>
	{% endif %}
	<div class="go_to_details" onclick="toggleDetailStats()">Switch Stats/Details</div>
	<div id="contain-image-stuff" class="contain-image-stuff" style="display: flex;">
		<div class="image-div-stuff">
			<div class="orb-jewel">
				<img alt="light rotating" class="rotating img-light2" src="/static/image/light/light5.png">
				<img alt="jewel" class="button-jewel" src="/static/image/round_jewel/button.png">
				<img alt="light rotating" class="rotating img-light1" src="/static/image/light/light5.png">
				<img alt="dragon" class="button-dragon" src="/static/image/stuff_save/dragon_save/{{ pbid }}.png">
			</div>
			<div class="image-stuff-result-container">
				<img alt="stuff image" class="image-stuff-result" src="{% static 'image/stuff_save/'|add:pbid|add:'.png' %}?version=1.5.1a">
				<div class="image-stuff-result-bg"></div>
			</div>
		</div>
	</div>
	<div id="detail-stats" class="detail-stats" style="display: none;">
		<div class="stats-box">
			<h3>Critic Damage / Critic Rate</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Critic Damage">+{{ global_critic_damage }}%</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" alt="Critic value image" title="Critic value" src="/static/image/wiki-image/CritValue.png">
				</div>
				<div class="stat-item">
					<p title="Critic Rate">+{{ global_crit_rate }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box dodge">
			<h3>Dodge Rate</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Dodge Rate">+{{ global_dodge_chance }}%</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Dodge Rate" alt="Dodge Rate image" width="50px" height="50px" src="/static/image/wiki-image/dodge_skill.png">
				</div>
			</div>
		</div>
		<div class="stats-box dodge">
			<h3>Elemental Damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Elemental Damage">+{{ global_elemental_damage }}%</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Elemental Damage" alt="Elemental Damage image" width="50px" height="50px" src="/static/image/wiki-image/elemental_damage.png">
				</div>
			</div>
		</div>
		<div class="stats-box monster_damage">
			<h3>Mobs damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Damage to Mob">+{{ global_mobs_damage }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Mob" alt="Damage to Mob image" src="/static/image/wiki-image/HitToMonster.png">
				</div>
				<div class="stat-item">
					<p title="Damage to Mob %">+{{ global_mobs_damage_var }}%</p>
			  </div>
			</div>
		</div>
		<div class="stats-box boss_damage">
			<h3>Boss damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Damage to Boss">+{{ global_boss_damage }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Boss" alt="Damage to Boss image" src="/static/image/wiki-image/HitToBoss.png">
				</div>
				<div class="stat-item">
					<p title="Damage to Boss %">+{{ global_boss_damage_var }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box ranged_damage">
			<h3>Ranged damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Damage to Ranged Units">+{{ global_ranged_damage }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Ranged" alt="Damage to Ranged image" src="/static/image/wiki-image/HitToFar.png">
				</div>
				<div class="stat-item">
					<p title="Damage to Ranged Units %">+{{ global_ranged_damage_var }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box ground_damage">
			<h3>Ground damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Damage to Ground Units %">+{{ global_ground_damage }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Ground" alt="Damage to Ground image" src="/static/image/wiki-image/HitToGround.png">
				</div>
				<div class="stat-item">
					<p title="Damage to Ground Units %">+{{ global_ground_damage_var }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box airborne_damage">
			<h3>Airborne damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Damage to Airborne Units">+{{ global_airborne_damage }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Airborne" alt="Damage to Airborne image" src="/static/image/wiki-image/HitToFly.png">
				</div>
				<div class="stat-item">
					<p title="Damage to Airborne Units %">+{{ global_airborne_damage_var }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box melee_damage">
			<h3>Melee damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Melee Damage">+{{ global_melee_damage }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Melee" alt="Damage to Melee image" src="/static/image/wiki-image/HitToNear.png">
				</div>
				<div class="stat-item">
					<p title="Melee Damage %">+{{ global_melee_damage_var }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box elite_damage">
			<h3>Elite Monsters Damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Elite Monster Damage">+{{ global_elite_damage_flat }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Elite Monsters" alt="Damage to Elite Monsters" src="/static/image/wiki-image/EliteMonster.png">
				</div>
				<div class="stat-item">
					<p title="Elite Monster Damage %">+{{ global_elite_damage_var }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box elite_damage">
			<h3>Normal Monsters Damage</h3>
			<div class="damage_container_box">
				<div class="stat-item">
					<p title="Normal Monster Damage">+{{ global_normal_damage_flat }}</p>
				</div>
				<div class="stat-item">
					<img class="image_damage_type_stats" title="Damage to Normal Monsters" alt="Damage to Normal Monsters" src="/static/image/wiki-image/NormalMonster.png">
				</div>
				<div class="stat-item">
					<p title="Normal Monster Damage %">+{{ global_normal_damage_var }}%</p>
				</div>
			</div>
		</div>
		<div class="stats-box elite_damage">
			<h3>Weapon Damage</h3>
			<div class="center_content">
				<div class="stat-item">
					<p title="Normal Monster Damage">+{{ weapon_damage }}%</p>
				</div>
			</div>
			<h3>Melee Weapon Damage</h3>
			<div class="center_content">
				<div class="stat-item">
					<p title="Normal Monster Damage">+{{ weapon_melee_damage }}%</p>
				</div>
			</div>
			<h3>Ranged Weapon Damage</h3>
			<div class="center_content">
				<div class="stat-item">
					<p title="Normal Monster Damage %">+{{ weapon_ranged_damage }}%</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
{% block javascript %}
<script>
	const self_inline_div_traveling = document.getElementById('Stats-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
{% endblock %} 