<!doctype html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'calculator.css' %}?version=1.18.2 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}?version=1.18.2 %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}?version=1.18.2 %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Wiki - Calculator</title>
	<script src="https://kit.fontawesome.com/0b193e89de.js" crossorigin="anonymous"></script>
	<script src="{% static 'main.js' %}"></script>
</head>
{% if darkmode == "yes" %}
<body class="body_dark_mode">
{% elif darkmode == "no" %}
<body>
{% endif %}
<noscript>
	<div id="no-script-message">
		<p>Please enable JavaScript to use this website.</p>
	  </div>
</noscript>
	<div class="main-container">
		<div class="sidebar sidebar-open sidebar-position-f" id="sidebar">
			<div class="sidebar-icon" id="sidebar-icon">
				<div class="leftsidebarc" id="lscimg"> <div class="lcontent">SIDEBAR</div></div>
				<div class="rightsidebarc" id="rscimg">
					<svg id="svg-filter-sidebar" width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScIconSVG-sc-1q25cff-1 dSicFr"><g><path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path></g></svg>
				</div>
			</div>
			<div class="traveling" id="traveling">
				<!-- SIDEBAR CONTENT INJECTED BY JAVASCRIPT -->
			</div>
		</div>
		<main class="main-menu cmcath">
			<header class="header-container">
				<div class="header-container-1"></div>
				<div class="header-container-2 header_msg"><h2>{{ header_msg }}</h2></div>
				<div class="header-container-3 globe_header_icon">
					<!-- <label for="lang"><i class="fa-solid fa-globe"></i></label>
					<select name="lang" id="lang">
						{% for language in lang %}
						<option value="{{language}}">{{language}}</option>
						{% endfor %}
					</select> -->
				</div>
			</header>
			<div class="main-index">
				{% if show_table == "no_profile" %}
				<div class="div_formulaire">
					<a href="/calculator/create/">Create profile</a>
				</div>
				{% endif %}
				<div class="div-table-index">
					{% if show_table == "yes" %}
					<table class="index-table self-table">
						<thead class="table-header">
							<tr>
								<th>Username</th>
								<th class="self_table_atk_row">Attack</th>
								<th class="self_table_hp_row">Hp</th>
								<th>Show</th>
								<th>Update</th>
							</tr>
						</thead>
						<tbody class="table-content">
						<tr>
							<td id="td-table-stats-index">{{ self_ingame_name }}</td>
							<td id="td-table-stats-index" class="self_table_atk_row">{{ self_global_atk_save }}</td>
							<td id="td-table-stats-index" class="self_table_hp_row">{{ self_global_hp_save }}</td>
							<td id="td-table-stats-index"><a href='/calculator/show/{{ self_public_id }}/'><button class="btn-table">Show</button></a></td>
							<td id="td-table-stats-index"><a href='/calculator/update/{{ self_public_id }}/'><button class="btn-table">Update</button></a></td>
						</tr>
						</tbody>
					</table>
					{% elif show_table == "visitor" %}
					<div class="div_formulaire">
						<a href="/login">Log-in</a>
					</div>
					<p class="msg-index-no-profile">If you already have a profile, please contact me on <a href="https://discord.com/users/382930544385851392" target="_blank">Discord</a> or <a href="https://www.reddit.com/user/LuhCaran101" target="_blank">Reddit</a></p>
					{% elif show_table == "no_profile" %}
					<p class="msg-index-no-profile">If you already have a profile, please contact me on <a href="https://discord.com/users/382930544385851392" target="_blank">Discord</a> or <a href="https://www.reddit.com/user/LuhCaran101" target="_blank">Reddit</a></p>
					{% endif %}
					<div class="container_table_all">
						<table id="index-table" class="index-table overflow_index_table">
							<thead class="table-header">
								<tr>
									<th>Username</th>
									<th class="hero_row">Hero</th>
									<th class="table_atk_row">Attack</th>
									<th class="table_hp_row">Hp</th>
									<th>Show</th>
								</tr>
							</thead>
							<tbody class="table-content">
							{% for l in listALL %}
							<tr id="{{ l.ingame_name }}">
								<td id="td-table-stats-index">{{ l.ingame_name }}</td>
								<td id="td-table-stats-index" class="hero_row">{{ l.choosen_hero }}</td>
								<td id="td-table-stats-index" class="table_atk_row">{{ l.global_atk_save }}</td>
								<td id="td-table-stats-index" class="table_hp_row">{{ l.global_hp_save }}</td>
								<td id="td-table-stats-index"><a href='/calculator/show/{{ l.public_id }}/'><button class="btn-table">Show</button></a></td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="pagination"></div>
				</div>
			</div>
		</main>
		<footer>
			<div class="footer-content">
				<div class="footer-about">
					<img class="footer-img-icon" src="/static/image/archero_icon.png" alt="image game icon">
					<div class="about-content">
						<h2>Archero :</h2>
						<div>Archero Update will be added with a certains delay</div>
						<div class="contact-me">
							<div>If you encounter any bugs / anomaly please contact me on discord</div>
							<div><b><a class="me-discord-link" href="https://discord.com/users/382930544385851392" target="_blank"><i class="fa-brands fa-discord"></i> LuhCaran#9802</a></b></div>
						</div>
					</div>
				</div>
				<div class="discord_link">
					<div class="container_dlink">
						<h2>Community Link:</h2> 
						<a href="https://discord.gg/d7w6FxhHjj" target="_blank"><li> LeMutique's Server</li></a>
						<a href="https://discord.gg/eAqZquTF6X" target="_blank"><li> TigerShark's Server</li></a>
					</div>
					<div class="container_rlink">
						<a href="https://www.reddit.com/r/Archero/" target="_blank"><li> r/Archero</li></a>
					</div>
					<div class="container_flink">
						<a href="https://www.facebook.com/archerogame/" target="_blank"><li> FB Archero</li></a>
					</div>
				</div>
				<div class="thanks">
					<h2>Shout-out :</h2>
				<div class="shout-out">SonHaon, Deth, TigerShark14</div>
				<div class="shout-out">Ktaplouf, Pew, Lorenz, RedsMeName</div>
				<div class="shout-out">Everyone who helped me getting data</div>
				</div>
			</div>
		</footer>
	</div>
</body>
<script>
	const traveling = document.getElementById("traveling")

	for(const item of sidebar){
		const parentContainer = document.createElement("div")
		const leftSidebar = document.createElement("div")
		const childLeftSidebar = document.createElement("div")
		const rightSidebar = document.createElement("div")
		const childRightSidebar = document.createElement("a")
		const image = document.createElement("img")

		traveling.appendChild(parentContainer)
		parentContainer.appendChild(leftSidebar)
		parentContainer.appendChild(rightSidebar)
		leftSidebar.appendChild(childLeftSidebar)
		rightSidebar.appendChild(childRightSidebar)
		childRightSidebar.appendChild(image)

		parentContainer.className = item['container']['class']
        parentContainer.id = item['container']['_name'] + "-sidebar-image"
		parentContainer.addEventListener('click', function windowHref(){
			window.location.href = item['container']['onclick']
		})
		leftSidebar.className = item['container']['childs_container']['leftsidebar']['self_class']
		childLeftSidebar.className = item['container']['childs_container']['leftsidebar']['child_class']
		childLeftSidebar.innerHTML = item['container']['childs_container']['leftsidebar']['child_content']
		rightSidebar.className = item['container']['childs_container']['rightsidebar']['self_class']
		childRightSidebar.className = item['container']['childs_container']['rightsidebar']['child_class']
		image.id = item['container']['childs_container']['rightsidebar']['child_content']['image_id']
		image.src = item['container']['childs_container']['rightsidebar']['child_content']['image_src']
		image.width = item['container']['childs_container']['rightsidebar']['child_content']['image_width']
		image.height = item['container']['childs_container']['rightsidebar']['child_content']['image_height']
	}

	const themeParentContainer = document.createElement("div")
	const themeLeftSidebar = document.createElement("div")
	const themeChildLeftSidebar = document.createElement("div")
	const themeRightSidebar = document.createElement("div")
	const themeImg = document.createElement("img")

	traveling.appendChild(themeParentContainer)
	themeParentContainer.appendChild(themeLeftSidebar)
	themeParentContainer.appendChild(themeRightSidebar)
	themeLeftSidebar.appendChild(themeChildLeftSidebar)
	themeRightSidebar.appendChild(themeImg)

	themeParentContainer.className = "traveling-inline-div"
	themeParentContainer.id = "switch_dark_mode"
	themeLeftSidebar.className = "leftsidebarc traveling-left"
	themeChildLeftSidebar.className = "shcl"
	themeChildLeftSidebar.innerHTML = "Theme"
	themeRightSidebar.className = "rightsidebarc traveling-right"
	themeImg.id = "darkmodeSWITCH" 
	themeImg.width = "21"
	themeImg.height = "21"

	var darkmode = "{{ darkmode }}"
	if(darkmode == "yes"){
		themeImg.src = "\\static\\image\\img-sidebar\\moon.png"
	}else if(darkmode == "no"){
		themeImg.src = "\\static\\image\\img-sidebar\\sun.png"
	}
	
	var switchModeBtn = document.getElementById('switch_dark_mode');
	switchModeBtn.addEventListener('click', function toggleClassDarkMode(){
		var date = new Date()
		var darkmodeSWITCH = document.getElementById('darkmodeSWITCH')
		date.setTime(date.getTime() + (365*24*60*60*1000));
		var body = document.body;
		body.classList.toggle("body_dark_mode");
		if(body.className == "body_dark_mode"){
			document.cookie = "modeDisplay=True; expires=" + date.toUTCString() + "; path=/";
			darkmodeSWITCH.src = "\\static\\image\\img-sidebar\\moon.png"
		}else{
			document.cookie = 'modeDisplay=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			darkmodeSWITCH.src = "\\static\\image\\img-sidebar\\sun.png"
		}
	})

	var sidebarBtn = document.getElementById('sidebar-icon');
	sidebarBtn.addEventListener('click', function toggleSideBarClass(){
		var sidebar = document.getElementById("sidebar")
		sidebar.classList.toggle('sidebar-active')
        sidebar.classList.toggle('sidebar-open')
	})
</script>
<script>
	const self_inline_div_traveling = document.getElementById('Stats-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
<script>
	// SCRIPT MADE BY CHAT GPT (because to lazy :weary:)
	const table = document.querySelector("#index-table tbody");
	const rows = table.rows;
	const rowsPerPage = 18;
	const numPages = Math.ceil(rows.length / rowsPerPage);
	const pagination = document.querySelector("#pagination");

	for (let i = 0; i < numPages; i++) {
	const pageButton = document.createElement("button");
	pageButton.textContent = i + 1;
	pageButton.addEventListener("click", function () {
		showPage(i);
	});
	pagination.appendChild(pageButton);
	}

	function showPage(pageNum) {
	for (let i = 0; i < rows.length; i++) {
		rows[i].style.display = "none";
	}
	for (let i = pageNum * rowsPerPage; i < (pageNum + 1) * rowsPerPage; i++) {
		if (i < rows.length) {
		rows[i].style.display = "table-row";
		}
	}
	}

	showPage(0);
	pagination.firstChild.classList.add("active");

	pagination.addEventListener("click", function (event) {
  	if (event.target.tagName === "BUTTON") {
		const activeButton = pagination.querySelector("button.active");
		activeButton.classList.remove("active");
		event.target.classList.add("active");
	}});
</script>
</html>