{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'calculator.css' %}?version=1.6.4b">
<title>Archero - Wiki - Calculator</title>
<meta property="og:title" content="Archero Stats Calculator">
<meta property="og:url" content="https://stats.wiki-archero.com/calculator/index/">
<meta property="og:type" content="website">
<meta property="og:description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players">
<meta name="description" content="Welcome to the Archero wiki, your go-to resource for the popular mobile game by HABBY. Explore tier lists, comprehensive guides, hero breakdowns, and item stats to enhance your gameplay. Dive into the world of Archero, available for both Android and iOS players">
<meta property="og:image" content="{% static 'image/archero_icon.png' %}?version=1.6.4b">
{% endblock %}
{% block header_content %}{{ header_msg }}{% endblock %}
{% block content %}
<div class="main-index">
	<div class="div-table-index">
		{% if show_table == "no_profile" %}
		<div class="div_formulaire">
			<a href="/calculator/create/">Create profile</a>
		</div>
		{% elif show_table == "yes" %}
		<div class="profile-card">
			<div class="avatar-container">
				<img src="{{ self_ingame_hero }}" alt="Avatar">
			</div>
			<div class="info-container">
				<h3>{{ self_ingame_name }}</h3>
				<div class="stat-container">
					<div class="stat">
						<span class="label">Attack:</span>
						<span class="value">{{ self_global_atk_save }}</span>
					</div>
					<div class="stat">
						<span class="label">Rank:</span>
						<span class="value">{{ rank }}</span>
					</div>
					<div class="stat">
						<span class="label">HP:</span>
						<span class="value">{{ self_global_hp_save }}</span>
					</div>
				</div>
			</div>
			<div class="button-container">
				<a href='/calculator/show/{{ self_public_id }}/'><button class="btn-table">Show</button></a>
				<a href='/calculator/update/{{ self_public_id }}/'><button class="btn-table">Update</button></a>
			</div>
		</div>
		{% elif show_table == "visitor" %}
		<div class="div_formulaire">
			<a href="/login">Log-in</a>
		</div>
		<div class="help-index-msg">
			<p class="msg-index-no-profile">If you already have a profile, please contact me on <a href="https://discord.com/users/382930544385851392" target="_blank">Discord</a> or <a href="https://www.reddit.com/user/LuhCaran101" target="_blank">Reddit</a></p>
		</div>
		{% endif %}
		<div class="table-responsive" id="index-table">
			<table class="table">
				<thead>
					<tr>
						<th>Username</th>
						<th class="hero_row">Hero</th>
						<th class="self_table_atk_row">Attack</th>
						<th class="self_table_hp_row">Hp</th>
						<th>Show</th>
					</tr>
				</thead>
				<tbody>
					{% for l in listALL %}
					<tr id="{{ l.ingame_name }}">
						<td>{{ l.ingame_name }}</td>
						<td class="hero_row">{{ l.choosen_hero }}</td>
						<td class="table_atk_row">{{ l.global_atk_save }}</td>
						<td class="table_hp_row">{{ l.global_hp_save }}</td>
						<td><a href='/calculator/show/{{ l.public_id }}/'><button class="btn-table">Show</button></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="pagination"></div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	const self_inline_div_traveling = document.getElementById('Stats-sidebar-image')
	self_inline_div_traveling.classList.add('bg-traveling') 
</script>
<script>
	const table = document.querySelector("#index-table tbody");
	const rows = table.rows;
	const rowsPerPage = 18;
	const numPages = Math.ceil(rows.length / rowsPerPage);
	const pagination = document.querySelector("#pagination");
	let currentPage = 0;

	function showPage(pageNum) {
		for (let i = 0; i < rows.length; i++) {
			rows[i].style.display = "none";
		}
		for (let i = pageNum * rowsPerPage; i < (pageNum + 1) * rowsPerPage; i++) {
			if (i < rows.length) {
				rows[i].style.display = "table-row";
			}
		}
	}

	function generatePaginationButtons() {
		const start = Math.max(currentPage - 1, 0);
		const end = Math.min(start + 3, numPages);
		pagination.innerHTML = "";
		for (let i = start; i < end; i++) {
			const pageButton = document.createElement("button");
			pageButton.textContent = i + 1;
			if (i === currentPage) {
				pageButton.classList.add("active");
			}
			pageButton.addEventListener("click", function () {
				currentPage = i;
				showPage(currentPage);
				generatePaginationButtons();
			});
			pagination.appendChild(pageButton);
		}
	}

	showPage(currentPage);
	generatePaginationButtons();
	let table_offsetHeight = document.querySelector(".table-responsive").offsetHeight
	document.querySelector(".table-responsive").style.minHeight = `${table_offsetHeight}px`
</script>
{% endblock %}